force-app/main/default/flows/AccountAfterSave.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>TipoRegistro</name>
        <label>Tipo de Registro?</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Parceiro</defaultConnectorLabel>
        <rules>
            <name>TipoRegistroCliente</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordType_Cliente</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CriarContato</targetReference>
            </connector>
            <label>Cliente</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>FirstName</name>
        <dataType>String</dataType>
        <expression>LEFT(LEFT({!$Record.Name}, FIND(&quot; &quot;, {!$Record.Name}) - 1), 40)</expression>
    </formulas>
    <formulas>
        <name>LastName</name>
        <dataType>String</dataType>
        <expression>LEFT(MID({!$Record.Name}, FIND(&quot; &quot;, {!$Record.Name}) + 1, LEN({!$Record.Name}) - FIND(&quot; &quot;, {!$Record.Name})), 80)</expression>
    </formulas>
    <formulas>
        <name>RecordType_Cliente</name>
        <dataType>Boolean</dataType>
        <expression>OR (
   REGEX( {!$Record.RecordType.DeveloperName} , &quot;ClientePessoaFisica&quot;),
   REGEX( {!$Record.RecordType.DeveloperName} , &quot;ClientePessoaJuridica&quot;) 
)</expression>
    </formulas>
    <interviewLabel>Account - Before Save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account - After Save</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CriarContato</name>
        <label>Criar contato</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Email__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>$Record.Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>$Record.Phone</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
        <operationMultMatchingRecords>None</operationMultMatchingRecords>
        <operationOneMatchingRecord>None</operationOneMatchingRecord>
        <operationZeroMatchingRecords>AddRecord</operationZeroMatchingRecords>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>TipoRegistro</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
