force-app/main/default/flows/AgentForce_Update_Lead_by_Lead_Interaction.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Copy_1_of_set_value</name>
        <label>Copy 1 of set value</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Get_Lead.City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Cidade__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateEstado2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Copy_4_of_set_value</name>
        <label>Copy 2 of Copy 4 of set value</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Get_Lead.TipoDeImovel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.TipoImovel__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Atualizar_registros_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_set_value</name>
        <label>Copy 2 of set value</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Get_Lead.State</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Estado__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_ResumoInteracao2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_3_of_set_value</name>
        <label>Copy 3 of set value</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Get_Lead.Lb065_HistoricoLead__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ResumoInteracao__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Lead.ResumoInteracao__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ResumoInteracao__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_Produtinteresse</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_4_of_set_value</name>
        <label>Copy 4 of set value</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Get_Lead.Lb065_ProdutoInteresse__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Produtinteresse__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_Tipo_Imovel</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_5_of_set_value</name>
        <label>Copy 5 of set value</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Get_Lead.Lab065_IntegracaoDistribuicaoLead__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_cidade</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_value</name>
        <label>set value</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Get_Lead.City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Cidade__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_ValorConta_c</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>has_lead</name>
        <label>has lead</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Lead__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Lead</targetReference>
            </connector>
            <label>true</label>
        </rules>
    </decisions>
    <decisions>
        <name>update_cidade</name>
        <label>update cidade</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>update_ValorConta_c</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>updateValue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Cidade__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_value</targetReference>
            </connector>
            <label>update cidade</label>
        </rules>
    </decisions>
    <decisions>
        <name>update_Produtinteresse</name>
        <label>update Produtinteresse</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>update_Tipo_Imovel</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>update_Produtinteresse_c</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Produtinteresse__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_4_of_set_value</targetReference>
            </connector>
            <label>update Produtinteresse__c</label>
        </rules>
    </decisions>
    <decisions>
        <name>update_ResumoInteracao2</name>
        <label>update ResumoInteracao</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>update_Produtinteresse</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>updateResumoInteracao</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ResumoInteracao__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_set_value</targetReference>
            </connector>
            <label>update ResumoInteracao__c</label>
        </rules>
    </decisions>
    <decisions>
        <name>update_Tipo_Imovel</name>
        <label>update Tipo Imovel</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Atualizar_registros_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>update_ResumoInteracao_c</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TipoImovel__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Copy_4_of_set_value</targetReference>
            </connector>
            <label>update ResumoInteracao__c</label>
        </rules>
    </decisions>
    <decisions>
        <name>update_ValorConta_c</name>
        <label>update ValorConta__c</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>updateEstado2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_ValorConta</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ValorConta__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_set_value</targetReference>
            </connector>
            <label>Update ValorConta</label>
        </rules>
    </decisions>
    <decisions>
        <name>updateEstado2</name>
        <label>update Estado__c</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>update_ResumoInteracao2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>UpdateEstado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Estado__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_set_value</targetReference>
            </connector>
            <label>Update Estado</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>[AgentForce] - Update Lead by Lead Interaction {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[AgentForce] - Update Lead by Lead Interaction</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Lead</name>
        <label>Get Lead</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_5_of_set_value</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Lead__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Atualizar_registros_1</name>
        <label>Atualizar registros 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>Get_Lead</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>has_lead</targetReference>
        </connector>
        <filterFormula>OR(ISNEW(),ISCHANGED({!$Record.Lead__c}))</filterFormula>
        <object>LeadInteraction__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
