force-app/main/default/flows/AgenteforceObterUltimaConversa.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>A_o_Detect_Remarketing_in_Conversation_1</name>
        <label>Ação Detect Remarketing in Conversation 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>RemarketingRouter</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>get_lead_interaction</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>deixar_varmessages_vazio</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>conversationIdentifier</name>
            <value>
                <elementReference>get_message_session.Conversation.ConversationIdentifier</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>messageLimit</name>
            <value>
                <numberValue>50.0</numberValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderFilter</name>
            <value>
                <stringValue>all</stringValue>
            </value>
        </inputParameters>
        <nameSegment>RemarketingRouter</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>varmessages</assignToReference>
            <name>messagesString</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>deixar_varmessages_vazio</name>
        <label>deixar {!varmessages} vazio</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varmessages</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>if_get_lead_interaction_null</name>
        <label>if get lead interaction null</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_lead_interaction.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>deixar_varmessages_vazio</targetReference>
            </connector>
            <label>true</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>[Agenteforce ] - Obter ultima conversa {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Agenteforce ] - Obter ultima conversa</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_lead_interaction</name>
        <label>get lead interaction</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>if_get_lead_interaction_null</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>deixar_varmessages_vazio</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MessagingSession__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_message_session.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LeadInteraction__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_message_session</name>
        <label>get message session</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>A_o_Detect_Remarketing_in_Conversation_1</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>deixar_varmessages_vazio</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>messagingSessionId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MessagingSession</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_message_session</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>HadInteraction</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>intearction</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LeadInteraction__c</objectType>
    </variables>
    <variables>
        <name>messagingSessionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varmessages</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
