force-app/main/default/flows/AtualizaCampoNumeroIdentificacaoConsultor.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>AtualizaValordoCampo</name>
        <label>AtualizaValordoCampo</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>$Record.NumeroIdentificacao__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SeCPFouCNPJ__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AtualizaRegistroInicial</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Condicao</name>
        <label>Condição</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>nulo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.NumeroIdentificacao__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AtualizaValordoCampo</targetReference>
            </connector>
            <label>É nulo</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>AtualizaCampoNumeroIdentificaçãoConsultor {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AtualizaNumeroIdentificaçãoConsultor</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>AtualizaRegistroInicial</name>
        <label>AtualizaRegistroInicial</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Condicao</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Consultor__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
