force-app/main/default/flows/AtualizaNumeroIndentificadorConta.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>AtribuirValorAoCampo</name>
        <label>AtribuirValorAoCampo</label>
        <locationX>495</locationX>
        <locationY>596</locationY>
        <assignmentItems>
            <assignToReference>$Record.NumeroIdentificacao__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SeCPFouCNPJ__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AtualizaRegistroAcionador</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>condicao</name>
        <label>condição</label>
        <locationX>491</locationX>
        <locationY>410</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>nulo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.NumeroIdentificacao__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AtribuirValorAoCampo</targetReference>
            </connector>
            <label>É nulo</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>AtualizaNumeroIndentificadorConta {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AtualizaNumeroIndentificadorConta</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>AtualizaRegistroAcionador</name>
        <label>AtualizaRegistroAcionador</label>
        <locationX>681</locationX>
        <locationY>473</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>373</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>condicao</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
