force-app/main/default/flows/Atualiza_Percentual_de_Conclusao.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>C_pia_1_de_Contador3</name>
        <label>Contador</label>
        <locationX>50</locationX>
        <locationY>1463</locationY>
        <assignmentItems>
            <assignToReference>Contador</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>10.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Conexoes_CC_Preenchido</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Contador1</name>
        <label>Contador</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>Contador</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>10.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Instalacao_de_Estrutura_de_Fixacao_Preenchido</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Contador2</name>
        <label>Contador</label>
        <locationX>50</locationX>
        <locationY>791</locationY>
        <assignmentItems>
            <assignToReference>Contador</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>10.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Montagem_de_Modulos_Preenchido</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Contador3</name>
        <label>Contador</label>
        <locationX>50</locationX>
        <locationY>1127</locationY>
        <assignmentItems>
            <assignToReference>Contador</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>10.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Execucao_de_Aterramento_Preenchido</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Contador4</name>
        <label>Contador</label>
        <locationX>50</locationX>
        <locationY>1799</locationY>
        <assignmentItems>
            <assignToReference>Contador</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>10.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Montagem_dos_Inversores_Preenchido</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Contador5</name>
        <label>Contador</label>
        <locationX>50</locationX>
        <locationY>2135</locationY>
        <assignmentItems>
            <assignToReference>Contador</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>10.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CConexoes_CA_Preenchido</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Contador6</name>
        <label>Contador</label>
        <locationX>50</locationX>
        <locationY>2471</locationY>
        <assignmentItems>
            <assignToReference>Contador</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>10.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Acabamentos_Preenchido</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Contador7</name>
        <label>Contador</label>
        <locationX>50</locationX>
        <locationY>2807</locationY>
        <assignmentItems>
            <assignToReference>Contador</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>10.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Comissionamento_Preenchido</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Contador8</name>
        <label>Contador</label>
        <locationX>50</locationX>
        <locationY>3143</locationY>
        <assignmentItems>
            <assignToReference>Contador</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>10.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Relatorio_de_Conclusao_de_Obra_Preenchido</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Contador9</name>
        <label>Contador</label>
        <locationX>50</locationX>
        <locationY>3479</locationY>
        <assignmentItems>
            <assignToReference>Contador</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>10.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Atualiza_Valores_Percentuais</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Acabamentos_Preenchido</name>
        <label>Acabamentos	Preenchido?</label>
        <locationX>182</locationX>
        <locationY>2687</locationY>
        <defaultConnector>
            <targetReference>Comissionamento_Preenchido</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>Sim7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Acabamentos_new__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Concluído</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Instalacao</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contador7</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>CConexoes_CA_Preenchido</name>
        <label>CConexões CA	Preenchido?</label>
        <locationX>182</locationX>
        <locationY>2351</locationY>
        <defaultConnector>
            <targetReference>Acabamentos_Preenchido</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>Sim6</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Conexoes_CA_new__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Concluído</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Instalacao</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contador6</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>Comissionamento_Preenchido</name>
        <label>Comissionamento Preenchido?</label>
        <locationX>182</locationX>
        <locationY>3023</locationY>
        <defaultConnector>
            <targetReference>Relatorio_de_Conclusao_de_Obra_Preenchido</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>Sim8</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Comissionamento_new__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Concluído</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Instalacao</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contador8</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>Conexoes_CC_Preenchido</name>
        <label>Conexões CC Preenchido?</label>
        <locationX>182</locationX>
        <locationY>1679</locationY>
        <defaultConnector>
            <targetReference>Montagem_dos_Inversores_Preenchido</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>Sim4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Conexoes_CC_new__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Concluído</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Instalacao</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contador4</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contador_igual_100</name>
        <label>Contador igual 100?</label>
        <locationX>182</locationX>
        <locationY>3815</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Sim10</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Contador</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>100.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Atualiza_Status_Projeto</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>Execucao_de_Aterramento_Preenchido</name>
        <label>Execução de Aterramento Preenchido?</label>
        <locationX>182</locationX>
        <locationY>1343</locationY>
        <defaultConnector>
            <targetReference>Conexoes_CC_Preenchido</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>Sim3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Execucao_de_Aterramento_new__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Concluído</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Instalacao</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>C_pia_1_de_Contador3</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>Instalacao_de_Estrutura_de_Fixacao_Preenchido</name>
        <label>Instalação de Estrutura de Fixação Preenchido?</label>
        <locationX>182</locationX>
        <locationY>671</locationY>
        <defaultConnector>
            <targetReference>Montagem_de_Modulos_Preenchido</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>Sim1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Instalacao_de_Estrutura_de_Fixacao_new__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Concluído</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Instalacao</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contador2</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>Mobilizacao_Conferencia_de_Materiais_Preenchido</name>
        <label>Mobilização/Conferência de Materiais Preenchido?</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Instalacao_de_Estrutura_de_Fixacao_Preenchido</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>Sim</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Mobilizacao_Conferencia_de_Materiais_new__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Concluído</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Instalacao</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contador1</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>Montagem_de_Modulos_Preenchido</name>
        <label>Montagem de Módulos Preenchido?</label>
        <locationX>182</locationX>
        <locationY>1007</locationY>
        <defaultConnector>
            <targetReference>Execucao_de_Aterramento_Preenchido</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>Sim2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Montagem_de_Modulos_new__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Concluído</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Instalacao</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contador3</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>Montagem_dos_Inversores_Preenchido</name>
        <label>Montagem dos Inversores Preenchido?</label>
        <locationX>182</locationX>
        <locationY>2015</locationY>
        <defaultConnector>
            <targetReference>CConexoes_CA_Preenchido</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>Sim5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Montagem_dos_Inversores_new__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Concluído</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Instalacao</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contador5</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>Relatorio_de_Conclusao_de_Obra_Preenchido</name>
        <label>Relatório de Conclusão de Obra Preenchido?</label>
        <locationX>182</locationX>
        <locationY>3359</locationY>
        <defaultConnector>
            <targetReference>Atualiza_Valores_Percentuais</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>Sim9</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Relatorio_de_Conclusao_de_Obra_new__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Concluído</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Instalacao</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contador9</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Atualiza Percentual {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Atualiza Percentual de Conclusão</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Atualiza_Status_Projeto</name>
        <label>Atualiza Status Projeto</label>
        <locationX>50</locationX>
        <locationY>3935</locationY>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Obra concluída</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Projeto__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Atualiza_Valores_Percentuais</name>
        <label>Atualiza Valores Percentuais</label>
        <locationX>182</locationX>
        <locationY>3695</locationY>
        <connector>
            <targetReference>Contador_igual_100</targetReference>
        </connector>
        <inputAssignments>
            <field>Percentual_de_conclusao_da_Instalacao__c</field>
            <value>
                <elementReference>Contador</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Projeto__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Mobilizacao_Conferencia_de_Materiais_Preenchido</targetReference>
        </connector>
        <filterLogic>(1 OR 2 OR 3 OR 4 OR 5 OR 6 OR 7 OR 8 OR 9 OR 10)</filterLogic>
        <filters>
            <field>Mobilizacao_Conferencia_de_Materiais_new__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Instalacao_de_Estrutura_de_Fixacao_new__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Montagem_de_Modulos_new__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Execucao_de_Aterramento_new__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Conexoes_CC_new__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Conexoes_CA_new__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Montagem_dos_Inversores_new__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Acabamentos_new__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Comissionamento_new__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Relatorio_de_Conclusao_de_Obra_new__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>WorkOrder</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>Contador</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
