force-app/main/default/flows/Atualiza_Tipo_de_Registro.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Tipo_do_Caso</name>
        <label>Tipo do Caso</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Gest_o_de_Faturas_e_Concessionarias</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Gestão de faturas e concessionárias</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Obt_m_RecordType_Gest_o_de_Faturas</targetReference>
            </connector>
            <label>Gestão de Faturas e Concessionarias ?</label>
        </rules>
        <rules>
            <name>Manuten_o_e_Garantias</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Manutenções e Garantias</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Obt_m_RecordType_Manuten_es_e_garantias</targetReference>
            </connector>
            <label>Manutenção e Garantias ?</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Atualiza Tipo de Registro {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Atualiza Tipo de Registro</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Obt_m_RecordType_Gest_o_de_Faturas</name>
        <label>Obtém RecordType Gestão de Faturas</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Atualizar_registros_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Assistencia_Tecnica_Gestao_de_Faturas_e_Concessionarias</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obt_m_RecordType_Manuten_es_e_garantias</name>
        <label>Obtém RecordType Manutenções e garantias</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Atualiza_Tipo_de_Registro_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Assistencia_Tecnica_Manutencao_Garantia</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Atualiza_Tipo_de_Registro_2</name>
        <label>Atualiza Tipo de Registro</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Obt_m_RecordType_Manuten_es_e_garantias.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Atualizar_registros_2</name>
        <label>Atualiza Tipo de Registro</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Obt_m_RecordType_Gest_o_de_Faturas.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Tipo_do_Caso</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Type</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Subtipo_de_caso__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
