force-app/main/default/flows/Batch_Task_Project_Journey.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Enviar_notifica_o_de_informacoes_iniciais</name>
        <label>Enviar notificação de Informações iniciais</label>
        <locationX>314</locationX>
        <locationY>1824</locationY>
        <actionName>sendConversationMessages</actionName>
        <actionType>sendConversationMessages</actionType>
        <connector>
            <targetReference>Atribuir_valores_para_nova_Task</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>messageDefinitionName</name>
            <value>
                <stringValue>Jornada_do_Cliente_Informa_es_Iniciais</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>messagingDefinitionInputParameters</name>
            <value>
                <apexValue>[
  {
    &quot;name&quot;: &quot;oppName&quot;,
    &quot;textValue&quot;: &quot;{!oppName}&quot;
  },
  {
    &quot;name&quot;: &quot;customerName&quot;,
    &quot;textValue&quot;: &quot;{!customerName}&quot;
  },
  {
    &quot;name&quot;: &quot;ManagerName&quot;,
    &quot;textValue&quot;: &quot;{!managerName}&quot;
  }
]</apexValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>requestType</name>
            <value>
                <stringValue>SendNotificationMessages</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isEnforceMessagingChannelConsent</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>channelConsentType</name>
            <value>
                <stringValue>MessagingEndUser</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>allowedSessionStatus</name>
            <value>
                <stringValue>Any</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>messagingEndUserIds</name>
            <value>
                <elementReference>messagingUserIds</elementReference>
            </value>
        </inputParameters>
        <nameSegment>sendConversationMessages</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Enviar_notifica_o_de_Instala_o_vistoria_importante</name>
        <label>Enviar notificação de Instalação vistoria importante</label>
        <locationX>1634</locationX>
        <locationY>1932</locationY>
        <actionName>sendConversationMessages</actionName>
        <actionType>sendConversationMessages</actionType>
        <connector>
            <targetReference>Atribuir_valores_para_nova_Task</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>messageDefinitionName</name>
            <value>
                <stringValue>Jornada_do_Cliente_Instala_o_Vistoria_Importante</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>messagingDefinitionInputParameters</name>
            <value>
                <apexValue>[
  {
    &quot;name&quot;: &quot;managerName&quot;,
    &quot;textValue&quot;: &quot;{!managerName}&quot;
  }
]</apexValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>requestType</name>
            <value>
                <stringValue>SendNotificationMessages</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isEnforceMessagingChannelConsent</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>channelConsentType</name>
            <value>
                <stringValue>MessagingEndUser</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>allowedSessionStatus</name>
            <value>
                <stringValue>Any</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>messagingEndUserIds</name>
            <value>
                <elementReference>messagingUserIds</elementReference>
            </value>
        </inputParameters>
        <nameSegment>sendConversationMessages</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Enviar_notifica_o_de_Instalacao_vistoria</name>
        <label>Enviar notificação de Instalação vistoria</label>
        <locationX>1634</locationX>
        <locationY>1824</locationY>
        <actionName>sendConversationMessages</actionName>
        <actionType>sendConversationMessages</actionType>
        <connector>
            <targetReference>Enviar_notifica_o_de_Instala_o_vistoria_importante</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>messageDefinitionName</name>
            <value>
                <stringValue>Jornada_do_Cliente_Instala_o_Vistoria</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>messagingDefinitionInputParameters</name>
            <value>
                <apexValue>[
  {
    &quot;name&quot;: &quot;managerName&quot;,
    &quot;textValue&quot;: &quot;{!managerName}&quot;
  },
  {
    &quot;name&quot;: &quot;oppName&quot;,
    &quot;textValue&quot;: &quot;{!oppName}&quot;
  },
  {
    &quot;name&quot;: &quot;inspectionDate&quot;,
    &quot;dateTimeValue&quot;: &quot;{!inspectionDate}&quot;
  },
  {
    &quot;name&quot;: &quot;customerName&quot;,
    &quot;textValue&quot;: &quot;{!customerName}&quot;
  }
]</apexValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>requestType</name>
            <value>
                <stringValue>SendNotificationMessages</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isEnforceMessagingChannelConsent</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>channelConsentType</name>
            <value>
                <stringValue>MessagingEndUser</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>allowedSessionStatus</name>
            <value>
                <stringValue>Any</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>messagingEndUserIds</name>
            <value>
                <elementReference>messagingUserIds</elementReference>
            </value>
        </inputParameters>
        <nameSegment>sendConversationMessages</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Enviar_notifica_o_de_liga_o_conclu_da_consultor</name>
        <label>Enviar notificação de ligação concluída Consultor</label>
        <locationX>1898</locationX>
        <locationY>1932</locationY>
        <actionName>sendConversationMessages</actionName>
        <actionType>sendConversationMessages</actionType>
        <connector>
            <targetReference>Atribuir_valores_para_nova_Task</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>messageDefinitionName</name>
            <value>
                <stringValue>Jornada_do_Cliente_Liga_o_Conclu_da_Consultor</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>messagingDefinitionInputParameters</name>
            <value>
                <apexValue>[
  {
    &quot;name&quot;: &quot;oppName&quot;,
    &quot;textValue&quot;: &quot;{!oppName}&quot;
  },
  {
    &quot;name&quot;: &quot;managerName&quot;,
    &quot;textValue&quot;: &quot;{!managerName}&quot;
  },
  {
    &quot;name&quot;: &quot;customerName&quot;,
    &quot;textValue&quot;: &quot;{!customerName}&quot;
  }
]</apexValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>requestType</name>
            <value>
                <stringValue>SendNotificationMessages</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isEnforceMessagingChannelConsent</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>channelConsentType</name>
            <value>
                <stringValue>MessagingEndUser</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>allowedSessionStatus</name>
            <value>
                <stringValue>Any</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>messagingEndUserIds</name>
            <value>
                <elementReference>messagingUserIdsConsultant</elementReference>
            </value>
        </inputParameters>
        <nameSegment>sendConversationMessages</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Enviar_notifica_o_de_liga_o_concluida</name>
        <label>Enviar notificação de ligação concluida</label>
        <locationX>1898</locationX>
        <locationY>1824</locationY>
        <actionName>sendConversationMessages</actionName>
        <actionType>sendConversationMessages</actionType>
        <connector>
            <targetReference>Enviar_notifica_o_de_liga_o_conclu_da_consultor</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>messageDefinitionName</name>
            <value>
                <stringValue>Jornada_do_Cliente_Liga_o_Conclu_da</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>messagingDefinitionInputParameters</name>
            <value>
                <apexValue>[
  {
    &quot;name&quot;: &quot;managerName&quot;,
    &quot;textValue&quot;: &quot;{!managerName}&quot;
  },
  {
    &quot;name&quot;: &quot;oppName&quot;,
    &quot;textValue&quot;: &quot;{!oppName}&quot;
  },
  {
    &quot;name&quot;: &quot;customerName&quot;,
    &quot;textValue&quot;: &quot;{!customerName}&quot;
  }
]</apexValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>requestType</name>
            <value>
                <stringValue>SendNotificationMessages</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isEnforceMessagingChannelConsent</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>channelConsentType</name>
            <value>
                <stringValue>MessagingEndUser</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>allowedSessionStatus</name>
            <value>
                <stringValue>Any</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>messagingEndUserIds</name>
            <value>
                <elementReference>messagingUserIds</elementReference>
            </value>
        </inputParameters>
        <nameSegment>sendConversationMessages</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Enviar_notifica_o_de_Onboarding_Consultor</name>
        <label>Enviar notificação de Onboarding Consultor</label>
        <locationX>50</locationX>
        <locationY>1824</locationY>
        <actionName>sendConversationMessages</actionName>
        <actionType>sendConversationMessages</actionType>
        <connector>
            <targetReference>Atribuir_valores_para_nova_Task</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>messageDefinitionName</name>
            <value>
                <stringValue>Jornada_do_Cliente_Onboarding_Consultor</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>messagingDefinitionInputParameters</name>
            <value>
                <apexValue>[
  {
    &quot;name&quot;: &quot;customerName&quot;,
    &quot;textValue&quot;: &quot;{!customerName}&quot;
  },
  {
    &quot;name&quot;: &quot;oppName&quot;,
    &quot;textValue&quot;: &quot;{!oppName}&quot;
  },
  {
    &quot;name&quot;: &quot;agentName&quot;,
    &quot;textValue&quot;: &quot;{!agentName}&quot;
  }
]</apexValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>requestType</name>
            <value>
                <stringValue>SendNotificationMessages</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isEnforceMessagingChannelConsent</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>channelConsentType</name>
            <value>
                <stringValue>MessagingEndUser</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>allowedSessionStatus</name>
            <value>
                <stringValue>Any</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>messagingEndUserIds</name>
            <value>
                <elementReference>messagingUserIdsConsultant</elementReference>
            </value>
        </inputParameters>
        <nameSegment>sendConversationMessages</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Enviar_notifica_o_de_projeto_aprovado</name>
        <label>Enviar notificação de projeto aprovado</label>
        <locationX>578</locationX>
        <locationY>1824</locationY>
        <actionName>sendConversationMessages</actionName>
        <actionType>sendConversationMessages</actionType>
        <connector>
            <targetReference>Enviar_notifica_o_de_projeto_aprovado_Consultor</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>messageDefinitionName</name>
            <value>
                <stringValue>Jornada_do_Cliente_Projeto_Aprovado</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>messagingDefinitionInputParameters</name>
            <value>
                <apexValue>[
  {
    &quot;name&quot;: &quot;oppName&quot;,
    &quot;textValue&quot;: &quot;{!oppName}&quot;
  },
  {
    &quot;name&quot;: &quot;agentName&quot;,
    &quot;textValue&quot;: &quot;{!managerName}&quot;
  },
  {
    &quot;name&quot;: &quot;customerName&quot;,
    &quot;textValue&quot;: &quot;{!customerName}&quot;
  }
]</apexValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>requestType</name>
            <value>
                <stringValue>SendNotificationMessages</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isEnforceMessagingChannelConsent</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>channelConsentType</name>
            <value>
                <stringValue>MessagingEndUser</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>allowedSessionStatus</name>
            <value>
                <stringValue>Any</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>messagingEndUserIds</name>
            <value>
                <elementReference>messagingUserIds</elementReference>
            </value>
        </inputParameters>
        <nameSegment>sendConversationMessages</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Enviar_notifica_o_de_projeto_aprovado_Consultor</name>
        <label>Enviar notificação de projeto aprovado Consultor</label>
        <locationX>578</locationX>
        <locationY>1932</locationY>
        <actionName>sendConversationMessages</actionName>
        <actionType>sendConversationMessages</actionType>
        <connector>
            <targetReference>Atribuir_valores_para_nova_Task</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>messageDefinitionName</name>
            <value>
                <stringValue>Jornada_do_Cliente_Projeto_Aprovado_Consultor</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>messagingDefinitionInputParameters</name>
            <value>
                <apexValue>[
  {
    &quot;name&quot;: &quot;customerName&quot;,
    &quot;textValue&quot;: &quot;{!customerName}&quot;
  },
  {
    &quot;name&quot;: &quot;oppName&quot;,
    &quot;textValue&quot;: &quot;{!oppName}&quot;
  },
  {
    &quot;name&quot;: &quot;agentName&quot;,
    &quot;textValue&quot;: &quot;{!managerName}&quot;
  }
]</apexValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>requestType</name>
            <value>
                <stringValue>SendNotificationMessages</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isEnforceMessagingChannelConsent</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>channelConsentType</name>
            <value>
                <stringValue>MessagingEndUser</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>allowedSessionStatus</name>
            <value>
                <stringValue>Any</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>messagingEndUserIds</name>
            <value>
                <elementReference>messagingUserIdsConsultant</elementReference>
            </value>
        </inputParameters>
        <nameSegment>sendConversationMessages</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Enviar_notifica_o_de_start</name>
        <label>Enviar notificação de start</label>
        <locationX>2162</locationX>
        <locationY>1824</locationY>
        <actionName>sendConversationMessages</actionName>
        <actionType>sendConversationMessages</actionType>
        <connector>
            <targetReference>Enviar_notifica_o_de_start_importante</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>messageDefinitionName</name>
            <value>
                <stringValue>Jornada_do_Cliente_Start</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>messagingDefinitionInputParameters</name>
            <value>
                <apexValue>[
  {
    &quot;name&quot;: &quot;customerName&quot;,
    &quot;textValue&quot;: &quot;{!customerName}&quot;
  },
  {
    &quot;name&quot;: &quot;oppName&quot;,
    &quot;textValue&quot;: &quot;{!oppName}&quot;
  }
]</apexValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>requestType</name>
            <value>
                <stringValue>SendNotificationMessages</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isEnforceMessagingChannelConsent</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>channelConsentType</name>
            <value>
                <stringValue>MessagingEndUser</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>allowedSessionStatus</name>
            <value>
                <stringValue>Any</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>messagingEndUserIds</name>
            <value>
                <elementReference>messagingUserIds</elementReference>
            </value>
        </inputParameters>
        <nameSegment>sendConversationMessages</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Enviar_notifica_o_de_start_importante</name>
        <label>Enviar notificação de start importante</label>
        <locationX>2162</locationX>
        <locationY>1932</locationY>
        <actionName>sendConversationMessages</actionName>
        <actionType>sendConversationMessages</actionType>
        <connector>
            <targetReference>Atribuir_valores_para_nova_Task</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>messageDefinitionName</name>
            <value>
                <stringValue>Jornada_do_Cliente_Start_2</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>messagingDefinitionInputParameters</name>
            <value>
                <apexValue>[
  {
    &quot;name&quot;: &quot;password&quot;,
    &quot;textValue&quot;: &quot;{!password}&quot;
  },
  {
    &quot;name&quot;: &quot;login&quot;,
    &quot;textValue&quot;: &quot;{!login}&quot;
  }
]</apexValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>requestType</name>
            <value>
                <stringValue>SendNotificationMessages</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isEnforceMessagingChannelConsent</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>channelConsentType</name>
            <value>
                <stringValue>MessagingEndUser</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>allowedSessionStatus</name>
            <value>
                <stringValue>Any</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>messagingEndUserIds</name>
            <value>
                <elementReference>messagingUserIds</elementReference>
            </value>
        </inputParameters>
        <nameSegment>sendConversationMessages</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Enviar_notifica_o_Instala_o_materiais</name>
        <label>Enviar notificação Instalação materiais</label>
        <locationX>842</locationX>
        <locationY>1824</locationY>
        <actionName>sendConversationMessages</actionName>
        <actionType>sendConversationMessages</actionType>
        <connector>
            <targetReference>Atribuir_valores_para_nova_Task</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>messageDefinitionName</name>
            <value>
                <stringValue>Jornada_do_Cliente_Instala_o_Materiais</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>messagingDefinitionInputParameters</name>
            <value>
                <apexValue>[
  {
    &quot;name&quot;: &quot;oppName&quot;,
    &quot;textValue&quot;: &quot;{!oppName}&quot;
  },
  {
    &quot;name&quot;: &quot;dateAdditionalMaterial&quot;,
    &quot;textValue&quot;: &quot;{!dateAdditionalMaterialFormatedStr}&quot;
  },
  {
    &quot;name&quot;: &quot;customerName&quot;,
    &quot;textValue&quot;: &quot;{!customerName}&quot;
  }
]</apexValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>requestType</name>
            <value>
                <stringValue>SendNotificationMessages</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isEnforceMessagingChannelConsent</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>channelConsentType</name>
            <value>
                <stringValue>MessagingEndUser</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>allowedSessionStatus</name>
            <value>
                <stringValue>Any</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>messagingEndUserIds</name>
            <value>
                <elementReference>messagingUserIds</elementReference>
            </value>
        </inputParameters>
        <nameSegment>sendConversationMessages</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Enviar_notifica_o_instala_o_materiais_WEG</name>
        <label>Enviar notificação instalação materiais WEG</label>
        <locationX>1106</locationX>
        <locationY>1824</locationY>
        <actionName>sendConversationMessages</actionName>
        <actionType>sendConversationMessages</actionType>
        <connector>
            <targetReference>Atribuir_valores_para_nova_Task</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>messageDefinitionName</name>
            <value>
                <stringValue>Jornada_do_Cliente_Entrega_do_Kit_WEG</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>messagingDefinitionInputParameters</name>
            <value>
                <apexValue>[
  {
    &quot;name&quot;: &quot;oppName&quot;,
    &quot;textValue&quot;: &quot;{!oppName}&quot;
  },
  {
    &quot;name&quot;: &quot;customerName&quot;,
    &quot;textValue&quot;: &quot;{!customerName}&quot;
  },
  {
    &quot;name&quot;: &quot;estimatedDate&quot;,
    &quot;textValue&quot;: &quot;{!dateWegMaterialFormated}&quot;
  }
]</apexValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>requestType</name>
            <value>
                <stringValue>SendNotificationMessages</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isEnforceMessagingChannelConsent</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>channelConsentType</name>
            <value>
                <stringValue>MessagingEndUser</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>allowedSessionStatus</name>
            <value>
                <stringValue>Any</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>messagingEndUserIds</name>
            <value>
                <elementReference>messagingUserIds</elementReference>
            </value>
        </inputParameters>
        <nameSegment>sendConversationMessages</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Enviar_notifica_o_Instalacao_Montagem</name>
        <label>Enviar notificação Instalação Montagem</label>
        <locationX>1370</locationX>
        <locationY>1824</locationY>
        <actionName>sendConversationMessages</actionName>
        <actionType>sendConversationMessages</actionType>
        <connector>
            <targetReference>Atribuir_valores_para_nova_Task</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>messageDefinitionName</name>
            <value>
                <stringValue>Jornada_do_Cliente_Instala_o_Montagem</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>messagingDefinitionInputParameters</name>
            <value>
                <apexValue>[
  {
    &quot;name&quot;: &quot;installDate&quot;,
    &quot;dateTimeValue&quot;: &quot;{!installDate}&quot;
  },
  {
    &quot;name&quot;: &quot;customerName&quot;,
    &quot;textValue&quot;: &quot;{!customerName}&quot;
  },
  {
    &quot;name&quot;: &quot;oppName&quot;,
    &quot;textValue&quot;: &quot;{!oppName}&quot;
  }
]</apexValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>requestType</name>
            <value>
                <stringValue>SendNotificationMessages</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isEnforceMessagingChannelConsent</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>channelConsentType</name>
            <value>
                <stringValue>MessagingEndUser</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>allowedSessionStatus</name>
            <value>
                <stringValue>Any</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>messagingEndUserIds</name>
            <value>
                <elementReference>messagingUserIds</elementReference>
            </value>
        </inputParameters>
        <nameSegment>sendConversationMessages</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Enviar_notificacao_de_monitoramento</name>
        <label>Enviar notificação de monitoramento</label>
        <locationX>2426</locationX>
        <locationY>1716</locationY>
        <actionName>sendConversationMessages</actionName>
        <actionType>sendConversationMessages</actionType>
        <connector>
            <targetReference>Atribuir_valores_para_nova_Task</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>messageDefinitionName</name>
            <value>
                <stringValue>Jornada_do_Cliente_Monitoramento</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>messagingDefinitionInputParameters</name>
            <value>
                <apexValue>[
  {
    &quot;name&quot;: &quot;customerName&quot;,
    &quot;textValue&quot;: &quot;{!customerName}&quot;
  }
]</apexValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>requestType</name>
            <value>
                <stringValue>SendNotificationMessages</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isEnforceMessagingChannelConsent</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>channelConsentType</name>
            <value>
                <stringValue>MessagingEndUser</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>allowedSessionStatus</name>
            <value>
                <stringValue>Any</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>messagingEndUserIds</name>
            <value>
                <elementReference>messagingUserIds</elementReference>
            </value>
        </inputParameters>
        <nameSegment>sendConversationMessages</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Enviar_notificacao_de_Onboarding</name>
        <label>Enviar notificação de Onboarding</label>
        <locationX>50</locationX>
        <locationY>1716</locationY>
        <actionName>sendConversationMessages</actionName>
        <actionType>sendConversationMessages</actionType>
        <connector>
            <targetReference>Enviar_notifica_o_de_Onboarding_Consultor</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>messageDefinitionName</name>
            <value>
                <stringValue>Jornada_do_Cliente_Onboarding</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>messagingDefinitionInputParameters</name>
            <value>
                <apexValue>[
  {
    &quot;name&quot;: &quot;oppName&quot;,
    &quot;textValue&quot;: &quot;{!oppName}&quot;
  },
  {
    &quot;name&quot;: &quot;customerName&quot;,
    &quot;textValue&quot;: &quot;{!customerName}&quot;
  },
  {
    &quot;name&quot;: &quot;agentName&quot;,
    &quot;textValue&quot;: &quot;{!agentName}&quot;
  }
]</apexValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>requestType</name>
            <value>
                <stringValue>SendNotificationMessages</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isEnforceMessagingChannelConsent</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>channelConsentType</name>
            <value>
                <stringValue>MessagingEndUser</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>allowedSessionStatus</name>
            <value>
                <stringValue>Any</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>messagingEndUserIds</name>
            <value>
                <elementReference>messagingUserIds</elementReference>
            </value>
        </inputParameters>
        <nameSegment>sendConversationMessages</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Atribui_somente_cliente</name>
        <label>Atribui somente cliente</label>
        <locationX>908</locationX>
        <locationY>1224</locationY>
        <assignmentItems>
            <assignToReference>messagingUserIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Consultar_Messaging_User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>messagingUserId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Consultar_Messaging_User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Atribuir_valores_para_disparo_da_mensagem</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Atribuir_messagingUserId_criado</name>
        <label>Atribuir messagingUserId criado</label>
        <locationX>1436</locationX>
        <locationY>1224</locationY>
        <assignmentItems>
            <assignToReference>messagingUserIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>messagingUserId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>messagingUserIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Consultar_Messaging_User_Consultor.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Atribuir_valores_para_disparo_da_mensagem</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Atribuir_messagingUserId_Existente</name>
        <label>Atribuir messagingUserId Existente</label>
        <locationX>1172</locationX>
        <locationY>1224</locationY>
        <assignmentItems>
            <assignToReference>messagingUserIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Consultar_Messaging_User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>messagingUserIdsConsultant</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Consultar_Messaging_User_Consultor.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>messagingUserId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Consultar_Messaging_User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Atribuir_valores_para_disparo_da_mensagem</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Atribuir_valores_para_disparo_da_mensagem</name>
        <label>Atribuir valores para disparo da mensagem</label>
        <locationX>1370</locationX>
        <locationY>1500</locationY>
        <assignmentItems>
            <assignToReference>nextAction</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.NextNotification__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>customerName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Consultar_Cliente.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oppName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oppNameFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>agentName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>agentNameFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Tipo_de_task_para_disparo_da_notificacao</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Atribuir_valores_para_nova_Task</name>
        <label>Atribuir valores para nova Task</label>
        <locationX>1370</locationX>
        <locationY>2124</locationY>
        <assignmentItems>
            <assignToReference>nextStep</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>nextSubjectAndStatus</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nextNotification</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>nextNotificationText</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>managerName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Obter_Oportunidade.ConcessionariaEnergia__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Fechar_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Atribuir_variaveis_de_Info_Iniciais</name>
        <label>Atribuir variaveis de Info Iniciais</label>
        <locationX>314</locationX>
        <locationY>1716</locationY>
        <assignmentItems>
            <assignToReference>agentName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.NomeDoProprietario__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>managerName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Obter_Oportunidade.ConcessionariaEnergia__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>kwp</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.KWP__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Enviar_notifica_o_de_informacoes_iniciais</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Atribuir_variaveis_de_Instala_o_materiais</name>
        <label>Atribuir variaveis de Instalação materiais</label>
        <locationX>842</locationX>
        <locationY>1716</locationY>
        <assignmentItems>
            <assignToReference>dateAdditionalMaterialFormatedStr</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dateAdditionalMaterialFormated</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Enviar_notifica_o_Instala_o_materiais</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Atribuir_variaveis_de_Instala_o_materiaisWEG</name>
        <label>Atribuir variaveis de Instalação materiais WEG</label>
        <locationX>1106</locationX>
        <locationY>1716</locationY>
        <assignmentItems>
            <assignToReference>dateWegMaterialFormated</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dateWegFormated</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Enviar_notifica_o_instala_o_materiais_WEG</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Atribuir_variaveis_de_Instala_o_Montagem</name>
        <label>Atribuir variaveis de Instalação Montagem</label>
        <locationX>1370</locationX>
        <locationY>1716</locationY>
        <assignmentItems>
            <assignToReference>installDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.InstallDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>managerName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Obter_Oportunidade.ConcessionariaEnergia__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Enviar_notifica_o_Instalacao_Montagem</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Atribuir_variaveis_de_Instala_o_Vistoria</name>
        <label>Atribuir variaveis de Instalação Vistoria</label>
        <locationX>1634</locationX>
        <locationY>1716</locationY>
        <assignmentItems>
            <assignToReference>inspectionDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dateInspectionFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>managerName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Obter_Oportunidade.ConcessionariaEnergia__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Enviar_notifica_o_de_Instalacao_vistoria</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Atribuir_variaveis_de_Liga_o_Conclu_da</name>
        <label>Atribuir variaveis de Ligação Concluída</label>
        <locationX>1898</locationX>
        <locationY>1716</locationY>
        <assignmentItems>
            <assignToReference>managerName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ConcessionariaEnergia__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Enviar_notifica_o_de_liga_o_concluida</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Atribuir_variaveis_de_Projeto_Aprovado</name>
        <label>Atribuir variaveis de Projeto Aprovado</label>
        <locationX>578</locationX>
        <locationY>1716</locationY>
        <assignmentItems>
            <assignToReference>managerName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ConcessionariaEnergia__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Enviar_notifica_o_de_projeto_aprovado</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Atribuir_variaveis_de_Start</name>
        <label>Atribuir variaveis de Start</label>
        <locationX>2162</locationX>
        <locationY>1716</locationY>
        <assignmentItems>
            <assignToReference>login</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Login__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>password</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Password__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Enviar_notifica_o_de_start</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Criar_nova_task</name>
        <label>Criar nova task?</label>
        <locationX>1370</locationX>
        <locationY>2772</locationY>
        <defaultConnector>
            <targetReference>Criar_task_do_step_seguinte</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Create_Task</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>nextSubjectAndStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreateNewTaskAutomatically__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Nao</label>
        </rules>
    </decisions>
    <decisions>
        <name>Enviar_apenas_para_Cliente</name>
        <label>Enviar apenas para Cliente</label>
        <locationX>1040</locationX>
        <locationY>1116</locationY>
        <defaultConnector>
            <targetReference>Atribuir_messagingUserId_Existente</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>IsStart</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Start</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Atribui_somente_cliente</targetReference>
            </connector>
            <label>Start</label>
        </rules>
    </decisions>
    <decisions>
        <name>Task_de_Jornada_do_Cliente</name>
        <label>Task de Jornada do Cliente?</label>
        <locationX>2162</locationX>
        <locationY>252</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Sim</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Jornada do Projeto</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Consultar_Messaging_Channel</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tipo_de_task_para_disparo_da_notificacao</name>
        <label>Tipo de task para disparo da notificação</label>
        <locationX>1370</locationX>
        <locationY>1608</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>OnboardingNotification</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Onboarding</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enviar_notificacao_de_Onboarding</targetReference>
            </connector>
            <label>Onboarding</label>
        </rules>
        <rules>
            <name>Informacoes_iniciais</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Informações Iniciais</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Atribuir_variaveis_de_Info_Iniciais</targetReference>
            </connector>
            <label>Informações Iniciais</label>
        </rules>
        <rules>
            <name>Projeto_Aprovado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Projeto Aprovado</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Atribuir_variaveis_de_Projeto_Aprovado</targetReference>
            </connector>
            <label>Projeto Aprovado</label>
        </rules>
        <rules>
            <name>Instala_o_Materiais</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Instalação - Materiais</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DateAdditionalMaterial__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Atribuir_variaveis_de_Instala_o_materiais</targetReference>
            </connector>
            <label>Instalação - Materiais</label>
        </rules>
        <rules>
            <name>Instala_o_Materiais_WEG</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Instalação - Materiais</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EstimatedDateKitWeb__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Atribuir_variaveis_de_Instala_o_materiaisWEG</targetReference>
            </connector>
            <label>Instalação - Materiais WEG</label>
        </rules>
        <rules>
            <name>Instala_o_MontagemMessage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Instalação - Montagem</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Atribuir_variaveis_de_Instala_o_Montagem</targetReference>
            </connector>
            <label>Instalação - Montagem</label>
        </rules>
        <rules>
            <name>Instalacao_VistoriaMessage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Instalação - Vistoria</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Atribuir_variaveis_de_Instala_o_Vistoria</targetReference>
            </connector>
            <label>Instalação - Vistoria</label>
        </rules>
        <rules>
            <name>Ligacao_Conclu_da</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ligação Concluída</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Atribuir_variaveis_de_Liga_o_Conclu_da</targetReference>
            </connector>
            <label>Ligação Concluída</label>
        </rules>
        <rules>
            <name>Start</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Start</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Atribuir_variaveis_de_Start</targetReference>
            </connector>
            <label>Start</label>
        </rules>
        <rules>
            <name>Monitoramento_Message</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Monitoramento</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enviar_notificacao_de_monitoramento</targetReference>
            </connector>
            <label>Monitoramento</label>
        </rules>
    </decisions>
    <decisions>
        <name>Verificar_se_Messaging_User_existe</name>
        <label>Verificar se Messaging User existe</label>
        <locationX>1370</locationX>
        <locationY>1008</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Messaging_User_Cliente_Encontrado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Consultar_Messaging_User.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enviar_apenas_para_Cliente</targetReference>
            </connector>
            <label>Messaging User Cliente Encontrado</label>
        </rules>
        <rules>
            <name>Messaging_User_Cliente_N_o_Encontrado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Consultar_Messaging_User</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Criar_Messaging_User</targetReference>
            </connector>
            <label>Messaging User Cliente Não Encontrado</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>agentNameFormula</name>
        <dataType>String</dataType>
        <expression>{!$Record.Owner:User.FirstName} + &quot; &quot; + {!$Record.Owner:User.LastName}</expression>
    </formulas>
    <formulas>
        <name>caseAdditionalMaterial</name>
        <dataType>Date</dataType>
        <expression>IF(
NOT(
ISNULL({!$Record.DateAdditionalMaterial__c})
),
{!$Record.DateAdditionalMaterial__c},
{!Obter_Caso.DateAdditionalMaterial__c}
)</expression>
    </formulas>
    <formulas>
        <name>caseApp</name>
        <dataType>String</dataType>
        <expression>IF(
NOT(
ISNULL({!$Record.MonitoringApplication__c})
),
{!$Record.MonitoringApplication__c},
{!Obter_Caso.MonitoringApplication__c}
)</expression>
    </formulas>
    <formulas>
        <name>caseDateInspection</name>
        <dataType>DateTime</dataType>
        <expression>IF(
NOT(
ISNULL({!$Record.DateInspection__c})
),
{!$Record.DateInspection__c},
{!Obter_Caso.DateInspection__c}
)</expression>
    </formulas>
    <formulas>
        <name>caseEstimatedKITWeg</name>
        <dataType>Date</dataType>
        <expression>IF(
NOT(
ISNULL({!$Record.EstimatedDateKitWeb__c})
),
{!$Record.EstimatedDateKitWeb__c},
{!Obter_Caso.EstimatedDateKitWeb__c}
)</expression>
    </formulas>
    <formulas>
        <name>caseInstallDate</name>
        <dataType>DateTime</dataType>
        <expression>IF(
NOT(
ISNULL({!$Record.InstallDate__c})
),
{!$Record.InstallDate__c},
{!Obter_Caso.InstallDate__c}
)</expression>
    </formulas>
    <formulas>
        <name>caseKWP</name>
        <dataType>String</dataType>
        <expression>IF(
NOT(
ISBLANK({!$Record.KWP__c})
),
{!$Record.KWP__c},
{!Obter_Caso.KWP__c}
)</expression>
    </formulas>
    <formulas>
        <name>caseLink</name>
        <dataType>String</dataType>
        <expression>IF(
NOT(
ISNULL({!$Record.Link__c})
),
{!$Record.Link__c},
{!Obter_Caso.Link__c}
)</expression>
    </formulas>
    <formulas>
        <name>caseLogin</name>
        <dataType>String</dataType>
        <expression>IF(
NOT(
ISNULL({!$Record.Login__c})
),
{!$Record.Login__c},
{!Obter_Caso.Login__c}
)</expression>
    </formulas>
    <formulas>
        <name>casePassword</name>
        <dataType>String</dataType>
        <expression>IF(
NOT(
ISNULL({!$Record.Password__c})
),
{!$Record.Password__c},
{!Obter_Caso.Password__c}
)</expression>
    </formulas>
    <formulas>
        <name>caseProjectApprovalDate</name>
        <dataType>Date</dataType>
        <expression>IF(
NOT(
ISNULL({!$Record.ProjectApprovalDate__c})
),
{!$Record.ProjectApprovalDate__c},
{!Obter_Caso.ProjectApprovalDate__c}
)</expression>
    </formulas>
    <formulas>
        <name>criarNovaTask</name>
        <dataType>Boolean</dataType>
        <expression>OR(
{!$Record.Subject} = &quot;Projeto finalizado&quot;,
{!$Record.Subject} = &quot;Instalação Geral&quot;,
{!$Record.Subject} = &quot;Instalação Material&quot;,
{!$Record.Subject} = &quot;Instalação&quot;,
{!$Record.Subject} = &quot;Instalação Vistoria&quot;,
{!$Record.Subject} = &quot;Ligação Concluída&quot;
)</expression>
    </formulas>
    <formulas>
        <name>dateAdditionalMaterialFormated</name>
        <dataType>String</dataType>
        <expression>LPAD(TEXT(DAY({!$Record.DateAdditionalMaterial__c})), 2, &quot;0&quot;) &amp; &quot;/&quot; &amp; 
LPAD(TEXT(MONTH({!$Record.DateAdditionalMaterial__c})), 2, &quot;0&quot;) &amp; &quot;/&quot; &amp; 
TEXT(YEAR({!$Record.DateAdditionalMaterial__c}))</expression>
    </formulas>
    <formulas>
        <name>dateInspectionFormula</name>
        <dataType>DateTime</dataType>
        <expression>{!$Record.DateInspection__c} + 14</expression>
    </formulas>
    <formulas>
        <name>dateWegFormated</name>
        <dataType>String</dataType>
        <expression>LPAD(TEXT(DAY({!$Record.EstimatedDateKitWeb__c})), 2, &quot;0&quot;) &amp; &quot;/&quot; &amp; 
LPAD(TEXT(MONTH({!$Record.EstimatedDateKitWeb__c})), 2, &quot;0&quot;) &amp; &quot;/&quot; &amp; 
TEXT(YEAR({!$Record.EstimatedDateKitWeb__c}))</expression>
    </formulas>
    <formulas>
        <name>newTaskMaterialOrNext</name>
        <dataType>String</dataType>
        <expression>IF( 
    AND(
        {!$Record.Subject} = &quot;Instalação - Materiais&quot;, 
        NOT(ISNULL({!$Record.DateAdditionalMaterial__c})),
        ISNULL({!Consultar_Caso_de_Jornada_do_Cliente.EstimatedDateKitWeb__c})
    ), 
    &quot;Instalação - Materiais&quot;,
    IF(
        AND(
            {!$Record.Subject} = &quot;Instalação - Materiais&quot;, 
            NOT(ISNULL({!$Record.EstimatedDateKitWeb__c})),
            ISNULL({!Consultar_Caso_de_Jornada_do_Cliente.DateAdditionalMaterial__c})
        ), 
        &quot;Instalação - Materiais&quot;,
        IF(
          OR( 
                    AND(
                              {!$Record.Subject} = &quot;Instalação - Materiais&quot;, 
                              NOT(ISNULL({!Consultar_Caso_de_Jornada_do_Cliente.EstimatedDateKitWeb__c})),
                              NOT(ISNULL({!$Record.DateAdditionalMaterial__c}))
                     ),
                    AND(
                              {!$Record.Subject} = &quot;Instalação - Materiais&quot;, 
                              NOT(ISNULL({!$Record.EstimatedDateKitWeb__c})),
                              NOT(ISNULL({!Consultar_Caso_de_Jornada_do_Cliente.DateAdditionalMaterial__c}))
                     )
           )
            , 
            &quot;Instalação - Montagem&quot;,
            &quot;&quot;
        )
    )
)</expression>
    </formulas>
    <formulas>
        <name>nextNotificationText</name>
        <dataType>String</dataType>
        <expression>IF({!$Record.Subject} = &quot;Onboarding&quot;, &quot;Após 30 dias de hoje&quot;, 
      IF({!$Record.Subject} = &quot;Entrega do Kit WEG&quot;,  &quot;Após 15 dias de hoje&quot;, 
     IF({!$Record.Subject} = &quot;Instalação&quot;,  &quot;Após 15 dias de hoje&quot;, &quot;Após 15 dias de hoje&quot;
)))</expression>
    </formulas>
    <formulas>
        <name>nextSubjectAndStatus</name>
        <dataType>String</dataType>
        <expression>IF({!$Record.Subject} = &quot;Onboarding&quot;, &quot;Informações Iniciais&quot;, 
      IF({!$Record.Subject} = &quot;Informações Iniciais&quot;,  &quot;Projeto Aprovado&quot;, 
     IF({!$Record.Subject} = &quot;Projeto Aprovado&quot;,  &quot;Instalação - Materiais&quot;,
          IF({!$Record.Subject} = &quot;Instalação - Materiais&quot;, {!newTaskMaterialOrNext} ,
     IF({!$Record.Subject} = &quot;Instalação - Montagem&quot;, &quot;Instalação - Vistoria&quot;,
     IF({!$Record.Subject} = &quot;Instalação - Vistoria&quot;, &quot;Ligação Concluída&quot;, 
    IF({!$Record.Subject} = &quot;Ligação Concluída&quot;, &quot;Start&quot;,
   IF({!$Record.Subject} = &quot;Start&quot;,&quot;Monitoramento&quot;,
   IF({!$Record.Subject} = &quot;Monitoramento&quot;, &quot;Closed&quot;, &quot;&quot;
)))))))))</expression>
    </formulas>
    <formulas>
        <name>oppNameFormula</name>
        <dataType>String</dataType>
        <expression>{!Obter_Oportunidade.Numeroproposta__c} + &quot; - &quot; + {!Obter_Oportunidade.Name}</expression>
    </formulas>
    <formulas>
        <name>targetDate</name>
        <dataType>Date</dataType>
        <expression>IF({!$Record.Subject} = &quot;Onboarding&quot;, TODAY() + 10, 
     IF({!$Record.Subject} = &quot;Informações Iniciais&quot;, TODAY() + 15,
     IF({!$Record.Subject} = &quot;Projeto Aprovado&quot;, TODAY() + 7,
     IF({!$Record.Subject} = &quot;Instalação - Materiais&quot;, TODAY() + 5,
     IF({!$Record.Subject} = &quot;Instalação - Montagem&quot;, TODAY() + 5,
    IF({!$Record.Subject} = &quot;Instalação - Vistoria&quot;, TODAY() + 14,
   IF({!$Record.Subject} = &quot;Ligação Concluída&quot;, TODAY() + 5,
IF({!$Record.Subject} = &quot;Start&quot;, TODAY() + 5, TODAY() + 7
))))))))</expression>
    </formulas>
    <formulas>
        <name>TODAY</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Batch Task - Project Journey {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Batch Task - Project Journey</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Criar_Messaging_User</name>
        <label>Criar Messaging User</label>
        <locationX>1436</locationX>
        <locationY>1116</locationY>
        <assignRecordIdToReference>messagingUserId</assignRecordIdToReference>
        <connector>
            <targetReference>Atribuir_messagingUserId_criado</targetReference>
        </connector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Consultar_Cliente.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MessageType</field>
            <value>
                <stringValue>WhatsApp</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MessagingChannelId</field>
            <value>
                <elementReference>Consultar_Messaging_Channel.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MessagingConsentStatus</field>
            <value>
                <stringValue>ImplicitlyOptedIn</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MessagingPlatformKey</field>
            <value>
                <elementReference>Consultar_Cliente.Telefone_Formatado__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Consultar_Cliente.Name</elementReference>
            </value>
        </inputAssignments>
        <object>MessagingEndUser</object>
    </recordCreates>
    <recordCreates>
        <name>Criar_task_do_step_seguinte</name>
        <label>Criar task do step seguinte</label>
        <locationX>1502</locationX>
        <locationY>2880</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>targetDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ConcessionariaEnergia__c</field>
            <value>
                <elementReference>managerName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CreateNewTaskAutomatically__c</field>
            <value>
                <elementReference>criarNovaTask</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InstallDate__c</field>
            <value>
                <elementReference>caseInstallDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NextNotification__c</field>
            <value>
                <elementReference>nextNotification</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>nextStep</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Jornada do Projeto</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Consultar_Caso_de_Jornada_do_Cliente</name>
        <label>Consultar Caso de Jornada do Cliente</label>
        <locationX>1370</locationX>
        <locationY>468</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Consultar_Messaging_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Consultar_Cliente</name>
        <label>Consultar Cliente</label>
        <locationX>1370</locationX>
        <locationY>792</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Obter_Oportunidade</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Consultar_ltimo_messaging_session</name>
        <label>Consultar último messaging session</label>
        <locationX>1370</locationX>
        <locationY>2556</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Atualizar_Messaging_Session_Com_caso_de_jornada</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MessagingEndUserId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>messagingUserId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MessagingSession</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Consultar_Messaging_Channel</name>
        <label>Consultar Messaging Channel</label>
        <locationX>1370</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Consultar_Caso_de_Jornada_do_Cliente</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>WHATSAPP_US_610227168839050</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MessagingChannel</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Consultar_Messaging_User</name>
        <label>Consultar Messaging User</label>
        <locationX>1370</locationX>
        <locationY>576</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Consultar_Messaging_User_Consultor</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </filters>
        <filters>
            <field>MessagingChannelId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Consultar_Messaging_Channel.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MessagingEndUser</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Consultar_Messaging_User_Consultor</name>
        <label>Consultar Messaging User Consultor</label>
        <locationX>1370</locationX>
        <locationY>684</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Consultar_Cliente</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Consultor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Consultar_Caso_de_Jornada_do_Cliente.Nome_do_Consultor__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MessagingEndUser</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obter_Caso</name>
        <label>Obter Caso</label>
        <locationX>1370</locationX>
        <locationY>2340</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Atualizar_Caso_relacionado</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obter_Oportunidade</name>
        <label>Obter Oportunidade</label>
        <locationX>1370</locationX>
        <locationY>900</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Verificar_se_Messaging_User_existe</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Consultar_Caso_de_Jornada_do_Cliente.Nome_da_Oportunidade__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Atualizar_Caso_relacionado</name>
        <label>Atualizar Caso relacionado</label>
        <locationX>1370</locationX>
        <locationY>2448</locationY>
        <connector>
            <targetReference>Consultar_ltimo_messaging_session</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>DateAdditionalMaterial__c</field>
            <value>
                <elementReference>caseAdditionalMaterial</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DateInspection__c</field>
            <value>
                <elementReference>caseDateInspection</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EstimatedDateKitWeb__c</field>
            <value>
                <elementReference>caseEstimatedKITWeg</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InstallDate__c</field>
            <value>
                <elementReference>caseInstallDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>KWP__c</field>
            <value>
                <elementReference>caseKWP</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Link__c</field>
            <value>
                <elementReference>caseLink</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Login__c</field>
            <value>
                <elementReference>caseLogin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MonitoringApplication__c</field>
            <value>
                <elementReference>caseApp</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Password__c</field>
            <value>
                <elementReference>casePassword</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProjectApprovalDate__c</field>
            <value>
                <elementReference>caseProjectApprovalDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>nextStep</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Atualizar_Messaging_Session_Com_caso_de_jornada</name>
        <label>Atualizar Messaging Session Com caso de jornada</label>
        <locationX>1370</locationX>
        <locationY>2664</locationY>
        <connector>
            <targetReference>Criar_nova_task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Consultar_ltimo_messaging_session.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CaseId</field>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </inputAssignments>
        <object>MessagingSession</object>
    </recordUpdates>
    <recordUpdates>
        <name>Fechar_Task</name>
        <label>Fechar Task</label>
        <locationX>1370</locationX>
        <locationY>2232</locationY>
        <connector>
            <targetReference>Obter_Caso</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>2036</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Task_de_Jornada_do_Cliente</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Jornada do Projeto</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsCurrentDay__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Task</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2025-03-18</startDate>
            <startTime>17:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>agentName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>app</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>customerName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>dateAdditionalMaterial</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>dateAdditionalMaterialFormatedStr</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>dateWegMaterial</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>dateWegMaterialFormated</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>estimatedDateInstallation</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>estimatedDateKitWEG</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>imgId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>inspectionDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>inspectionDeadLine</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>installDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>kwp</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>link</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>login</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>managerName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>messagingUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>messagingUserIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>messagingUserIdsConsultant</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>nextAction</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>nextNotification</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>nextStep</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>oppName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>password</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>requestDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
