force-app/main/default/flows/Bot_Obter_Informa_o_Message.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assignment_4</name>
        <label>Assignment 4</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>nome</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Integrador.Name</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assignment_6</name>
        <label>Assignment 6</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>buscar_Lead.Telefone_Formatado__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>buscar_consultor</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>atribuir_Variaveis</name>
        <label>atribuir Variaveis</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>nome</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>buscar_Lead.Name</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assignment_4</name>
        <label>Copy 1 of Assignment 4</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>nome</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue> </stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Copy_1_of_atribuir_Variaveis</name>
        <label>Copy 1 of atribuir Variaveis</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>nome</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!get_Integrador.Name}</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Copy_2_of_atribuir_Variaveis</name>
        <label>Copy 2 of atribuir Variaveis</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>nome</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>buscar_consultor.Name</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>getMessage_null</name>
        <label>getMessage null</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>buscar_Lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_message_session.MessagingEndUserId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Assignment_4</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>has_lead</name>
        <label>has lead</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Assignment_4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>has_lead_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>buscar_Lead.Name</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>atribuir_Variaveis</targetReference>
            </connector>
            <label>has lead</label>
        </rules>
        <rules>
            <name>has_account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Integrador.Name</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_atribuir_Variaveis</targetReference>
            </connector>
            <label>has account</label>
        </rules>
        <rules>
            <name>has_consultor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>buscar_consultor.Name</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_atribuir_Variaveis</targetReference>
            </connector>
            <label>has consultor</label>
        </rules>
        <rules>
            <name>has_Integrador</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Integrador.Name</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_4</targetReference>
            </connector>
            <label>has Integrador</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>TelLEFT_0</name>
        <dataType>String</dataType>
        <expression>LEFT( {!get_message_session.Telefone__c} , 4 )</expression>
    </formulas>
    <formulas>
        <name>TelRIGHT</name>
        <dataType>String</dataType>
        <expression>RIGHT( {!get_message_session.Telefone__c} , 8)</expression>
    </formulas>
    <interviewLabel>[Bot] - Obter Informação Message {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Bot] - Obter Informação Message</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>buscar_consultor</name>
        <label>buscar consultor</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Integrador</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Telefone_Formatado__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>TelLEFT_0</elementReference>
            </value>
        </filters>
        <filters>
            <field>Telefone_Formatado__c</field>
            <operator>EndsWith</operator>
            <value>
                <elementReference>TelRIGHT</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Consultor__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>buscar_Lead</name>
        <label>buscar Lead</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assignment_6</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MobilePhone</field>
            <operator>Contains</operator>
            <value>
                <elementReference>TelLEFT_0</elementReference>
            </value>
        </filters>
        <filters>
            <field>MobilePhone</field>
            <operator>EndsWith</operator>
            <value>
                <elementReference>TelRIGHT</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Integrador</name>
        <label>get Integrador</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>has_lead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Telefone_Formatado__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>TelLEFT_0</elementReference>
            </value>
        </filters>
        <filters>
            <field>Telefone_Formatado__c</field>
            <operator>EndsWith</operator>
            <value>
                <elementReference>TelRIGHT</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Integradores__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_message_session</name>
        <label>get message session</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getMessage_null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>messagingSessionId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MessagingSession</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_message_session</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>HadInteraction</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>intearction</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LeadInteraction__c</objectType>
    </variables>
    <variables>
        <name>leadId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>messagingSessionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>nome</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
