force-app/main/default/flows/Bot_Verifica_CPF_CNPJ.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assignment_Inexistente</name>
        <label>Assignment Inexistente</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>CNPJ_CPF_Inexistente</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Inexistente</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assignment_Informacoes_da_Conta</name>
        <label>Assignment Informações da Conta</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>Nome_Conta</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_CPF_CNPJ_Conta.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TIpo_de_Registro_Conta</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_CPF_CNPJ_Conta.RecordType.Name</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assignment_Tipo_de_Registro_0</name>
        <label>Assignment Tipo de Registro</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>Tipo_de_Registro_Consultor</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_CPF_CNPJ_Consultor_0_0.RecordType.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Nome_da_Conta_Consultor</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_CPF_CNPJ_Consultor_0_0.Name</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Registro_Inexistente_Consultor</name>
        <label>Registro Inexistente Consultor?</label>
        <locationX>380</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Assignment_Tipo_de_Registro_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>Sim</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_CPF_CNPJ_Consultor_0_0</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Registro_Inexistente_na_Conta</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>Registro_Inexistente_na_Conta</name>
        <label>Registro Inexistente na Conta?</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Assignment_Informacoes_da_Conta</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>Sim0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_CPF_CNPJ_Conta</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_Inexistente</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Bot_Verifica_CPF_CNPJ {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Bot_Verifica_CPF_CNPJ</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_CPF_CNPJ_Consultor_0_0</name>
        <label>Get CPF CNPJ Consultor</label>
        <locationX>380</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Registro_Inexistente_Consultor</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Formata_CNPJ__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_CNPJCPF</elementReference>
            </value>
        </filters>
        <filters>
            <field>Formata_CPF__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_CNPJCPF</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Consultor__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_CPF_CNPJ_Conta</name>
        <label>Get CPF CNPJ Conta</label>
        <locationX>380</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_CPF_CNPJ_Consultor_0_0</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Formata_CPF__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_CNPJCPF</elementReference>
            </value>
        </filters>
        <filters>
            <field>Formata_CNPJ__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_CNPJCPF</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_CPF_CNPJ_Conta</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CNPJ_CPF_Inexistente</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Nome_Conta</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Nome_da_Conta_Consultor</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Tipo_de_Registro_Consultor</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TIpo_de_Registro_Conta</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Var_CNPJCPF</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
