force-app/main/default/flows/Copy_To_validate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_To_Manager_Transfer</name>
        <label>Send Email To Manager - Transfer</label>
        <locationX>176</locationX>
        <locationY>890</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Assignment_LastResponseDate</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Get_Messaging_Session.Owner:User.Manager.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>support@enerzee.com.br</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Chat transferido - Agente inativo</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>BodyTransferQueue</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>Get_Messaging_Session.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ccRecipientAddressList</name>
            <value>
                <stringValue>daniel.belini@enerzee.com.br</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assignment_LastResponseDate</name>
        <label>Assignment LastResponseDate</label>
        <locationX>176</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>Get_Messaging_Session.LastResponseDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Conversation_Entry.EntryTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Messaging_Session</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Status_Transfer</name>
        <label>Update Status - Transfer</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>Get_Messaging_Session.ConversationStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Waiting Agent - Transfered</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Template_Chat</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>IsVioleted</name>
        <dataType>Boolean</dataType>
        <expression>((NOW() - (14/1440)) &gt; {!Get_Conversation_Entry.EntryTime})</expression>
    </formulas>
    <interviewLabel>Copy To validate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Copy To validate</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Agent</name>
        <label>Get Agent</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Manager</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Messaging_Session.OwnerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Conversation_Entry</name>
        <label>Get Conversation Entry</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Status_Transfer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ConversationId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Messaging_Session.ConversationId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ConversationEntry</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>ActorType</queriedFields>
        <queriedFields>EntryTime</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Manager</name>
        <label>Get Manager</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Conversation_Entry</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Agent.ManagerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Messaging_Session</name>
        <label>Get Messaging Session</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Agent</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>messagingId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MessagingSession</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Template_Chat</name>
        <label>Get Template Chat</label>
        <locationX>176</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Email_To_Manager_Transfer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Chat_Notificacao_de_atraso</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Messaging_Session</name>
        <label>Update Messaging Session</label>
        <locationX>176</locationX>
        <locationY>1106</locationY>
        <inputReference>Get_Messaging_Session</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Waiting_4_minutes</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>BodyFirstNotification</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Olá, {!Get_Messaging_Session.CreatedBy.Manager.Name}.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Essa é uma notificação referente ao atraso de 4 minutos do agente &lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68); font-size: 16px;&quot;&gt;{!Get_Messaging_Session.CreatedBy.Name} &lt;/span&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;na resposta do chat para o cliente {!Get_Messaging_Session.MessagingEndUser.Name}.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>BodyTransferQueue</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Olá {!Get_Manager.Name}.
Essa é uma notificação referente ao atraso para atendimento da sessão: {!Get_Messaging_Session.Name}.
Início da sessão: {!Get_Messaging_Session.StartTime}
Agente: {!Get_Agent.Name}
Cliente:  {!Get_Messaging_Session.MessagingEndUser.Name}</text>
    </textTemplates>
    <variables>
        <name>messagingId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <waits>
        <name>Waiting_4_minutes</name>
        <elementSubtype>WaitDuration</elementSubtype>
        <label>Waiting 4 minutes</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Get_Messaging_Session</targetReference>
            </connector>
            <label>el_0</label>
            <offset>4</offset>
            <offsetUnit>Minutes</offsetUnit>
        </waitEvents>
    </waits>
</Flow>
