force-app/main/default/flows/Enviar_Email_ap_s_7_dias_teis_do_envio_de_Contrato.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Enviar_email_ao_propriet_rio</name>
        <label>Enviar email ao proprietário</label>
        <locationX>176</locationX>
        <locationY>276</locationY>
        <actionName>Opportunity.Oportunidade_h_7_dias_com_contrato_enviado</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Atualiza_campo_de_controle_de_envio</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Oportunidade_h_7_dias_com_contrato_enviado</nameSegment>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <interviewLabel>Enviar Email após 7 dias úteis do envio de Contrato {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Enviar Email após 7 dias úteis do envio de Contrato</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Atualiza_campo_de_controle_de_envio</name>
        <label>Atualiza campo de controle de envio</label>
        <locationX>176</locationX>
        <locationY>396</locationY>
        <inputAssignments>
            <field>Notificacao7DiasEnviada__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Enviar_email_ao_propriet_rio</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DiasUteisDesdeEnvioContrato__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <numberValue>8.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contrato enviado</stringValue>
            </value>
        </filters>
        <filters>
            <field>Notificacao7DiasEnviada__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2022-09-06</startDate>
            <startTime>00:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
