force-app/main/default/flows/Flow_Atualiza_Status_do_Lead.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Atribui_mensagem_de_sucesso_a_variavel</name>
        <label>Atribui mensagem de sucesso a variavel</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>outcomeMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Status foi atualizado para trabalhando</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Houve_alteracao</name>
        <label>Houve alteração?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Atualiza_Status_do_Lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Outros</defaultConnectorLabel>
        <rules>
            <name>Produto_de_interesse</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inputProdutoInteresse</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Atualiza_produto_de_interesse</targetReference>
            </connector>
            <label>Produto de interesse</label>
        </rules>
        <rules>
            <name>Interesse_Energia_Solar_Para</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inputInteresseEnergiaSolarPara</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Atualiza_Interesse_energia_solar</targetReference>
            </connector>
            <label>Interesse Energia Solar Para</label>
        </rules>
        <rules>
            <name>Tipo_do_Imovel</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inputTipoImovel</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>C_pia_1_de_Atualiza_tipo_de_imovel</targetReference>
            </connector>
            <label>Tipo do Imovel</label>
        </rules>
        <rules>
            <name>Custo_Medio_Energia</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inputCustoMedioEnergia</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>C_pia_1_de_Atualiza_custo_de_energia</targetReference>
            </connector>
            <label>Custo Medio Energia</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Flow: Atualiza Status do Lead {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flow: Atualiza Status do Lead</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Obter_Lead</name>
        <label>Obter Lead</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Houve_alteracao</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>leadId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Atualiza_Interesse_energia_solar</name>
        <label>Atualiza Interesse energia solar</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Atribui_mensagem_de_sucesso_a_variavel</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Obter_Lead.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>InteresseEnergiaSolar__c</field>
            <value>
                <elementReference>inputInteresseEnergiaSolarPara</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Trabalhando</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Atualiza_produto_de_interesse</name>
        <label>Atualiza produto de interesse</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Atribui_mensagem_de_sucesso_a_variavel</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Obter_Lead.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Lb065_ProdutoInteresse__c</field>
            <value>
                <elementReference>inputProdutoInteresse</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Trabalhando</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Atualiza_Status_do_Lead</name>
        <label>Atualiza Status do Lead</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Atribui_mensagem_de_sucesso_a_variavel</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>leadId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Trabalhando</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>C_pia_1_de_Atualiza_custo_de_energia</name>
        <label>Atualiza Custo de Energia</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Atribui_mensagem_de_sucesso_a_variavel</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Obter_Lead.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CustoEnergiaMes__c</field>
            <value>
                <elementReference>inputCustoMedioEnergia</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Trabalhando</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>C_pia_1_de_Atualiza_tipo_de_imovel</name>
        <label>Atualiza tipo de imovel</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Atribui_mensagem_de_sucesso_a_variavel</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Obter_Lead.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Trabalhando</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TipoDeImovel__c</field>
            <value>
                <elementReference>inputTipoImovel</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Obter_Lead</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>inputCustoMedioEnergia</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputInteresseEnergiaSolarPara</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputProdutoInteresse</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputTipoImovel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>leadId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>outcomeMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
