force-app/main/default/flows/Fluxo_atualizar_Opp_concluida_em_Instalacao.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Atribuição existe para popular um campo de pesquisa de Opp para instalação que dá acesso a ela, podendo assim olhar se ja existe uma instalação para a opp ou não e com isso se já existir uma instalação somente atualizar ela. Ou seja quando uma instalação for criada ela vai ser vinculada a opp por essa atribuição de valores.</description>
        <name>AtribuiValor</name>
        <label>AtribuiValor</label>
        <locationX>477</locationX>
        <locationY>522</locationY>
        <assignmentItems>
            <assignToReference>$Record.Instalacao__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Instalacao__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Atualizar_projetos</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CriarInstalacao</name>
        <label>CriarInstalação</label>
        <locationX>717</locationX>
        <locationY>389</locationY>
        <defaultConnector>
            <targetReference>CriaIntalacao</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Padrão</defaultConnectorLabel>
        <rules>
            <name>Atualiza</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Instalacao__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Atualiza_Instalacao</targetReference>
            </connector>
            <label>Atualiza</label>
        </rules>
    </decisions>
    <description>Fluxo para criar ou atualizar a Oportunidades concluídas em instalação e também cria ou atualiza a instalação no registro de projeto relacionado a oportunidade iniciada.</description>
    <environments>Default</environments>
    <interviewLabel>Fluxo para atualizar Opp em Instalção {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Fluxo que cria ou atualiza Instalação em Oportunidades e Projetos</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CriaIntalacao</name>
        <label>CriaIntalação</label>
        <locationX>479</locationX>
        <locationY>385</locationY>
        <assignRecordIdToReference>$Record.Instalacao__c</assignRecordIdToReference>
        <connector>
            <targetReference>AtribuiValor</targetReference>
        </connector>
        <inputAssignments>
            <field>ClienteConta__c</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ConsultorInstalacao__c</field>
            <value>
                <elementReference>$Record.ConsultorOportunidade__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OportunidadeConcluida__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>Instalacao__c</object>
    </recordCreates>
    <recordUpdates>
        <name>Atualiza_Instalacao</name>
        <label>Atualiza Instalação</label>
        <locationX>1001</locationX>
        <locationY>389</locationY>
        <connector>
            <targetReference>Atualiza_Projeto</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OportunidadeConcluida__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ClienteConta__c</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ConsultorInstalacao__c</field>
            <value>
                <elementReference>$Record.ConsultorOportunidade__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OportunidadeConcluida__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Instalacao__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Atualiza_Projeto</name>
        <label>Atualiza Projeto</label>
        <locationX>1001</locationX>
        <locationY>591</locationY>
        <connector>
            <targetReference>AtualizaOpp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Oportunidade__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Instalacao__c</field>
            <value>
                <elementReference>$Record.Instalacao__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Projeto__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>AtualizaOpp</name>
        <label>AtualizaOpp</label>
        <locationX>746</locationX>
        <locationY>696</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Atualizar_projetos</name>
        <label>Atualizar projetos</label>
        <locationX>476</locationX>
        <locationY>696</locationY>
        <connector>
            <targetReference>AtualizaOpp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Oportunidade__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Instalacao__c</field>
            <value>
                <elementReference>$Record.Instalacao__c</elementReference>
            </value>
        </inputAssignments>
        <object>Projeto__c</object>
    </recordUpdates>
    <start>
        <locationX>599</locationX>
        <locationY>24</locationY>
        <connector>
            <targetReference>CriarInstalacao</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ganho fechado</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
