force-app/main/default/flows/Instalacao_StampDataConclusao.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
	<apiVersion>62.0</apiVersion>
	<decisions>
		<name>Obra_Concluida</name>
		<label>Obra Concluída?</label>
		<locationX>182</locationX>
		<locationY>269</locationY>
		<defaultConnectorLabel>Não</defaultConnectorLabel>
		<rules>
			<name>Sim_Obra_Concluida</name>
			<conditionLogic>and</conditionLogic>
			<conditions>
				<leftValueReference>$Record.Status__c</leftValueReference>
				<operator>EqualTo</operator>
				<rightValue>
					<stringValue>Obra concluída - Aguardando troca de medidor</stringValue>
				</rightValue>
			</conditions>
			<conditions>
				<leftValueReference>$Record__Prior.Status__c</leftValueReference>
				<operator>NotEqualTo</operator>
				<rightValue>
					<stringValue>Obra concluída - Aguardando troca de medidor</stringValue>
				</rightValue>
			</conditions>
			<conditions>
				<leftValueReference>$Record.DataConclusao__c</leftValueReference>
				<operator>IsNull</operator>
				<rightValue>
					<booleanValue>true</booleanValue>
				</rightValue>
			</conditions>
			<connector>
				<targetReference>Setar_DataConclusao</targetReference>
			</connector>
			<label>Sim</label>
		</rules>
	</decisions>
	<description
  >Before-save Flow em Instalacao__c. Quando o Status muda para "Obra concluída - Aguardando troca de medidor", registra a data atual em DataConclusao__c. Usado para calcular o tempo médio de execução de instalações no painel de Engenharia.</description>
	<interviewLabel
  >Instalacao — Stamp Data Conclusao {!$Flow.CurrentDateTime}</interviewLabel>
	<label>Instalacao — Stamp Data Conclusao</label>
	<processMetadataValues>
		<name>BuilderType</name>
		<value>
			<stringValue>LightningFlowBuilder</stringValue>
		</value>
	</processMetadataValues>
	<processMetadataValues>
		<name>CanvasMode</name>
		<value>
			<stringValue>AUTO_LAYOUT_CANVAS</stringValue>
		</value>
	</processMetadataValues>
	<processType>AutoLaunchedFlow</processType>
	<recordUpdates>
		<name>Setar_DataConclusao</name>
		<label>Setar DataConclusao</label>
		<locationX>50</locationX>
		<locationY>377</locationY>
		<inputAssignments>
			<field>DataConclusao__c</field>
			<value>
				<elementReference>$Flow.CurrentDate</elementReference>
			</value>
		</inputAssignments>
		<inputReference>$Record</inputReference>
	</recordUpdates>
	<start>
		<locationX>56</locationX>
		<locationY>0</locationY>
		<connector>
			<targetReference>Obra_Concluida</targetReference>
		</connector>
		<filterLogic>and</filterLogic>
		<filters>
			<field>Status__c</field>
			<operator>EqualTo</operator>
			<value>
				<stringValue>Obra concluída - Aguardando troca de medidor</stringValue>
			</value>
		</filters>
		<object>Instalacao__c</object>
		<recordTriggerType>Update</recordTriggerType>
		<triggerType>RecordBeforeSave</triggerType>
	</start>
	<status>Active</status>
</Flow>
