force-app/main/default/flows/Instalacao_CaptureDataObraEmExecucao.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Entrou_Em_Execucao</name>
        <label>Entrou em Execução?</label>
        <locationX>182</locationX>
        <locationY>269</locationY>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>Sim_Em_Execucao</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Obra em execução</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Obra em execução</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Setar_DataObraEmExecucao</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <description>Before-save Flow em Instalacao__c. Quando o Status muda para &quot;Obra em execução&quot;, registra a data atual em DataObraEmExecucao__c. Usado para calcular o tempo médio de execução de instalações no painel de Engenharia.</description>
    <interviewLabel>Instalacao — Captura Data Obra Em Execução {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Instalacao — Captura Data Obra Em Execução</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Setar_DataObraEmExecucao</name>
        <label>Setar DataObraEmExecucao</label>
        <locationX>50</locationX>
        <locationY>377</locationY>
        <inputAssignments>
            <field>DataObraEmExecucao__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Entrou_Em_Execucao</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Obra em execução</stringValue>
            </value>
        </filters>
        <object>Instalacao__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
