force-app/main/default/flows/Lead_Update_After_Distribui_o_do_Lead.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Consultant_Warm</name>
        <label>Assign First Consultant Warm</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>varConsultorSelecionadoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Consultor_Filter_Warm.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varConsultorId.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Consultor_Filter_Warm.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Owner_Warm</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_First_Consultant_Hot</name>
        <label>Assign First Consultant Hot</label>
        <locationX>490</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>varConsultorSelecionadoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Consultor_Filter_Hot.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varConsultorId.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Consultor_Filter_Hot.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Owner_Hot</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_First_Consultant_Hot_No_State</name>
        <label>Assign First Consultant Hot No State</label>
        <locationX>1986</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>varConsultorId.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_User_Hot.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varConsultorSelecionadoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_User_Hot.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_recordType_qualification</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_First_Consultant_Prioritario</name>
        <label>Assign First Consultant Prioritario</label>
        <locationX>930</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>varConsultorSelecionadoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Consultor_Filter_Prioritario.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varConsultorId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Consultor_Filter_Prioritario</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Owner_Prioritario</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_First_Consultant_Prioritario_No_State</name>
        <label>Assign First Consultant Prioritario No State</label>
        <locationX>2250</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>varConsultorId.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_User_Prioritario.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varConsultorSelecionadoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_User_Prioritario.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_recordType_qualification</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_First_Consultant_Warm_No_State</name>
        <label>Assign First Consultant Warm No State</label>
        <locationX>1722</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>varConsultorId.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_User_Warm.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varConsultorSelecionadoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_User_Warm.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_recordType_qualification</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Last_Lead_Consultant</name>
        <label>Assign Last Lead Consultant</label>
        <locationX>1238</locationX>
        <locationY>1397</locationY>
        <assignmentItems>
            <assignToReference>varConsultorId.Lb065_UltimoLeadRecebido__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NOW</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Consultant_Least_Lead</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Evaluete_Lead_Rating</name>
        <label>Evaluete Lead Rating</label>
        <locationX>1986</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>get_recordType_qualification</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Cold</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Rating</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cold</stringValue>
                </rightValue>
            </conditions>
            <label>Cold</label>
        </rules>
        <rules>
            <name>Warm</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Rating</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Warm</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_User_Warm</targetReference>
            </connector>
            <label>Warm</label>
        </rules>
        <rules>
            <name>Hot</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Rating</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hot</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_User_Hot</targetReference>
            </connector>
            <label>Hot</label>
        </rules>
        <rules>
            <name>Prioritario</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Rating</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Prioritário</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_User_Prioritario</targetReference>
            </connector>
            <label>Prioritário</label>
        </rules>
    </decisions>
    <decisions>
        <name>Evaluete_Lead_Rating_Filter_True</name>
        <label>Evaluete Lead Rating Filter True</label>
        <locationX>490</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>get_recordType_qualification</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ColdTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Rating</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cold</stringValue>
                </rightValue>
            </conditions>
            <label>Cold</label>
        </rules>
        <rules>
            <name>WarmTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Rating</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Warm</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Consultor_Filter_Warm</targetReference>
            </connector>
            <label>Warm</label>
        </rules>
        <rules>
            <name>HotTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Rating</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hot</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Consultor_Filter_Hot</targetReference>
            </connector>
            <label>Hot</label>
        </rules>
        <rules>
            <name>PrioritarioTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Rating</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Prioritário</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Consultor_Filter_Prioritario</targetReference>
            </connector>
            <label>Prioritário</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Owner_Hot</name>
        <label>Has Owner Hot</label>
        <locationX>490</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Consultor_Filter_Warm</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesOwnerHot</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varConsultorSelecionadoId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_recordType_qualification</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Owner_Prioritario</name>
        <label>Has Owner Prioritario</label>
        <locationX>930</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Consultor_Filter_Hot</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesHasOwner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varConsultorSelecionadoId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_recordType_qualification</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Owner_Warm</name>
        <label>Has Owner Warm</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Consultor_Filter_Hot</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesHasWarm</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varConsultorSelecionadoId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_recordType_qualification</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_There_State</name>
        <label>Is There State</label>
        <locationX>1238</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Evaluete_Lead_Rating</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesState</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Lb065_Estado__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Evaluete_Lead_Rating_Filter_True</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>NOW</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <interviewLabel>Lead - After - {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead - Update - After - Distribuição do Lead</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Consultor_Filter_Hot</name>
        <label>Get Consultor Filter Hot</label>
        <locationX>490</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_First_Consultant_Hot</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND 3 AND 4</filterLogic>
        <filters>
            <field>Lb65_Graduacao__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Advanced Builder</stringValue>
            </value>
        </filters>
        <filters>
            <field>Lb65_Graduacao__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Gold</stringValue>
            </value>
        </filters>
        <filters>
            <field>Ativo__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.ConsultorRegional__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Consultor__c</object>
        <sortField>Lb065_UltimoLeadRecebido__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Consultor_Filter_Prioritario</name>
        <label>Get Consultor Filter Prioritario</label>
        <locationX>930</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_First_Consultant_Prioritario</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR 4) AND 5 AND 6</filterLogic>
        <filters>
            <field>Lb065_RegiaoConsultorEstado__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>$Record.Lb065_Estado__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Lb65_Graduacao__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Platinum</stringValue>
            </value>
        </filters>
        <filters>
            <field>Lb65_Graduacao__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Diamond</stringValue>
            </value>
        </filters>
        <filters>
            <field>Lb65_Graduacao__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Carbon Diamond</stringValue>
            </value>
        </filters>
        <filters>
            <field>Ativo__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.ConsultorRegional__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Consultor__c</object>
        <sortField>Lb065_UltimoLeadRecebido__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Consultor_Filter_Warm</name>
        <label>Get Consultor Filter Warm</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Consultant_Warm</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND 3 AND 4</filterLogic>
        <filters>
            <field>Lb65_Graduacao__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Advisor</stringValue>
            </value>
        </filters>
        <filters>
            <field>Lb65_Graduacao__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Builder</stringValue>
            </value>
        </filters>
        <filters>
            <field>Ativo__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.ConsultorRegional__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Consultor__c</object>
        <sortField>Lb065_UltimoLeadRecebido__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_recordType_qualification</name>
        <label>get recordType qualification</label>
        <locationX>1238</locationX>
        <locationY>1181</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Lead_Owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>QualificacaodeClientes</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User_Hot</name>
        <label>Get Consultant Hot</label>
        <locationX>1986</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_First_Consultant_Hot_No_State</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND 3</filterLogic>
        <filters>
            <field>Lb65_Graduacao__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Advanced Builder</stringValue>
            </value>
        </filters>
        <filters>
            <field>Lb65_Graduacao__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Gold</stringValue>
            </value>
        </filters>
        <filters>
            <field>Ativo__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Consultor__c</object>
        <sortField>Lb065_UltimoLeadRecebido__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User_Prioritario</name>
        <label>Get Consultant Prioritario</label>
        <locationX>2250</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_First_Consultant_Prioritario_No_State</targetReference>
        </connector>
        <filterLogic>(1 OR 2 OR 3) AND 4</filterLogic>
        <filters>
            <field>Lb65_Graduacao__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Platinum</stringValue>
            </value>
        </filters>
        <filters>
            <field>Lb65_Graduacao__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Diamond</stringValue>
            </value>
        </filters>
        <filters>
            <field>Lb65_Graduacao__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Carbon Diamond</stringValue>
            </value>
        </filters>
        <filters>
            <field>Ativo__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Consultor__c</object>
        <sortField>Lb065_UltimoLeadRecebido__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User_Warm</name>
        <label>Get Consultant Warm</label>
        <locationX>1722</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_First_Consultant_Warm_No_State</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND 3</filterLogic>
        <filters>
            <field>Lb65_Graduacao__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Advisor</stringValue>
            </value>
        </filters>
        <filters>
            <field>Lb65_Graduacao__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Builder</stringValue>
            </value>
        </filters>
        <filters>
            <field>Ativo__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Consultor__c</object>
        <sortField>Lb065_UltimoLeadRecebido__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Consultant_Least_Lead</name>
        <label>Update Consultant Least Lead</label>
        <locationX>1238</locationX>
        <locationY>1505</locationY>
        <inputReference>varConsultorId</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lead_Owner</name>
        <label>Update Lead Owner</label>
        <locationX>1238</locationX>
        <locationY>1289</locationY>
        <connector>
            <targetReference>Assign_Last_Lead_Consultant</targetReference>
        </connector>
        <inputAssignments>
            <field>ConsultorRegional__c</field>
            <value>
                <elementReference>varConsultorSelecionadoId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lb065_LeadVencido__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>get_recordType_qualification.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Distribuído</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1112</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_There_State</targetReference>
        </connector>
        <filterLogic>( 2 OR 3 OR 4 OR 1) AND 5</filterLogic>
        <filters>
            <field>Rating</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Hot</stringValue>
            </value>
        </filters>
        <filters>
            <field>Rating</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Warm</stringValue>
            </value>
        </filters>
        <filters>
            <field>Rating</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cold</stringValue>
            </value>
        </filters>
        <filters>
            <field>Rating</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Prioritário</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Distribuído</stringValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItem_Filter_Rating_Hot</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Consultor__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Rating_Prioritario</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Consultor__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Rating_Warm</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Consultor__c</objectType>
    </variables>
    <variables>
        <name>varConsultorId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Consultor__c</objectType>
    </variables>
    <variables>
        <name>varConsultorSelecionadoId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
