force-app/main/default/flows/Lead_Update_After_Distribui_o_do_Lead.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Call_Lead_Integration</name>
        <label>Call Lead Integration</label>
        <locationX>1634</locationX>
        <locationY>1721</locationY>
        <actionName>LeadIntegrationService</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>leadId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>LeadIntegrationService</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Split_value_consultant</name>
        <label>Split value consultant</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <actionName>StringListParser</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>get_Consultant_by_Email</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>delimiterType</name>
            <value>
                <stringValue>VIRGULA</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>rawValue</name>
            <value>
                <elementReference>$Record.DistributionValue__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>StringListParser</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>ValueSearchList</assignToReference>
            <name>values</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Split_value_graduation</name>
        <label>Split value graduation</label>
        <locationX>402</locationX>
        <locationY>431</locationY>
        <actionName>StringListParser</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Consultant_by_graduation</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>delimiterType</name>
            <value>
                <stringValue>VIRGULA</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>rawValue</name>
            <value>
                <elementReference>$Record.DistributionValue__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>StringListParser</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>ValueSearchList</assignToReference>
            <name>values</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Consultant_Warm</name>
        <label>Assign First Consultant Warm</label>
        <locationX>1282</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>varConsultorSelecionadoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Consultor_Filter_Warm.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varConsultorId.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Consultor_Filter_Warm.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Owner_Warm</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_First_Consultant_Hot</name>
        <label>Assign First Consultant Hot</label>
        <locationX>1722</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>varConsultorSelecionadoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Consultor_Filter_Hot.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varConsultorId.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Consultor_Filter_Hot.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Owner_Hot</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_First_Consultant_Hot_No_State</name>
        <label>Assign First Consultant Hot No State</label>
        <locationX>3218</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>varConsultorId.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_User_Hot.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varConsultorSelecionadoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_User_Hot.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_recordtype</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_First_Consultant_Prioritario</name>
        <label>Assign First Consultant Prioritario</label>
        <locationX>2162</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>varConsultorSelecionadoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Consultor_Filter_Prioritario.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varConsultorId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Consultor_Filter_Prioritario</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Owner_Prioritario</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_First_Consultant_Prioritario_No_State</name>
        <label>Assign First Consultant Prioritario No State</label>
        <locationX>3482</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>varConsultorId.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_User_Prioritario.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varConsultorSelecionadoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_User_Prioritario.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_recordtype</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_First_Consultant_Warm_No_State</name>
        <label>Assign First Consultant Warm No State</label>
        <locationX>2954</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>varConsultorId.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_User_Warm.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varConsultorSelecionadoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_User_Warm.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_recordtype</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Last_Lead_Consultant</name>
        <label>Assign Last Lead Consultant</label>
        <locationX>1634</locationX>
        <locationY>1505</locationY>
        <assignmentItems>
            <assignToReference>varConsultorId.Lb065_UltimoLeadRecebido__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NOW</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Consultant_Least_Lead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignFirstConsultantWarm</name>
        <label>Assign First Consultant Warm</label>
        <locationX>842</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>varConsultorSelecionadoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetConsultorState.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varConsultorId.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetConsultorState.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Cold_and_Warm</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_First_Consultant_Prioritario</name>
        <label>Assign First Consultant</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>varConsultorSelecionadoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Consultant_by_Email.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varConsultorId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Consultant_by_Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Copy_2_of_Has_Owner_Warm</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Copy_1_of_Assign_First_Consultant_Prioritario</name>
        <label>Assign First Consultant</label>
        <locationX>402</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>varConsultorSelecionadoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Consultant_by_graduation.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varConsultorId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Consultant_by_graduation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_2_of_Has_Owner_Warm</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>skip_state_decision</name>
        <label>skip state decision</label>
        <locationX>930</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>skipDecisionState</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Evaluete_Lead_Rating_Filter_True</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Copy_2_of_Has_Owner_Warm</name>
        <label>Has Owner</label>
        <locationX>402</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Evaluete_Lead_Rating_Filter_True</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Copy_3_of_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varConsultorSelecionadoId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_recordtype</targetReference>
            </connector>
            <label>Copy 3 of Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Evaluete_Lead_Rating</name>
        <label>Evaluete Lead Rating</label>
        <locationX>3218</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>get_recordtype</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Cold</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Rating</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cold</stringValue>
                </rightValue>
            </conditions>
            <label>Cold</label>
        </rules>
        <rules>
            <name>Warm</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Rating</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Warm</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_User_Warm</targetReference>
            </connector>
            <label>Warm</label>
        </rules>
        <rules>
            <name>Hot</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Rating</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hot</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_User_Hot</targetReference>
            </connector>
            <label>Hot</label>
        </rules>
        <rules>
            <name>Prioritario</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Rating</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Prioritário</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_User_Prioritario</targetReference>
            </connector>
            <label>Prioritário</label>
        </rules>
    </decisions>
    <decisions>
        <name>Evaluete_Lead_Rating_Filter_True</name>
        <label>Evaluete Lead Rating Filter True</label>
        <locationX>1678</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>get_recordtype</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Cold_And_Warm_With_Status</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Rating</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cold</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Rating</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Warm</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>skipDecisionState</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetConsultorState</targetReference>
            </connector>
            <label>Cold And Warm With Status</label>
        </rules>
        <rules>
            <name>WarmTrue</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Rating</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Warm</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Rating</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cold</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Consultor_Filter_Warm</targetReference>
            </connector>
            <label>Warm</label>
        </rules>
        <rules>
            <name>HotTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Rating</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hot</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Consultor_Filter_Hot</targetReference>
            </connector>
            <label>Hot</label>
        </rules>
        <rules>
            <name>PrioritarioTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Rating</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Prioritário</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Consultor_Filter_Prioritario</targetReference>
            </connector>
            <label>Prioritário</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Cold_and_Warm</name>
        <label>Has Cold and Warm</label>
        <locationX>842</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>skip_state_decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varConsultorSelecionadoId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_recordtype</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Owner_Hot</name>
        <label>Has Owner Hot</label>
        <locationX>1722</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Consultor_Filter_Prioritario</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesOwnerHot</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varConsultorSelecionadoId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_recordtype</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Owner_Prioritario</name>
        <label>Has Owner Prioritario</label>
        <locationX>2162</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Evaluete_Lead_Rating</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesHasOwner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varConsultorSelecionadoId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_recordtype</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Owner_Warm</name>
        <label>Has Owner Warm</label>
        <locationX>1282</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Consultor_Filter_Hot</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesHasWarm</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varConsultorSelecionadoId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_recordtype</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Type_of_Distribution</name>
        <label>Type of Distribution</label>
        <locationX>1634</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Evaluete_Lead_Rating</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>By_Consutant</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Distributiontype__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Split_value_consultant</targetReference>
            </connector>
            <label>By Consutant</label>
        </rules>
        <rules>
            <name>By_Graduation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Distributiontype__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Graduação</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Split_value_graduation</targetReference>
            </connector>
            <label>By Graduation</label>
        </rules>
        <rules>
            <name>YesState</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.State</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Evaluete_Lead_Rating_Filter_True</targetReference>
            </connector>
            <label>by State</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>NOW</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <interviewLabel>Lead - After - {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead - Update - After - Distribuição do Lead</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_Consultant_by_Email</name>
        <label>get Consultant by Email</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Assign_First_Consultant_Prioritario</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email__c</field>
            <operator>In</operator>
            <value>
                <elementReference>ValueSearchList</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Consultor__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Consultant_by_graduation</name>
        <label>Get Consultant by graduation</label>
        <locationX>402</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_2_of_Copy_1_of_Assign_First_Consultant_Prioritario</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Lb65_Graduacao__c</field>
            <operator>In</operator>
            <value>
                <elementReference>ValueSearchList</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Consultor__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Consultor_Filter_Hot</name>
        <label>Get Consultor Filter Hot</label>
        <locationX>1722</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_First_Consultant_Hot</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR (7 AND 8)) AND 4 AND 5 AND 6</filterLogic>
        <filters>
            <field>Lb065_RegiaoConsultorEstado__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>$Record.LeadRegion__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Lb65_Graduacao__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Platinum</stringValue>
            </value>
        </filters>
        <filters>
            <field>Lb65_Graduacao__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Gold</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.ConsultorRegional__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SendLead__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>FreezeConsult__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SpecialRange__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Rating</elementReference>
            </value>
        </filters>
        <filters>
            <field>SpecialRange__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Consultor__c</object>
        <sortField>Lb065_UltimoLeadRecebido__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Consultor_Filter_Prioritario</name>
        <label>Get Consultor Filter Prioritario</label>
        <locationX>2162</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_First_Consultant_Prioritario</targetReference>
        </connector>
        <filterLogic>(1 OR 2 OR (6 AND 7)) AND 3 AND 4 AND 5</filterLogic>
        <filters>
            <field>Lb65_Graduacao__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Diamond</stringValue>
            </value>
        </filters>
        <filters>
            <field>Lb65_Graduacao__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Carbon Diamond</stringValue>
            </value>
        </filters>
        <filters>
            <field>SendLead__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.ConsultorRegional__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>FreezeConsult__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SpecialRange__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Rating</elementReference>
            </value>
        </filters>
        <filters>
            <field>SpecialRange__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Consultor__c</object>
        <sortField>Lb065_UltimoLeadRecebido__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Consultor_Filter_Warm</name>
        <label>Get Consultor Filter Warm</label>
        <locationX>1282</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Consultant_Warm</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR (7 AND 8)) AND 4 AND 5 AND 6</filterLogic>
        <filters>
            <field>Lb065_RegiaoConsultorEstado__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>$Record.LeadRegion__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Lb65_Graduacao__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Advanced Builder</stringValue>
            </value>
        </filters>
        <filters>
            <field>Lb65_Graduacao__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Builder</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.ConsultorRegional__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>FreezeConsult__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SendLead__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SpecialRange__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Rating</elementReference>
            </value>
        </filters>
        <filters>
            <field>SpecialRange__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Consultor__c</object>
        <sortField>Lb065_UltimoLeadRecebido__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_recordtype</name>
        <label>get recordtype</label>
        <locationX>1634</locationX>
        <locationY>1289</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Lead_Owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>QualificacaodeClientes</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User_Hot</name>
        <label>Get Consultant Hot</label>
        <locationX>3218</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_First_Consultant_Hot_No_State</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND 3</filterLogic>
        <filters>
            <field>Lb65_Graduacao__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Advanced Builder</stringValue>
            </value>
        </filters>
        <filters>
            <field>Lb65_Graduacao__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Gold</stringValue>
            </value>
        </filters>
        <filters>
            <field>Ativo__c</field>
            <operator>EqualTo</operator>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Consultor__c</object>
        <sortField>Lb065_UltimoLeadRecebido__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User_Prioritario</name>
        <label>Get Consultant Prioritario</label>
        <locationX>3482</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_First_Consultant_Prioritario_No_State</targetReference>
        </connector>
        <filterLogic>(1 OR 2 OR 3) AND 4</filterLogic>
        <filters>
            <field>Lb65_Graduacao__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Platinum</stringValue>
            </value>
        </filters>
        <filters>
            <field>Lb65_Graduacao__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Diamond</stringValue>
            </value>
        </filters>
        <filters>
            <field>Lb65_Graduacao__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Carbon Diamond</stringValue>
            </value>
        </filters>
        <filters>
            <field>Ativo__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Consultor__c</object>
        <sortField>Lb065_UltimoLeadRecebido__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User_Warm</name>
        <label>Get Consultant Warm</label>
        <locationX>2954</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_First_Consultant_Warm_No_State</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND 3</filterLogic>
        <filters>
            <field>Lb65_Graduacao__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Advisor</stringValue>
            </value>
        </filters>
        <filters>
            <field>Lb65_Graduacao__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Builder</stringValue>
            </value>
        </filters>
        <filters>
            <field>Ativo__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Consultor__c</object>
        <sortField>Lb065_UltimoLeadRecebido__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetConsultorState</name>
        <label>Get Consultor By State</label>
        <locationX>842</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignFirstConsultantWarm</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3 AND (4 OR 5 OR (6 AND 7))</filterLogic>
        <filters>
            <field>Estado__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.State</elementReference>
            </value>
        </filters>
        <filters>
            <field>SendLead__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>FreezeConsult__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Lb65_Graduacao__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Advanced Builder</stringValue>
            </value>
        </filters>
        <filters>
            <field>Lb65_Graduacao__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Builder</stringValue>
            </value>
        </filters>
        <filters>
            <field>SpecialRange__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Rating</elementReference>
            </value>
        </filters>
        <filters>
            <field>SpecialRange__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Consultor__c</object>
        <sortField>Lb065_UltimoLeadRecebido__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Consultant_Least_Lead</name>
        <label>Update Consultant Least Lead</label>
        <locationX>1634</locationX>
        <locationY>1613</locationY>
        <connector>
            <targetReference>Call_Lead_Integration</targetReference>
        </connector>
        <inputReference>varConsultorId</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lead_Owner</name>
        <label>Update Lead Owner</label>
        <locationX>1634</locationX>
        <locationY>1397</locationY>
        <connector>
            <targetReference>Assign_Last_Lead_Consultant</targetReference>
        </connector>
        <inputAssignments>
            <field>ConsultorRegional__c</field>
            <value>
                <elementReference>varConsultorSelecionadoId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lb065_LeadVencido__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>get_recordtype.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Distribuído</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1508</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Type_of_Distribution</targetReference>
        </connector>
        <filterLogic>(1 OR (3 AND 4)) AND 2</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Novo</stringValue>
            </value>
        </filters>
        <filters>
            <field>Rating</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Lb065_LeadVencido__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Lb065_LeadVencido__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItem_Filter_Rating_Hot</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Consultor__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Rating_Prioritario</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Consultor__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Rating_Warm</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Consultor__c</objectType>
    </variables>
    <variables>
        <name>skipDecisionState</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ValueSearchList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varConsultorId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Consultor__c</objectType>
    </variables>
    <variables>
        <name>varConsultorSelecionadoId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
