force-app/main/default/flows/Lead_Qualification_Score.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>A_o_Lead_Qualification_Lead_gera_o_individual_1</name>
        <label>Ação [Lead] - Qualification Lead (geração individual) 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Lead_Qualification_Lead</actionName>
        <actionType>generatePromptResponse</actionType>
        <connector>
            <targetReference>A_o_Parse_JSON_Fixed_Fields_1</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Input:lead</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Lead_Qualification_Lead</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>A_o_Parse_JSON_Fixed_Fields_1</name>
        <label>Ação Parse JSON Fixed Fields 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>ReadJsonString</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Atualizar_registros_1</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>json</name>
            <value>
                <elementReference>A_o_Lead_Qualification_Lead_gera_o_individual_1.promptResponse</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>keys</name>
            <value>
                <elementReference>KeyString</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ReadJsonString</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Fields_Return</name>
        <label>Fields Return</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>KeyString</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Pontuacao_Total</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>KeyString</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Classificacao_Final</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>KeyString</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Equipe_Atendimento</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>A_o_Lead_Qualification_Lead_gera_o_individual_1</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>Pontuacao</name>
        <dataType>Number</dataType>
        <expression>VALUE({!A_o_Parse_JSON_Fixed_Fields_1.field1})</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>[Lead] - Qualification Score {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Lead] - Qualification Score</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Atualizar_registros_1</name>
        <label>Atualizar registros 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Lb065_PontuacaoOrigem__c</field>
            <value>
                <elementReference>Pontuacao</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rating</field>
            <value>
                <elementReference>A_o_Parse_JSON_Fixed_Fields_1.field2</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Fields_Return</targetReference>
        </connector>
        <filterFormula>AND (TEXT({!$Record.Status}) == &apos;Novo&apos;, 
{!$Record.RecordType.DeveloperName} ==&apos;Cliente&apos;,
{!$Record.FalarComAgente__c} == false)</filterFormula>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>KeyString</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
