force-app/main/default/flows/LeadOnCreateFlowAfterAtribuiPontuacaoParaLead.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign0Points</name>
        <label>Assign 0 Points</label>
        <locationX>1238</locationX>
        <locationY>731</locationY>
        <assignmentItems>
            <assignToReference>varPontosOrigem</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lead_Product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign0PointsLeadValue</name>
        <label>Assign 0 Points</label>
        <locationX>1370</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>varPontosFatura</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Lead_Source</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_0_PointsProduct</name>
        <label>Assign 0 Points</label>
        <locationX>1106</locationX>
        <locationY>1031</locationY>
        <assignmentItems>
            <assignToReference>varPontosProduct</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Final_Classification</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_10_Points</name>
        <label>Assign 10 Points</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>varPontosFatura</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>10.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lead_Source</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_10_PointsProduct</name>
        <label>Assign 10 Points</label>
        <locationX>314</locationX>
        <locationY>1031</locationY>
        <assignmentItems>
            <assignToReference>varPontosProduct</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>10.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Final_Classification</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_10_PointsSource</name>
        <label>Assign 10 Points</label>
        <locationX>182</locationX>
        <locationY>731</locationY>
        <assignmentItems>
            <assignToReference>varPontosOrigem</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>10.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lead_Product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_15_Points</name>
        <label>Assign 15 Points</label>
        <locationX>842</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>varPontosFatura</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>15.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lead_Source</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_1_PointsSource</name>
        <label>Assign 1 Points</label>
        <locationX>974</locationX>
        <locationY>731</locationY>
        <assignmentItems>
            <assignToReference>varPontosOrigem</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lead_Product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_20_Points</name>
        <label>Assign 20 Points</label>
        <locationX>1106</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>varPontosFatura</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>20.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lead_Source</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_2_Points</name>
        <label>Assign 2 Points</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>varPontosFatura</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lead_Source</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_2_PointsProduct</name>
        <label>Assign 2 Points</label>
        <locationX>842</locationX>
        <locationY>1031</locationY>
        <assignmentItems>
            <assignToReference>varPontosProduct</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Final_Classification</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_3_PointsSource</name>
        <label>Assign 3 Points</label>
        <locationX>710</locationX>
        <locationY>731</locationY>
        <assignmentItems>
            <assignToReference>varPontosOrigem</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lead_Product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_5_Points</name>
        <label>Assign 5 Points</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>varPontosFatura</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>5.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lead_Source</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_5_PointsProduct</name>
        <label>Assign 5 Points</label>
        <locationX>578</locationX>
        <locationY>1031</locationY>
        <assignmentItems>
            <assignToReference>varPontosProduct</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>5.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Final_Classification</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_6_PointsSource</name>
        <label>Assign 6 Points</label>
        <locationX>446</locationX>
        <locationY>731</locationY>
        <assignmentItems>
            <assignToReference>varPontosOrigem</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>6.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lead_Product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Cold</name>
        <label>Assign Cold</label>
        <locationX>182</locationX>
        <locationY>1331</locationY>
        <assignmentItems>
            <assignToReference>ratingText</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Cold</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Triggered_Lead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Hot</name>
        <label>Assign Hot</label>
        <locationX>710</locationX>
        <locationY>1331</locationY>
        <assignmentItems>
            <assignToReference>ratingText</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Hot</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Triggered_Lead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Prioritario</name>
        <label>Assign Prioritario</label>
        <locationX>974</locationX>
        <locationY>1331</locationY>
        <assignmentItems>
            <assignToReference>ratingText</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Prioritário</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Triggered_Lead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Warm</name>
        <label>Assign Warm</label>
        <locationX>446</locationX>
        <locationY>1331</locationY>
        <assignmentItems>
            <assignToReference>ratingText</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Warm</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Triggered_Lead</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Final_Classification</name>
        <label>Final Classification</label>
        <locationX>710</locationX>
        <locationY>1223</locationY>
        <defaultConnector>
            <targetReference>Update_Triggered_Lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X0_to_10_points</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varTotalPontos</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>25.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Cold</targetReference>
            </connector>
            <label>Frio 0 to 10 points</label>
        </rules>
        <rules>
            <name>X26_to_20_points</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varTotalPontos</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>26.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varTotalPontos</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>40.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Warm</targetReference>
            </connector>
            <label>Morno 11 to 20 points</label>
        </rules>
        <rules>
            <name>X21_to_30_points</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varTotalPontos</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>41.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varTotalPontos</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>55.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Hot</targetReference>
            </connector>
            <label>Quente 21 to 30 points</label>
        </rules>
        <rules>
            <name>X31_to_40_points</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varTotalPontos</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>56.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Prioritario</targetReference>
            </connector>
            <label>Prioritario 31 to 40 points</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lead_Product</name>
        <label>Lead Product</label>
        <locationX>710</locationX>
        <locationY>923</locationY>
        <defaultConnector>
            <targetReference>Assign_0_PointsProduct</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Assign10PointsProduct</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Lb065_ProdutoInteresse__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ezee Connect</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Lb065_ProdutoInteresse__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ezee Livre</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Lb065_ProdutoInteresse__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ezee Solar</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Lb065_ProdutoInteresse__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Solar</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Lb065_ProdutoInteresse__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Baterias</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Lb065_ProdutoInteresse__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Carregador veicular</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_10_PointsProduct</targetReference>
            </connector>
            <label>Assign 10 Points</label>
        </rules>
        <rules>
            <name>Assign5PointsProduct</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Lb065_ProdutoInteresse__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Interesse genérico em energia solar</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_5_PointsProduct</targetReference>
            </connector>
            <label>Assign 5 Points</label>
        </rules>
        <rules>
            <name>Assign2PointsProduct</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Lb065_ProdutoInteresse__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Não indicou ou não soube informar</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_2_PointsProduct</targetReference>
            </connector>
            <label>Assign 2 Points</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lead_Source</name>
        <label>Lead Source</label>
        <locationX>710</locationX>
        <locationY>623</locationY>
        <defaultConnector>
            <targetReference>Assign0Points</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Indica_o_direta_ou_campanha_de_engajamento</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer Event</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Employee Referral</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Partner</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Webinar</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Trade Show</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Website</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>WhatsApp via botão no site / link direto</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_10_PointsSource</targetReference>
            </connector>
            <label>Indicação direta ou campanha de engajamento</label>
        </rules>
        <rules>
            <name>Anuncio_pago_com_formulario_completo</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Facebook Consultor - Empreenda</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Facebook Consultor - Reunião Online</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Facebook Super Black - Consumidor Final</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Advertisement</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Google AdWords</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Anúncio patrocinado com preenchimento completo</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_6_PointsSource</targetReference>
            </connector>
            <label>Anúncio pago com formulário completo</label>
        </rules>
        <rules>
            <name>Landing_Page_com_poucos_dados_preenchidos</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Quero Ser Enerzee</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Nivello</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Purchased List</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Web-To-Lead Integrador</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Web-To-Lead Cliente</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Acesso direto ao site ou via busca orgânica</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_3_PointsSource</targetReference>
            </connector>
            <label>Landing Page com poucos dados preenchidos</label>
        </rules>
        <rules>
            <name>Base_fria_ou_lista_de_retargeting</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Base antiga sem nova ação</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_1_PointsSource</targetReference>
            </connector>
            <label>Base fria ou lista de retargeting</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lead_Value</name>
        <label>Lead Value</label>
        <locationX>710</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Assign0PointsLeadValue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Information</defaultConnectorLabel>
        <rules>
            <name>RS0RS300</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CustoEnergiaMes__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>até R$ 300</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_2_Points</targetReference>
            </connector>
            <label>R$0 to R$300</label>
        </rules>
        <rules>
            <name>RS301RS500</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CustoEnergiaMes__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>até R$ 300 a R$ 500</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_5_Points</targetReference>
            </connector>
            <label>R$301 to R$500</label>
        </rules>
        <rules>
            <name>RS501RS1000</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CustoEnergiaMes__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>de R$ 500 a R$ 1.000</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_10_Points</targetReference>
            </connector>
            <label>R$ 501 to R$1000</label>
        </rules>
        <rules>
            <name>RS1001RS5000</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CustoEnergiaMes__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>mais de R$ 1.000</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_15_Points</targetReference>
            </connector>
            <label>R$1001 to R$5000</label>
        </rules>
        <rules>
            <name>MoreThenRS5000</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CustoEnergiaMes__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>acima de R$ 5.000</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_20_Points</targetReference>
            </connector>
            <label>More Then R$5000</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>varTotalPontos</name>
        <dataType>Number</dataType>
        <expression>{!varPontosFatura} + {!varPontosOrigem} + {!varPontosProduct}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Lead - Flow After - Atribui pontuação para o lead {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead - On Create - Flow After - Atribui Pontuação Para o Lead</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Triggered_Lead</name>
        <label>Update Triggered Lead</label>
        <locationX>710</locationX>
        <locationY>1523</locationY>
        <inputAssignments>
            <field>Lb065_PontuacaoFatura__c</field>
            <value>
                <elementReference>varPontosFatura</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lb065_PontuacaoOrigem__c</field>
            <value>
                <elementReference>varPontosOrigem</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rating</field>
            <value>
                <elementReference>ratingText</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Lead_Value</targetReference>
        </connector>
        <filterFormula>OR(
  ISNEW(),
  ISCHANGED({!$Record.CustoEnergiaMes__c}),
  ISCHANGED({!$Record.LeadSource})
)</filterFormula>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>ratingText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPontosFatura</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varPontosOrigem</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varPontosProduct</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varRating</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
