force-app/main/default/flows/LWC_Send_Conversation_Message.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Copy_3_of_Send_Conversation_Messages</name>
        <label>Copy 3 of Send Conversation Messages</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>sendConversationMessages</actionName>
        <actionType>sendConversationMessages</actionType>
        <connector>
            <targetReference>SendConversationMessages</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>messageDefinitionName</name>
            <value>
                <elementReference>messageDefinitionName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>requestType</name>
            <value>
                <stringValue>SendNotificationMessages</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isEnforceMessagingChannelConsent</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>channelConsentType</name>
            <value>
                <stringValue>MessagingEndUser</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>allowedSessionStatus</name>
            <value>
                <stringValue>Any</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>messagingEndUserIds</name>
            <value>
                <elementReference>messagingEndUserIds</elementReference>
            </value>
        </inputParameters>
        <nameSegment>sendConversationMessages</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Iniciar_conversa</name>
        <label>Iniciar_conversa</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>sendConversationMessages</actionName>
        <actionType>sendConversationMessages</actionType>
        <connector>
            <targetReference>SendConversationMessages</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>messageDefinitionName</name>
            <value>
                <stringValue>Iniciar_conversa</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>messagingDefinitionInputParameters</name>
        </inputParameters>
        <inputParameters>
            <name>requestType</name>
            <value>
                <stringValue>SendNotificationMessages</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isEnforceMessagingChannelConsent</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>channelConsentType</name>
            <value>
                <stringValue>MessagingEndUser</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>allowedSessionStatus</name>
            <value>
                <stringValue>Any</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>messagingEndUserIds</name>
            <value>
                <elementReference>messagingEndUserIds</elementReference>
            </value>
        </inputParameters>
        <nameSegment>sendConversationMessages</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Iniciarconversa_Consultor</name>
        <label>Iniciar conversa - Consultor</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>sendConversationMessages</actionName>
        <actionType>sendConversationMessages</actionType>
        <connector>
            <targetReference>SendConversationMessages</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>messageDefinitionName</name>
            <value>
                <stringValue>Iniciar_conversa_consultor</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>messagingDefinitionInputParameters</name>
        </inputParameters>
        <inputParameters>
            <name>requestType</name>
            <value>
                <stringValue>SendNotificationMessages</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isEnforceMessagingChannelConsent</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>channelConsentType</name>
            <value>
                <stringValue>MessagingEndUser</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>allowedSessionStatus</name>
            <value>
                <stringValue>Any</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>messagingEndUserIds</name>
            <value>
                <elementReference>messagingEndUserIds</elementReference>
            </value>
        </inputParameters>
        <nameSegment>sendConversationMessages</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Notifica_o_inicial</name>
        <label>Notifica_o_inicial</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>sendConversationMessages</actionName>
        <actionType>sendConversationMessages</actionType>
        <connector>
            <targetReference>SendConversationMessages</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>messageDefinitionName</name>
            <value>
                <stringValue>Notifica_o_inicial</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>messagingDefinitionInputParameters</name>
        </inputParameters>
        <inputParameters>
            <name>requestType</name>
            <value>
                <stringValue>SendNotificationMessages</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isEnforceMessagingChannelConsent</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>channelConsentType</name>
            <value>
                <stringValue>MessagingEndUser</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>allowedSessionStatus</name>
            <value>
                <stringValue>Any</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>messagingEndUserIds</name>
            <value>
                <elementReference>messagingEndUserIds</elementReference>
            </value>
        </inputParameters>
        <nameSegment>sendConversationMessages</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>SendConversationMessages</name>
        <label>Send Conversation Messages</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>sendConversationMessages</actionName>
        <actionType>sendConversationMessages</actionType>
        <connector>
            <targetReference>FindSession</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>messageDefinitionName</name>
            <value>
                <elementReference>messageDefinitionName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>requestType</name>
            <value>
                <stringValue>SendNotificationMessages</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isEnforceMessagingChannelConsent</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>channelConsentType</name>
            <value>
                <stringValue>MessagingEndUser</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>allowedSessionStatus</name>
            <value>
                <stringValue>Any</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>messagingEndUserIds</name>
            <value>
                <elementReference>messagingEndUserIds</elementReference>
            </value>
        </inputParameters>
        <nameSegment>sendConversationMessages</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>sessao_inativa_agente_consultor</name>
        <label>sessao_inativa_agente_consultor</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>sendConversationMessages</actionName>
        <actionType>sendConversationMessages</actionType>
        <connector>
            <targetReference>SendConversationMessages</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>messageDefinitionName</name>
            <value>
                <stringValue>sessao_inativa_agente_consultor</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>messagingDefinitionInputParameters</name>
        </inputParameters>
        <inputParameters>
            <name>requestType</name>
            <value>
                <stringValue>SendNotificationMessages</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isEnforceMessagingChannelConsent</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>channelConsentType</name>
            <value>
                <stringValue>MessagingEndUser</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>allowedSessionStatus</name>
            <value>
                <stringValue>Any</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>messagingEndUserIds</name>
            <value>
                <elementReference>messagingEndUserIds</elementReference>
            </value>
        </inputParameters>
        <nameSegment>sendConversationMessages</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Sessao_Inativa_Cliente</name>
        <label>Sessao_Inativa_Cliente</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>sendConversationMessages</actionName>
        <actionType>sendConversationMessages</actionType>
        <connector>
            <targetReference>SendConversationMessages</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>messageDefinitionName</name>
            <value>
                <stringValue>Sessao_Inativa_Cliente</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>messagingDefinitionInputParameters</name>
        </inputParameters>
        <inputParameters>
            <name>requestType</name>
            <value>
                <stringValue>SendNotificationMessages</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isEnforceMessagingChannelConsent</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>channelConsentType</name>
            <value>
                <stringValue>MessagingEndUser</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>allowedSessionStatus</name>
            <value>
                <stringValue>Any</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>messagingEndUserIds</name>
            <value>
                <elementReference>messagingEndUserIds</elementReference>
            </value>
        </inputParameters>
        <nameSegment>sendConversationMessages</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Default</name>
        <label>Assign Default Message</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>messageDefinitionName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Notifica_o_inicial</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Notifica_o_inicial</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_IniciarConversa</name>
        <label>Assign Iniciar Conversa</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>messageDefinitionName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Iniciar_conversa</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iniciar_conversa</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_IniciarConversaConsultor</name>
        <label>Assign Iniciar Conversa Consultor</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>messageDefinitionName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Iniciar_conversa_consultor</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_3_of_Send_Conversation_Messages</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_SessaoInativaAgente</name>
        <label>Assign Sessao Inativa Agente</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>messageDefinitionName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sessao_Inativa</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iniciarconversa_Consultor</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_SessaoInativaAgenteConsultor</name>
        <label>Assign Sessao Inativa Agente Consultor</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>messageDefinitionName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>sessao_inativa_agente_consultor</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>sessao_inativa_agente_consultor</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_SessaoInativaCliente</name>
        <label>Assign Sessao Inativa Cliente</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>messageDefinitionName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sessao_Inativa_Cliente</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Sessao_Inativa_Cliente</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetOutput</name>
        <label>Set Output</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>messagingSessionId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FindSession.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Select_Message</name>
        <label>Select Message</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Assign_Default</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>NotificacaoInicial</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>messageKey</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Notifica_o_inicial</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Default</targetReference>
            </connector>
            <label>Notificação inicial</label>
        </rules>
        <rules>
            <name>IniciarConversa</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>messageKey</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Iniciar_conversa</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_IniciarConversa</targetReference>
            </connector>
            <label>Iniciar conversa</label>
        </rules>
        <rules>
            <name>IniciarConversaConsultor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>messageKey</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Iniciar_conversa_consultor</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_IniciarConversaConsultor</targetReference>
            </connector>
            <label>Iniciar conversa - Consultor</label>
        </rules>
        <rules>
            <name>SessaoInativaAgente</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>messageKey</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sessao_Inativa</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_SessaoInativaAgente</targetReference>
            </connector>
            <label>Sessão Inativa - Agente</label>
        </rules>
        <rules>
            <name>SessaoInativaCliente</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>messageKey</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sessao_Inativa_Cliente</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_SessaoInativaCliente</targetReference>
            </connector>
            <label>Sessão Inativa - Cliente</label>
        </rules>
        <rules>
            <name>SessaoInativaAgenteConsultor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>messageKey</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>sessao_inativa_agente_consultor</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_SessaoInativaAgenteConsultor</targetReference>
            </connector>
            <label>Sessão Inativa - Agente - Consultor</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>LWC Send Conversation Message {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LWC Send Conversation Message</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>FindSession</name>
        <label>Find Session</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SetOutput</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3</filterLogic>
        <filters>
            <field>MessagingEndUserId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>messagingEndUserId</elementReference>
            </value>
        </filters>
        <filters>
            <field>MessagingChannelId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>messagingChannelId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Ended</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MessagingSession</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Select_Message</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>messageDefinitionName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>messageKey</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>messagingChannelId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>messagingEndUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>messagingEndUserIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>messagingSessionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
