force-app/main/default/flows/Messaging_Session_SLA_Setup.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <interviewLabel>Messaging Session - SLA Setup {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Messaging Session - SLA Setup</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Message_Config_by_Owner</name>
        <label>Get Message Config by Owner</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Message</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Queue_by_name.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SetupMessagingSession__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Queue_by_name</name>
        <label>Get Queue by name</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Message_Config_by_Owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Owner:Group.DeveloperName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Message</name>
        <label>Update Message</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MinuteSLAN1__c</field>
            <value>
                <elementReference>Get_Message_Config_by_Owner.MinuteSLAN1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MinuteSLAN2__c</field>
            <value>
                <elementReference>Get_Message_Config_by_Owner.MinuteSLAN2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MinuteSLAN3__c</field>
            <value>
                <elementReference>Get_Message_Config_by_Owner.MinuteSLAN3__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NotifyN1__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NotifyN2__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NotifyN3__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerAssignmentDate__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QueueAtendentRole__c</field>
            <value>
                <elementReference>Get_Message_Config_by_Owner.QueueAtendentRole__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QueueCoordinatorRole__c</field>
            <value>
                <elementReference>Get_Message_Config_by_Owner.QueueCoordinatorRole__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QueueSupervisorRole__c</field>
            <value>
                <elementReference>Get_Message_Config_by_Owner.QueueSupervisorRole__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QueueSupervisor__c</field>
            <value>
                <elementReference>Get_Message_Config_by_Owner.QueueSupervisor__c</elementReference>
            </value>
        </inputAssignments>
        <object>MessagingSession</object>
    </recordUpdates>
    <runInMode>SystemModeWithSharing</runInMode>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Queue_by_name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerChanged__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>MessagingSession</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>MessageId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>QueueDeveloperName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
