force-app/main/default/flows/Messaging_Session_After_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Agenteforce_Gerar_resumo_completo_desse_lead_Action_1</name>
        <label>[Agenteforce] - Gerar resumo completo desse lead Action 1</label>
        <locationX>446</locationX>
        <locationY>384</locationY>
        <actionName>Agenteforce_Gerar_resumo_completo_desse_lead</actionName>
        <actionType>generatePromptResponse</actionType>
        <connector>
            <targetReference>get_interaction</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Input:Conversa</name>
            <value>
                <elementReference>Detect_Remarketing_in_Conversation_Action_1.messagesStringSimple</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Agenteforce_Gerar_resumo_completo_desse_lead</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Detect_Remarketing_in_Conversation_Action_1</name>
        <label>Detect Remarketing in Conversation Action 1</label>
        <locationX>446</locationX>
        <locationY>276</locationY>
        <actionName>RemarketingRouter</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Agenteforce_Gerar_resumo_completo_desse_lead_Action_1</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>conversationIdentifier</name>
            <value>
                <elementReference>$Record.Conversation.ConversationIdentifier</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>messageLimit</name>
            <value>
                <numberValue>50.0</numberValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderFilter</name>
            <value>
                <stringValue>all</stringValue>
            </value>
        </inputParameters>
        <nameSegment>RemarketingRouter</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Has_record</name>
        <label>Has record</label>
        <locationX>50</locationX>
        <locationY>384</locationY>
        <defaultConnector>
            <targetReference>Create_Lead_Interaction</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Lead_Interaction.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ISCHANGED</name>
        <dataType>Boolean</dataType>
        <expression>ISCHANGED({!$Record.OwnerChanged__c})</expression>
    </formulas>
    <interviewLabel>Messaging Session - After Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Messaging Session - After Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_interaction</name>
        <label>get interaction</label>
        <locationX>446</locationX>
        <locationY>492</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>update_lead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MessagingSession__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LeadInteraction__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Lead_Interaction</name>
        <label>Get Lead Interaction</label>
        <locationX>50</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MessagingSession__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LeadInteraction__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>get_lead_to_update</name>
        <label>get lead to update</label>
        <locationX>182</locationX>
        <locationY>600</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Lead_Interaction.varLeadId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>A conversa Foi Inicializada sem o Agente Coletar todas as informações</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NotFinishMessaging__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SDRAgent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_lead</name>
        <label>update lead</label>
        <locationX>446</locationX>
        <locationY>600</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_interaction.Lead__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Lb065_HistoricoLead__c</field>
            <value>
                <elementReference>Agenteforce_Gerar_resumo_completo_desse_lead_Action_1.promptResponse</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ResumoInteracao__c</field>
            <value>
                <elementReference>Agenteforce_Gerar_resumo_completo_desse_lead_Action_1.promptResponse</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Lead_Interaction</targetReference>
        </connector>
        <filterFormula>AND(TEXT({!$Record.Status}) == &apos;Ended&apos; , TEXT({!$Record__Prior.Status}) != &apos;Ended&apos; , {!$Record.AgenteSDR__c})</filterFormula>
        <object>MessagingSession</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <name>Update_historical</name>
            <connector>
                <targetReference>Detect_Remarketing_in_Conversation_Action_1</targetReference>
            </connector>
            <label>Update historical</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>LastModifiedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_Lead_Interaction</name>
        <label>Create Lead Interaction</label>
        <locationX>182</locationX>
        <locationY>492</locationY>
        <connector>
            <targetReference>get_lead_to_update</targetReference>
        </connector>
        <flowName>AgentForce_Lead_Create_Lead_or_Update</flowName>
        <inputAssignments>
            <name>varLastName</name>
            <value>
                <elementReference>$Record.MessagingEndUser.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varPhone</name>
            <value>
                <elementReference>$Record.MessagingEndUser.Telefone_Formatado__c</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varmessages</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varmessageValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
