force-app/main/default/flows/Notificar_fases_da_proposta_financeiro.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email_Notificar_fase_da_proposta_consultor</name>
        <label>Email - Notificar fase da proposta - Consultor</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Obter_Messaging_Channel</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>EmailNotificarConsultor</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>support@enerzee.com.br</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>AssuntoNotificarConsultor</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>CorpoNotificarConsultor</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ccRecipientAddressList</name>
            <value>
                <stringValue>Kaique.mathias@lab065.com</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Email_Notificar_fase_da_proposta_financeiro</name>
        <label>Email - Notificar fase da proposta - Financeiro</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <actionName>Opportunity.Notificar_fases_da_proposta_financeiro</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Email_Notificar_fase_da_proposta_consultor</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Notificar_fases_da_proposta_financeiro</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Email_Notificar_fase_da_proposta_financeiro2</name>
        <label>Email - Notificar fase da proposta - Financeiro</label>
        <locationX>1370</locationX>
        <locationY>431</locationY>
        <actionName>Opportunity.Notificar_fases_da_proposta_financeiro</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Notificar_fases_da_proposta_financeiro</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Email_Notificar_fase_da_proposta_Jornada_do_Cliente</name>
        <label>Email - Notificar fase da proposta - Jornada do Cliente</label>
        <locationX>1634</locationX>
        <locationY>539</locationY>
        <actionName>Opportunity.NotificarFasesDaPropostaJornadaDoCliente</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Notificar_Equipe_Projetos</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.NotificarFasesDaPropostaJornadaDoCliente</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Email_Notificar_fase_da_proposta_Projetos</name>
        <label>Email - Notificar fase da proposta - Projetos</label>
        <locationX>1634</locationX>
        <locationY>839</locationY>
        <actionName>Opportunity.NotificarFasesDaPropostaProjetos</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.NotificarFasesDaPropostaProjetos</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Notificar_consultor_via_whatsapp</name>
        <label>Notificar consultor via whatsapp</label>
        <locationX>50</locationX>
        <locationY>1079</locationY>
        <actionName>sendConversationMessages</actionName>
        <actionType>sendConversationMessages</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>messageDefinitionName</name>
            <value>
                <stringValue>Notificacao_de_envio_de_contrato_Consultor</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>messagingDefinitionInputParameters</name>
            <value>
                <apexValue>[
  {
    &quot;name&quot;: &quot;proposalNumber&quot;,
    &quot;textValue&quot;: &quot;{!numeroProposta}&quot;
  },
  {
    &quot;name&quot;: &quot;name&quot;,
    &quot;textValue&quot;: &quot;{!nomeConsultor}&quot;
  }
]</apexValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>requestType</name>
            <value>
                <stringValue>SendNotificationMessages</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isEnforceMessagingChannelConsent</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>channelConsentType</name>
            <value>
                <stringValue>MessagingEndUser</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>allowedSessionStatus</name>
            <value>
                <stringValue>Any</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>messagingEndUserIds</name>
            <value>
                <elementReference>messagingUserIds</elementReference>
            </value>
        </inputParameters>
        <nameSegment>sendConversationMessages</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Atribuir_valores_para_envio_da_mensagem_via_whastapp</name>
        <label>Atribuir valores para envio da mensagem via whastapp</label>
        <locationX>50</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>nomeConsultor</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ConsultorOportunidade__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>numeroProposta</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Numeroproposta__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>messagingUserIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Obter_MessagingEndUser.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Notificar_consultor_via_whatsapp</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Fase</name>
        <label>Fase</label>
        <locationX>1238</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Contrato_Enviado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contrato enviado</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Notificar_fase_da_proposta_financeiro</targetReference>
            </connector>
            <label>Contrato Enviado</label>
        </rules>
        <rules>
            <name>Fechado_Perdido</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fechado Perdido</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Notificar_fase_da_proposta_financeiro2</targetReference>
            </connector>
            <label>Fechado Perdido</label>
        </rules>
        <rules>
            <name>Ganho_Fechado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ganho fechado</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notificar_Jornada_do_Cliente</targetReference>
            </connector>
            <label>Ganho Fechado</label>
        </rules>
    </decisions>
    <decisions>
        <name>Messaging_User_Encontrado</name>
        <label>Messaging User Encontrado</label>
        <locationX>314</locationX>
        <locationY>863</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Sim</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obter_MessagingEndUser.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Atribuir_valores_para_envio_da_mensagem_via_whastapp</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>Notificar_Equipe_Projetos</name>
        <label>Notificar Equipe Projetos?</label>
        <locationX>1766</locationX>
        <locationY>731</locationY>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>NotificarProjetosSim</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NotificarProjetos</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Notificar_fase_da_proposta_Projetos</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>Notificar_Jornada_do_Cliente</name>
        <label>Notificar Jornada do Cliente?</label>
        <locationX>1766</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Notificar_Equipe_Projetos</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>NotificarJornadaDoClienteSim</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NotificarJornadaDoCliente</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Notificar_fase_da_proposta_Jornada_do_Cliente</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>EmailNotificarConsultor</name>
        <dataType>String</dataType>
        <expression>{!$Record.ConsultorOportunidade__r.Email__c}</expression>
    </formulas>
    <formulas>
        <name>NotificarJornadaDoCliente</name>
        <dataType>Boolean</dataType>
        <expression>AND(
{!$Record.RecordType.DeveloperName} = &apos;EzeeConnect&apos;
)</expression>
    </formulas>
    <formulas>
        <name>NotificarProjetos</name>
        <dataType>Boolean</dataType>
        <expression>OR(
{!$Record.RecordType.DeveloperName} = &apos;ContratoMicro&apos;,
{!$Record.RecordType.DeveloperName} = &apos;ContratoMini&apos;,
{!$Record.RecordType.DeveloperName} = &apos;EzeeConnect&apos;,
{!$Record.RecordType.DeveloperName} = &apos;Ezee_Solar&apos;
)</expression>
    </formulas>
    <interviewLabel>Notificar fases da proposta - financeiro {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - Notificar Fases da Proposta</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Obter_Messaging_Channel</name>
        <label>Obter Messaging Channel</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Obter_MessagingEndUser</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>WHATSAPP_US_417529274787733</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MessagingChannel</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obter_MessagingEndUser</name>
        <label>Obter MessagingEndUser</label>
        <locationX>314</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Messaging_User_Encontrado</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MessagingChannelId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Obter_Messaging_Channel.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ConsultorOportunidade__r.Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MessagingEndUser</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>1112</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Fase</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>AssuntoNotificarConsultor</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>A proposta {!$Record.Name} encontra-se na fase &quot;{!$Record.StageName}&quot;!</text>
    </textTemplates>
    <textTemplates>
        <name>CorpoNotificarConsultor</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Olá {!$Record.ConsultorOportunidade__r.Name}!

Informamos que a proposta: {!$Record.Numeroproposta__c} - {!$Record.Name}, está na etapa {!$Record.StageName} para assinatura.
Contate seu cliente e finalize a assinatura.

Data: {!$Record.DataDia__c}.</text>
    </textTemplates>
    <variables>
        <name>messagingUserIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>nomeConsultor</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>numeroProposta</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
