force-app/main/default/flows/Opportunity_Before_Insert.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Registro_criado_ou_atualizado</name>
        <label>Registro criado ou atualizado?</label>
        <locationX>
        176</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Criado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ISNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Preencher_Validade_Proposta</targetReference>
            </connector>
            <label>Criado</label>
        </rules>
        <rules>
            <name>Atualizado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Elaboração de proposta</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Preencher_Validade_Proposta</targetReference>
            </connector>
            <label>Atualizado</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ISNEW</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Opportunity - Before Insert {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - Before Insert</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Preencher_Validade_Proposta</name>
        <label>Preencher Validade Proposta</label>
        <locationX>
        176</locationX>
        <locationY>587</locationY>
        <inputAssignments>
            <field>ValidadeProposta__c</field>
            <value>
                <elementReference>Days</elementReference>
            </value>
        </inputAssignments>
        <inputReference>
        $Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Registro_criado_ou_atualizado</targetReference>
        </connector>
        <object>
        Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>
        RecordBeforeSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>Days</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>
        true</isOutput>
        <value>
            <stringValue>7</stringValue>
        </value>
    </variables>
</Flow>