force-app/main/default/flows/Opportunity_Send_Proposal_Manually.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <environments>Default</environments>
    <formulas>
        <description>te</description>
        <name>PropostaNameFML</name>
        <dataType>String</dataType>
        <expression>&quot;Proposta &quot; &amp;
IF(
    OR(
        TEXT({!Get_Opportunity.GrupoTarifario__c}) = &quot;Grupo A&quot;,
        {!Get_Opportunity.Account.Name} = &quot;Enerzee - Grupo A&quot;
    ),
    &quot;Proposta A &quot;,
    IF(
        OR(
            TEXT({!Get_Opportunity.GrupoTarifario__c}) = &quot;Grupo B&quot;,
            {!Get_Opportunity.Account.Name} = &quot;Enerzee - Grupo B&quot;
        ),
        &quot;Proposta B &quot;,
        &quot;&quot;
    )
) &amp;
{!Get_Opportunity.Numeroproposta__c} &amp; &quot; &quot; &amp;
{!Get_Opportunity.Name} &amp; &quot;-&quot; &amp;
TEXT(DAY(TODAY())) &amp; &quot;-&quot; &amp; TEXT(MONTH(TODAY())) &amp; &quot;-&quot; &amp; TEXT(YEAR(TODAY())) &amp; &quot; &quot; &amp;
RIGHT(&quot;0&quot; &amp; TEXT(HOUR(TIMEVALUE(NOW()))), 2) &amp; &quot;:&quot; &amp;
RIGHT(&quot;0&quot; &amp; TEXT(MINUTE(TIMEVALUE(NOW()))), 2)</expression>
    </formulas>
    <interviewLabel>[Opportunity] - Send Proposal Manually {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Opportunity] - Send Proposal Manually</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>EnviarPropostaManualmente</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Change_Stage</name>
        <label>Change Stage</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Proposta Gerada</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <screens>
        <name>EnviarPropostaManualmente</name>
        <label>Enviar Proposta manualmente</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Change_Stage</targetReference>
        </connector>
        <fields>
            <name>lwcfile</name>
            <extensionName>c:fileUploadSobject</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fileName</name>
                <value>
                    <elementReference>PropostaNameFML</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Enviar Proposta Manual</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ContentDocumentsId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
