force-app/main/default/flows/Opportunity_Contrato_Assinado_WhatsApp.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_WhatsApp_to_Client</name>
        <label>Send WhatsApp to Client</label>
        <locationX>50</locationX>
        <locationY>1862</locationY>
        <actionName>sendConversationMessages</actionName>
        <actionType>sendConversationMessages</actionType>
        <connector>
            <targetReference>Send_WhatsApp_to_Consultant</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>messageDefinitionName</name>
            <value>
                <stringValue
        >Notificacao_da_assinatura_do_contrato_Consultor_e_cliente</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>messagingDefinitionInputParameters</name>
            <value>
                <apexValue>[
  {
    &quot;name&quot;: &quot;name&quot;,
    &quot;textValue&quot;: &quot;{!Get_Client_Contact.Name}&quot;
  },
  {
    &quot;name&quot;: &quot;proposalNumber&quot;,
    &quot;textValue&quot;: &quot;{!fOpportunityIdentifier}&quot;
  }
]</apexValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>requestType</name>
            <value>
                <stringValue>SendNotificationMessages</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isEnforceMessagingChannelConsent</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>channelConsentType</name>
            <value>
                <stringValue>MessagingEndUser</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>allowedSessionStatus</name>
            <value>
                <stringValue>Any</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>messagingEndUserIds</name>
            <value>
                <elementReference>vClientMessagingEndUserIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sessionLongevityPreference</name>
            <value>
                <stringValue>KeepSessionOpen</stringValue>
            </value>
        </inputParameters>
        <nameSegment>sendConversationMessages</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Send_WhatsApp_to_Consultant</name>
        <label>Send WhatsApp to Consultant</label>
        <locationX>50</locationX>
        <locationY>1970</locationY>
        <actionName>sendConversationMessages</actionName>
        <actionType>sendConversationMessages</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>messageDefinitionName</name>
            <value>
                <stringValue
        >Notificacao_da_assinatura_do_contrato_Consultor_e_cliente</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>messagingDefinitionInputParameters</name>
            <value>
                <apexValue>[
  {
    &quot;name&quot;: &quot;name&quot;,
    &quot;textValue&quot;: &quot;{!Get_Consultor.Name}&quot;
  },
  {
    &quot;name&quot;: &quot;proposalNumber&quot;,
    &quot;textValue&quot;: &quot;{!fOpportunityIdentifier}&quot;
  }
]</apexValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>requestType</name>
            <value>
                <stringValue>SendNotificationMessages</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isEnforceMessagingChannelConsent</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>channelConsentType</name>
            <value>
                <stringValue>MessagingEndUser</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>allowedSessionStatus</name>
            <value>
                <stringValue>Any</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>messagingEndUserIds</name>
            <value>
                <elementReference
        >vConsultantMessagingEndUserIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sessionLongevityPreference</name>
            <value>
                <stringValue>KeepSessionOpen</stringValue>
            </value>
        </inputParameters>
        <nameSegment>sendConversationMessages</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Client_MEU_Created</name>
        <label>Assign Client Messaging User Created</label>
        <locationX>578</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>vClientMessagingEndUserIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>vClientMessagingEndUserId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Consultant_Messaging_User</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Client_MEU_Existing</name>
        <label>Assign Client Messaging User Existing</label>
        <locationX>314</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>vClientMessagingEndUserId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >Get_Client_Messaging_User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vClientMessagingEndUserIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference
        >Get_Client_Messaging_User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Consultant_Messaging_User</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Consultant_MEU_Created</name>
        <label>Assign Consultant Messaging User Created</label>
        <locationX>578</locationX>
        <locationY>1754</locationY>
        <assignmentItems>
            <assignToReference
      >vConsultantMessagingEndUserIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference
        >vConsultantMessagingEndUserId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_WhatsApp_to_Client</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Consultant_MEU_Existing</name>
        <label>Assign Consultant Messaging User Existing</label>
        <locationX>314</locationX>
        <locationY>1754</locationY>
        <assignmentItems>
            <assignToReference>vConsultantMessagingEndUserId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >Get_Consultant_Messaging_User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >vConsultantMessagingEndUserIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference
        >Get_Consultant_Messaging_User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_WhatsApp_to_Client</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Base_Data_Ready</name>
        <label>Base Data Ready</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fCanSendFlow</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Client_Messaging_User</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Client_Messaging_User_Found</name>
        <label>Client Messaging User Found</label>
        <locationX>314</locationX>
        <locationY>1026</locationY>
        <defaultConnector>
            <targetReference>Create_Client_Messaging_User</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>Found_Client</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference
        >Get_Client_Messaging_User.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Client_MEU_Existing</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Consultant_Messaging_User_Found</name>
        <label>Consultant Messaging User Found</label>
        <locationX>314</locationX>
        <locationY>1566</locationY>
        <defaultConnector>
            <targetReference>Create_Consultant_Messaging_User</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>Found_Consultant</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference
        >Get_Consultant_Messaging_User.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference
        >Assign_Consultant_MEU_Existing</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>fCanSendFlow</name>
        <dataType>Boolean</dataType>
        <expression>AND(
NOT(ISBLANK({!Get_Messaging_Channel_Pos_Vendas.Id})),
NOT(ISBLANK({!Get_Client_Contact.Id})),
NOT(ISBLANK({!Get_Consultor.Id})),
NOT(ISBLANK({!fClientPhone})),
NOT(ISBLANK({!fConsultantPhone}))
)</expression>
    </formulas>
    <formulas>
        <name>fClientPhone</name>
        <dataType>String</dataType>
        <expression>IF(
ISBLANK({!Get_Client_Contact.Telefone_Formatado__c}),
{!Get_Client_Contact.MobilePhone},
{!Get_Client_Contact.Telefone_Formatado__c}
)</expression>
    </formulas>
    <formulas>
        <name>fConsultantPhone</name>
        <dataType>String</dataType>
        <expression>IF(
ISBLANK({!Get_Consultor.Telefone_Formatado__c}),
{!Get_Consultor.Celular__c},
{!Get_Consultor.Telefone_Formatado__c}
)</expression>
    </formulas>
    <formulas>
        <name>fOpportunityIdentifier</name>
        <dataType>String</dataType>
        <expression>IF(
ISBLANK({!$Record.Numeroproposta__c}),
{!$Record.Name},
{!$Record.Numeroproposta__c} + &quot; - &quot; + {!$Record.Name}
)</expression>
    </formulas>
    <interviewLabel
  >Opportunity - Contract Signed WhatsApp Notification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - Contract Signed WhatsApp Notification</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Client_Messaging_User</name>
        <label>Create Client Messaging User</label>
        <locationX>578</locationX>
        <locationY>1106</locationY>
        <assignRecordIdToReference
    >vClientMessagingEndUserId</assignRecordIdToReference>
        <connector>
            <targetReference>Assign_Client_MEU_Created</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId__c</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Get_Client_Contact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MessageType</field>
            <value>
                <stringValue>WhatsApp</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MessagingChannelId</field>
            <value>
                <elementReference
        >Get_Messaging_Channel_Pos_Vendas.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MessagingConsentStatus</field>
            <value>
                <stringValue>ImplicitlyOptedIn</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MessagingPlatformKey</field>
            <value>
                <elementReference>fClientPhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Get_Client_Contact.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Oportunidade__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>MessagingEndUser</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Consultant_Messaging_User</name>
        <label>Create Consultant Messaging User</label>
        <locationX>578</locationX>
        <locationY>1646</locationY>
        <assignRecordIdToReference
    >vConsultantMessagingEndUserId</assignRecordIdToReference>
        <connector>
            <targetReference>Assign_Consultant_MEU_Created</targetReference>
        </connector>
        <inputAssignments>
            <field>Consultor__c</field>
            <value>
                <elementReference
        >$Record.ConsultorOportunidade__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MessageType</field>
            <value>
                <stringValue>WhatsApp</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MessagingChannelId</field>
            <value>
                <elementReference
        >Get_Messaging_Channel_Pos_Vendas.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MessagingConsentStatus</field>
            <value>
                <stringValue>ImplicitlyOptedIn</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MessagingPlatformKey</field>
            <value>
                <elementReference>fConsultantPhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Get_Consultor.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Oportunidade__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>MessagingEndUser</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Client_Contact</name>
        <label>Get Client Contact</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Consultor</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference
        >Get_Primary_Opp_Contact_Role.ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Client_Messaging_User</name>
        <label>Get Client Messaging User</label>
        <locationX>314</locationX>
        <locationY>918</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Client_Messaging_User_Found</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>MessagingChannelId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference
        >Get_Messaging_Channel_Pos_Vendas.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Client_Contact.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Telefone_Formatado__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>fClientPhone</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MessagingEndUser</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Consultant_Messaging_User</name>
        <label>Get Consultant Messaging User</label>
        <locationX>314</locationX>
        <locationY>1458</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Consultant_Messaging_User_Found</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>MessagingChannelId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference
        >Get_Messaging_Channel_Pos_Vendas.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Consultor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference
        >$Record.ConsultorOportunidade__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Telefone_Formatado__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>fConsultantPhone</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MessagingEndUser</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Consultor</name>
        <label>Get Consultant Linked to Opportunity</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Base_Data_Ready</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference
        >$Record.ConsultorOportunidade__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Consultor__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Messaging_Channel_Pos_Vendas</name>
        <label>Get Messaging Channel - Post Sales 8852</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Primary_Opp_Contact_Role</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MasterLabel</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>+55 11 4003-8852</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MessagingChannel</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Primary_Opp_Contact_Role</name>
        <label>Get Primary Opportunity Contact Role</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Client_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsPrimary</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OpportunityContactRole</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Messaging_Channel_Pos_Vendas</targetReference>
        </connector>
        <filterFormula>AND(
TEXT({!$Record.Status__c}) = &apos;Contrato Assinado&apos;,
TEXT(PRIORVALUE({!$Record.Status__c})) &lt;&gt; TEXT({!$Record.Status__c}),
TEXT({!$Record.StageName}) = &apos;Contrato&apos;,
{!$Record.RecordType.DeveloperName} = &apos;EzeeConnect&apos;,
NOT(ISBLANK({!$Record.UrlSimulation__c}))
)</filterFormula>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>vClientMessagingEndUserId</name>
        <dataType>String</dataType>
        <description
    >Id do MessagingEndUser do cliente para envio da notificacao automatica.</description>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vClientMessagingEndUserIds</name>
        <dataType>String</dataType>
        <description
    >Colecao de destinatarios (MessagingEndUser) para envio ao cliente.</description>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vConsultantMessagingEndUserId</name>
        <dataType>String</dataType>
        <description
    >Id do MessagingEndUser do consultor para envio da notificacao automatica.</description>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vConsultantMessagingEndUserIds</name>
        <dataType>String</dataType>
        <description
    >Colecao de destinatarios (MessagingEndUser) para envio ao consultor.</description>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
