force-app/main/default/flows/Opportunity_Update_economic_simulation_data.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Apply_annual_savings_calculations</name>
        <label>Apply annual savings calculations</label>
        <locationX>50</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>v_EconomiaAnualPromocional</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>f_EconomiaAnualPromocional</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_EconomiaAnual</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>f_EconomiaAnual</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_economic_simulation_data</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Apply_availability_calculations</name>
        <label>Apply availability calculations</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>v_Disponibilidade</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>f_Disponibilidade</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_DisponibilidadeDescontoFixo</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>f_DisponibilidadeDescontoFixo</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_DisponibilidadeDescontoPromocional</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>f_DisponibilidadeDescontoPromocional</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Apply_discount_calculations</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Apply_discount_calculations</name>
        <label>Apply discount calculations</label>
        <locationX>50</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>v_EconomiaFixo</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>f_EconomiaFixo</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_EconomiaPromocional</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>f_EconomiaPromocional</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Apply_savings_calculations</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Apply_initial_values</name>
        <label>Apply initial values</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>v_CustoMensalAproximado</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>f_CustoMensalAproximado</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_DescontoFixo</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>f_DescontoFixo</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_DescontoPromocional</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>f_DescontoPromocional</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_Tarifa</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetEzeeConnectCalculations.Tarifa__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_PrazoContratoParceiro</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>f_PrazoContratoParceiro</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Apply_availability_calculations</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Apply_savings_calculations</name>
        <label>Apply savings calculations</label>
        <locationX>50</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>v_FaturaFixo</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>f_FaturaFixo</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_FaturaPromocional</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>f_FaturaPromocional</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_Economia2MesesPromocional</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>f_Economia2MesesPromocional</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_Economia10MesesFixo</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>f_Economia10MesesFixo</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Apply_annual_savings_calculations</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>DidYouFindADealership</name>
        <label>Did you find a dealership?</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetEzeeConnectCalculations</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Apply_initial_values</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>RecordTypeIsEzeeConnect</name>
        <label>RecordType is Ezee Connect?</label>
        <locationX>380</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>f_RecordTypeIsEzeeConnect</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetEzeeConnectCalculations</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>f_CustoMensalAproximado</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.Kwh__c} * {!GetEzeeConnectCalculations.Tarifa__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>f_DescontoFixo</name>
        <dataType>Number</dataType>
        <expression>IF(
   {!GetEzeeConnectCalculations.Parceiro01__r.Id} = {!$Record.Parceiro__r.Id},
    {!GetEzeeConnectCalculations.DescontoFixoPar1__c},
    IF(
        {!GetEzeeConnectCalculations.Parceiro02__r.Id} = {!$Record.Parceiro__r.Id},
        {!GetEzeeConnectCalculations.DescontoFixoPar2__c},
        IF(
            {!GetEzeeConnectCalculations.Parceiro03__r.Id} = {!$Record.Parceiro__r.Id},
            {!GetEzeeConnectCalculations.DescontoFixoPar3__c},
            0
        )
    )
)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>f_DescontoPromocional</name>
        <dataType>Number</dataType>
        <expression>IF(
    {!GetEzeeConnectCalculations.Parceiro01__r.Id} = {!$Record.Parceiro__r.Id},
    {!GetEzeeConnectCalculations.DescontoPromocionalPar1__c},
    IF(
        {!GetEzeeConnectCalculations.Parceiro02__r.Id} = {!$Record.Parceiro__r.Id},
        {!GetEzeeConnectCalculations.DescontoPromocionalPar2__c},
        IF(
            {!GetEzeeConnectCalculations.Parceiro03__r.Id} = {!$Record.Parceiro__r.Id},
            {!GetEzeeConnectCalculations.DescontoPromocionalPar3__c},
            0
        )
    )
)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>f_Disponibilidade</name>
        <dataType>Currency</dataType>
        <expression>CASE(
    {!$Record.TipoConexao__c},
    &quot;Monofásico&quot;, 30,
    &quot;Bifásico&quot;, 50,
    &quot;Trifásico&quot;, 100,
    0
) * {!GetEzeeConnectCalculations.Tarifa__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>f_DisponibilidadeDescontoFixo</name>
        <dataType>Currency</dataType>
        <expression>CASE(
    {!$Record.TipoConexao__c},
    &quot;Monofásico&quot;,   ( {!v_Tarifa} - ( {!v_Tarifa} * ({!v_DescontoFixo}/100) )) * ( {!$Record.Kwh__c} - 30 ),
    &quot;Bifásico&quot;,     ( {!v_Tarifa} - ( {!v_Tarifa} * ({!v_DescontoFixo}/100) )) * ( {!$Record.Kwh__c} - 50 ),
    &quot;Trifásico&quot;,    ( {!v_Tarifa} - ( {!v_Tarifa} * ({!v_DescontoFixo}/100) )) * ( {!$Record.Kwh__c} - 100 ),
    0
)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>f_DisponibilidadeDescontoPromocional</name>
        <dataType>Currency</dataType>
        <expression>CASE(
    {!$Record.TipoConexao__c},
    &quot;Monofásico&quot;,   ( {!v_Tarifa} - ( {!v_Tarifa} * ({!v_DescontoPromocional}/100) )) * ( {!$Record.Kwh__c} - 30 ),
    &quot;Bifásico&quot;,     ( {!v_Tarifa} - ( {!v_Tarifa} * ({!v_DescontoPromocional}/100) )) * ( {!$Record.Kwh__c} - 50 ),
    &quot;Trifásico&quot;,    ( {!v_Tarifa} - ( {!v_Tarifa} * ({!v_DescontoPromocional}/100) )) * ( {!$Record.Kwh__c} - 100 ),
    0
)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>f_Economia10MesesFixo</name>
        <dataType>Currency</dataType>
        <expression>{!v_EconomiaFixo} * 10</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>f_Economia2MesesPromocional</name>
        <dataType>Currency</dataType>
        <expression>{!v_EconomiaPromocional} * 2</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>f_EconomiaAnual</name>
        <dataType>Currency</dataType>
        <expression>IF(
    AND(
        {!$Record.RecordType.DeveloperName} = &quot;Origo&quot;,
        OR(
            {!GetEzeeConnectCalculations.Distribuidora__c} = &quot;ENERGISA MT&quot;,
            {!GetEzeeConnectCalculations.Distribuidora__c} = &quot;ENERGISA MS&quot;
        )
    ),
    {!v_EconomiaFixo} * 4,
    {!v_EconomiaFixo} * 12
)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>f_EconomiaAnualEstimadaAtualizada</name>
        <dataType>Currency</dataType>
        <expression>((BLANKVALUE({!$Record.GeracaoAnualEstimada__c}, 0) / 2) * BLANKVALUE({!f_TarifaFinal}, 0) * 0.7) + ((BLANKVALUE({!$Record.GeracaoAnualEstimada__c}, 0) / 2) * BLANKVALUE({!f_TarifaFinal}, 0))</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>f_EconomiaAnualPromocional</name>
        <dataType>Currency</dataType>
        <expression>{!v_Economia2MesesPromocional} + {!v_Economia10MesesFixo}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>f_EconomiaMensalEstimadaAtualizada</name>
        <dataType>Currency</dataType>
        <expression>IF({!f_EconomiaAnualEstimadaAtualizada} &gt; 0, {!f_EconomiaAnualEstimadaAtualizada} / 12, 0)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>f_EconomiaAcumuladaAtualizada</name>
        <dataType>Currency</dataType>
        <expression>IF({!f_EconomiaAnualEstimadaAtualizada} &gt; 0, ({!f_EconomiaAnualEstimadaAtualizada} * 25) - BLANKVALUE({!$Record.ValorTotalProposta__c}, 0), 0)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>f_PaybackAnosAtualizado</name>
        <dataType>Number</dataType>
        <expression>IF({!f_EconomiaAnualEstimadaAtualizada} &gt; 0, BLANKVALUE({!$Record.ValorTotalProposta__c}, 0) / {!f_EconomiaAnualEstimadaAtualizada}, 0)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>f_EconomiaFixo</name>
        <dataType>Currency</dataType>
        <expression>{!v_CustoMensalAproximado} - {!v_Disponibilidade} - {!v_DisponibilidadeDescontoFixo}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>f_EconomiaPromocional</name>
        <dataType>Currency</dataType>
        <expression>{!v_CustoMensalAproximado} - {!v_Disponibilidade} - {!v_DisponibilidadeDescontoPromocional}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>f_FaturaFixo</name>
        <dataType>Currency</dataType>
        <expression>{!v_CustoMensalAproximado} - {!v_EconomiaFixo}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>f_FaturaPromocional</name>
        <dataType>Currency</dataType>
        <expression>{!v_CustoMensalAproximado} - {!v_EconomiaPromocional}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>f_PrazoContratoParceiro</name>
        <dataType>String</dataType>
        <expression>IF(
    {!GetEzeeConnectCalculations.Parceiro01__r.Id} = {!$Record.Parceiro__r.Id} &amp;&amp;
    NOT(ISBLANK({!GetEzeeConnectCalculations.PrazoContratoPar1__c})),
    {!GetEzeeConnectCalculations.PrazoContratoPar1__c},
    IF(
        {!GetEzeeConnectCalculations.Parceiro02__r.Id} = {!$Record.Parceiro__r.Id} &amp;&amp;
        NOT(ISBLANK({!GetEzeeConnectCalculations.PrazoContratoPar2__c})),
        {!GetEzeeConnectCalculations.PrazoContratoPar2__c},
        IF(
            {!GetEzeeConnectCalculations.Parceiro03__r.Id} = {!$Record.Parceiro__r.Id} &amp;&amp;
            NOT(ISBLANK({!GetEzeeConnectCalculations.PrazoContratoPar3__c})),
            {!GetEzeeConnectCalculations.PrazoContratoPar3__c},
            &quot;SEM FIDELIDADE&quot;
        )
    )
)</expression>
    </formulas>
    <formulas>
        <name>f_RecordTypeIsEzeeConnect</name>
        <dataType>Boolean</dataType>
        <expression>OR(
    {!$Record.RecordType.DeveloperName} = &apos;BowE&apos;,
    {!$Record.RecordType.DeveloperName} = &apos;Ultragaz&apos;,
    {!$Record.RecordType.DeveloperName} = &apos;EzeeConnect_Solled&apos;,
    {!$Record.RecordType.DeveloperName} = &apos;Simplifica&apos;,
    {!$Record.RecordType.DeveloperName} = &apos;Nextron&apos;,
    {!$Record.RecordType.DeveloperName} = &apos;Origo&apos;,
    {!$Record.RecordType.DeveloperName} = &apos;Raizen&apos;,
    {!$Record.RecordType.DeveloperName} = &apos;Plin&apos;,
    {!$Record.RecordType.DeveloperName} = &apos;EzeeConnect_Solled&apos;,
    {!$Record.RecordType.DeveloperName} = &apos;EzeeConnect&apos;
)</expression>
    </formulas>
    <formulas>
        <name>f_TarifaFinal</name>
        <dataType>Currency</dataType>
        <expression>{!GetEzeeConnectCalculations.Tarifa__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Opportunity - Update economic simulation data {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - Update economic simulation data</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetEzeeConnectCalculations</name>
        <label>Get Ezee Connect calculations</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DidYouFindADealership</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ConcessionariaEnergia__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ConcessionariaEnergia__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>TabelaEzeeConnect__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_economic_simulation_data</name>
        <label>Update economic simulation data</label>
        <locationX>50</locationX>
        <locationY>1187</locationY>
        <inputAssignments>
            <field>CustoMensalAproximadoBowE__c</field>
            <value>
                <elementReference>v_CustoMensalAproximado</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DescontoFixoBowE__c</field>
            <value>
                <elementReference>v_DescontoFixo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DescontoPromocional__c</field>
            <value>
                <elementReference>v_DescontoPromocional</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Distribuidora__c</field>
            <value>
                <elementReference>GetEzeeConnectCalculations.Distribuidora__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EconomiaAnualEstimada__c</field>
            <value>
                <elementReference>f_EconomiaAnualEstimadaAtualizada</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EconomiaMensalEstimada__c</field>
            <value>
                <elementReference>f_EconomiaMensalEstimadaAtualizada</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EconomiaAcumulada__c</field>
            <value>
                <elementReference>f_EconomiaAcumuladaAtualizada</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PaybackAnos__c</field>
            <value>
                <elementReference>f_PaybackAnosAtualizado</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EconomiaAnual__c</field>
            <value>
                <elementReference>v_EconomiaAnual</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EconomiaFixa__c</field>
            <value>
                <elementReference>f_EconomiaFixo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EconomiaPromocional__c</field>
            <value>
                <elementReference>f_EconomiaPromocional</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EconomiaXMesesFixa__c</field>
            <value>
                <elementReference>f_Economia10MesesFixo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EconomiaXMesesPromocional__c</field>
            <value>
                <elementReference>f_Economia2MesesPromocional</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FaturaDescontoFixo__c</field>
            <value>
                <elementReference>f_FaturaFixo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FaturaDescontoPromocional__c</field>
            <value>
                <elementReference>f_FaturaPromocional</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PrazoContratoParceiro__c</field>
            <value>
                <elementReference>v_PrazoContratoParceiro</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TarifaEnergia__c</field>
            <value>
                <elementReference>f_TarifaFinal</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>RecordTypeIsEzeeConnect</targetReference>
        </connector>
        <filterLogic>(1 AND 2 AND 3) AND (4 OR 5 OR 6 OR 7 OR 8 OR 9)</filterLogic>
        <filters>
            <field>ConcessionariaEnergia__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Kwh__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>TipoConexao__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ConcessionariaEnergia__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Kwh__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>TipoConexao__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Parceiro__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>GeracaoAnualEstimada__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ViabilityStudyFinished__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>v_CustoMensalAproximado</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>v_DescontoFixo</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>v_DescontoPromocional</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>v_Disponibilidade</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>v_DisponibilidadeDescontoFixo</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>v_DisponibilidadeDescontoPromocional</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>v_Economia10MesesFixo</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>v_Economia2MesesPromocional</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>v_EconomiaAnual</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>v_EconomiaAnualPromocional</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>v_EconomiaFixo</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>v_EconomiaPromocional</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>v_FaturaFixo</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>v_FaturaPromocional</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>v_PrazoContratoParceiro</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>SEM FIDELIDADE</stringValue>
        </value>
    </variables>
    <variables>
        <name>v_Tarifa</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
