force-app/main/default/flows/Opportunity_Update_Owner_Integracao.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Proprietario_Usuario_de_Integracao</name>
        <label>Proprietário é Usuário de Integração?</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Usuario_atual_e_usuario_de_integracao</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>Integracao_Sim</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obter_Usuario_de_Integracao.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.OwnerId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obter_Usuario_de_Integracao.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$User.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Atualizar_Proprietario</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>Usuario_atual_e_usuario_de_integracao</name>
        <label>Usuário atual é o usuário de integração?</label>
        <locationX>182</locationX>
        <locationY>731</locationY>
        <defaultConnectorLabel>Sim</defaultConnectorLabel>
        <rules>
            <name>Integracao_nao</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obter_Usuario_de_Integracao.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$User.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Atualizar_atividades</targetReference>
            </connector>
            <label>Não</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Opportunity - {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - Update Owner Integracao</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Obter_Usuario_de_Integracao</name>
        <label>Obter Usuario de Integração</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Proprietario_Usuario_de_Integracao</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Username</field>
            <operator>Contains</operator>
            <value>
                <stringValue>integracao@lab065.com</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Atualizar_atividades</name>
        <label>Atualizar atividades</label>
        <locationX>50</locationX>
        <locationY>839</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Obter_Usuario_de_Integracao.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Atualizar_Proprietario</name>
        <label>Atualizar Proprietário</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Usuario_atual_e_usuario_de_integracao</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Obter_Usuario_de_Integracao</targetReference>
        </connector>
        <filterFormula>Contains({!$Record.Owner.Username},&apos;integracao&apos;)</filterFormula>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
