force-app/main/default/flows/Opportunity_Monitoramento_SLA.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Fase_ContratoEnviado</name>
        <label>Fase</label>
        <locationX>710</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Padrão</defaultConnectorLabel>
        <rules>
            <name>ContratoEnviado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contrato enviado</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AtividadesDoCloser</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Atualizar_Oportunidade_Contrato_Enviado</targetReference>
            </connector>
            <label>Contrato Enviado</label>
        </rules>
    </decisions>
    <decisions>
        <name>Fase_PropostaEnviadaAguardandoAceite</name>
        <label>Fase</label>
        <locationX>1238</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Padrão</defaultConnectorLabel>
        <rules>
            <name>PropostaEnviadaAguardandoAceite</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Proposta enviada / Aguardando Aceite</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Proposta enviada</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AtividadesDoCloser</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Atualizar_Oportunidade_Proposta_Enviada_Aguardando_Aceite</targetReference>
            </connector>
            <label>Proposta Enviada / Aguardando Aceite</label>
        </rules>
    </decisions>
    <decisions>
        <name>Fase_ReadequacaoDeProposta</name>
        <label>Fase</label>
        <locationX>182</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Padrão</defaultConnectorLabel>
        <rules>
            <name>ReadequacaoDeProposta</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Readequação de Proposta</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AtividadesDoCloser</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Atualizar_Oportunidade_Readequacao</targetReference>
            </connector>
            <label>Readequação de Proposta</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>AtividadesDoCloser</name>
        <dataType>Boolean</dataType>
        <expression>OR(
{!$Record.RecordType.DeveloperName} = &apos;ContratoMicro&apos;,
{!$Record.RecordType.DeveloperName} = &apos;EzeeLivre&apos;,
{!$Record.RecordType.DeveloperName} = &apos;Ezee_Solar&apos;
)</expression>
    </formulas>
    <formulas>
        <name>DataHoraAtual</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <name>VencimentoEm24Horas</name>
        <dataType>DateTime</dataType>
        <expression>NOW() +
CASE(
    WEEKDAY(DATEVALUE(NOW())),
    1, 1,
    7, 2,
    6, 3,
    1
)</expression>
    </formulas>
    <interviewLabel>Opportunity - Monitoramento SLA {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - Monitoramento SLA</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Tarefa_Ligacao_de_Follow_up_ContratoEnviado</name>
        <label>Tarefa - Ligação de Follow-up</label>
        <locationX>578</locationX>
        <locationY>600</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ligação de follow-up - {!$Record.Name}</stringValue>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UsuarioCloserFechado_ContratoEnviado.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Descricao__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Realizar ligação de follow-up p/ Contrato Enviado</stringValue>
            </value>
        </filters>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>VencimentoEm24Horas</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Descricao__c</field>
            <value>
                <stringValue>Realizar ligação de follow-up p/ Contrato Enviado</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>UsuarioCloserFechado_ContratoEnviado.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Ligação de follow-up - {!$Record.Name}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <operationMultMatchingRecords>None</operationMultMatchingRecords>
        <operationOneMatchingRecord>None</operationOneMatchingRecord>
        <operationZeroMatchingRecords>AddRecord</operationZeroMatchingRecords>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Tarefa_Ligacao_de_Follow_up_PropostaEnviadaAguardandoAceite</name>
        <label>Tarefa - Ligação de Follow-up</label>
        <locationX>1106</locationX>
        <locationY>600</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ligação de follow-up - {!$Record.Name}</stringValue>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UsuarioCloserFechado_ContratoEnviado.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Descricao__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Realizar ligação de follow-up para Proposta Enviada Aguardando Aceite</stringValue>
            </value>
        </filters>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>VencimentoEm24Horas</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Descricao__c</field>
            <value>
                <stringValue>Realizar ligação de follow-up para Proposta Enviada Aguardando Aceite</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>UsuarioCloserFechado_PropostaEnviadaAguardandoAceite.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Ligação de follow-up - {!$Record.Name}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <operationMultMatchingRecords>None</operationMultMatchingRecords>
        <operationOneMatchingRecord>None</operationOneMatchingRecord>
        <operationZeroMatchingRecords>AddRecord</operationZeroMatchingRecords>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Tarefa_Ligacao_de_Follow_up_Readequacao</name>
        <label>Tarefa - Ligação de Follow-up</label>
        <locationX>50</locationX>
        <locationY>600</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ligação de follow-up - {!$Record.Name}</stringValue>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UsuarioCloserFechado_Readequacao.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Descricao__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Realizar ligação de Follow-up para Readequação de Proposta</stringValue>
            </value>
        </filters>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>VencimentoEm24Horas</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Descricao__c</field>
            <value>
                <stringValue>Realizar ligação de Follow-up para Readequação de Proposta</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>UsuarioCloserFechado_Readequacao.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Ligação de follow-up - {!$Record.Name}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <operationMultMatchingRecords>None</operationMultMatchingRecords>
        <operationOneMatchingRecord>None</operationOneMatchingRecord>
        <operationZeroMatchingRecords>AddRecord</operationZeroMatchingRecords>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>UsuarioCloserFechado_ContratoEnviado</name>
        <label>Usuário Closer/Fechado</label>
        <locationX>578</locationX>
        <locationY>492</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Tarefa_Ligacao_de_Follow_up_ContratoEnviado</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>wagner.sampaio@enerzee.com.br</stringValue>
            </value>
        </filters>
        <filters>
            <field>Username</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>wagner.sampaio@enerzee.com.br</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>UsuarioCloserFechado_PropostaEnviadaAguardandoAceite</name>
        <label>Usuário Closer/Fechado</label>
        <locationX>1106</locationX>
        <locationY>492</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Tarefa_Ligacao_de_Follow_up_PropostaEnviadaAguardandoAceite</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>wagner.sampaio@enerzee.com.br</stringValue>
            </value>
        </filters>
        <filters>
            <field>Username</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>wagner.sampaio@enerzee.com.br</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>UsuarioCloserFechado_Readequacao</name>
        <label>Usuário Closer/Fechado</label>
        <locationX>50</locationX>
        <locationY>492</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Tarefa_Ligacao_de_Follow_up_Readequacao</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>wagner.sampaio@enerzee.com.br</stringValue>
            </value>
        </filters>
        <filters>
            <field>Username</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>wagner.sampaio@enerzee.com.br</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Atualizar_Oportunidade_Contrato_Enviado</name>
        <label>Atualizar Oportunidade</label>
        <locationX>578</locationX>
        <locationY>384</locationY>
        <connector>
            <targetReference>UsuarioCloserFechado_ContratoEnviado</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ExcedeuSLAContratoEnviado__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>DataExcedeuSLAContratoEnviado__c</field>
            <value>
                <elementReference>DataHoraAtual</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExcedeuSLAContratoEnviado__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Atualizar_Oportunidade_Proposta_Enviada_Aguardando_Aceite</name>
        <label>Atualizar Oportunidade</label>
        <locationX>1106</locationX>
        <locationY>384</locationY>
        <connector>
            <targetReference>UsuarioCloserFechado_PropostaEnviadaAguardandoAceite</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ExcedeuSLAPropostaEnviada__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>DataExcedeuSLAPropostaEnviada__c</field>
            <value>
                <elementReference>DataHoraAtual</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExcedeuSLAPropostaEnviada__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Atualizar_Oportunidade_Readequacao</name>
        <label>Atualizar Oportunidade</label>
        <locationX>50</locationX>
        <locationY>384</locationY>
        <connector>
            <targetReference>UsuarioCloserFechado_Readequacao</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ExcedeuSLAReadequacaoDeProposta__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>DataExcedeuSLAReadequacaoDeProposta__c</field>
            <value>
                <elementReference>DataHoraAtual</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExcedeuSLAReadequacaoDeProposta__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>386</locationX>
        <locationY>0</locationY>
        <filterLogic>or</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contrato enviado</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Readequação de Proposta</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Proposta enviada / Aguardando Aceite</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Proposta enviada</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <name>MonitoramentoSLAReadequacaoDeProposta</name>
            <connector>
                <targetReference>Fase_ReadequacaoDeProposta</targetReference>
            </connector>
            <label>Monitoramento de SLA - Readequação de Proposta</label>
            <offsetNumber>24</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>LastModifiedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>MonitoramentoSLAContratoEnviado</name>
            <connector>
                <targetReference>Fase_ContratoEnviado</targetReference>
            </connector>
            <label>Monitoramento de SLA - Contrato Enviado</label>
            <offsetNumber>48</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>LastModifiedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>MonitoramentoSLAPropostaEnviadaAguardandoAceite</name>
            <connector>
                <targetReference>Fase_PropostaEnviadaAguardandoAceite</targetReference>
            </connector>
            <label>Monitoramento de SLA - Proposta Enviada / Aguardando Aceite</label>
            <offsetNumber>72</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>LastModifiedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
