force-app/main/default/flows/Project_After_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Field_Changed</name>
        <label>Field Changed?</label>
        <locationX>446</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Manager_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>managerChanged</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Project_Case</targetReference>
            </connector>
            <label>Yes Manager Changed</label>
        </rules>
        <rules>
            <name>Yes_Install_Date_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>installDateChanged</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Task_Instalation</targetReference>
            </connector>
            <label>Yes Install Date Changed</label>
        </rules>
        <rules>
            <name>Yes_Inspection_Date_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inspectionDateChanged</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Task_Inspection</targetReference>
            </connector>
            <label>Yes Inspection Date Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Case</name>
        <label>Found Case?</label>
        <locationX>776</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Project_Case</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Field_Changed</targetReference>
            </connector>
            <label>Found Case?</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>inspectionDateChanged</name>
        <dataType>Boolean</dataType>
        <expression>ISCHANGED({!$Record.DateInspection__c})</expression>
    </formulas>
    <formulas>
        <name>installDateChanged</name>
        <dataType>Boolean</dataType>
        <expression>ISCHANGED({!$Record.InstallDate__c})</expression>
    </formulas>
    <formulas>
        <name>managerChanged</name>
        <dataType>Boolean</dataType>
        <expression>ISCHANGED({!$Record.GestorObra__c})</expression>
    </formulas>
    <interviewLabel>Project - After Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Project - After Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Project_Case</name>
        <label>Get Project Case</label>
        <locationX>776</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Nome_da_Oportunidade__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Oportunidade__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Project_Case</name>
        <label>Update Project Case</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Project_Case.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ManagerName__c</field>
            <value>
                <elementReference>$Record.GestorObra__c</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Project_Case_Inspection</name>
        <label>Update Project Case</label>
        <locationX>578</locationX>
        <locationY>755</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Project_Case.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>DateInspection__c</field>
            <value>
                <elementReference>$Record.DateInspection__c</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Project_Case_Install_Date</name>
        <label>Update Project Case</label>
        <locationX>314</locationX>
        <locationY>755</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Project_Case.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>InstallDate__c</field>
            <value>
                <elementReference>$Record.InstallDate__c</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Task_Inspection</name>
        <label>Update Task Inspection</label>
        <locationX>578</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Update_Project_Case_Inspection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Instalação - Vistoria</stringValue>
            </value>
        </filters>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Project_Case.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Record.DateInspection__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DateInspection__c</field>
            <value>
                <elementReference>$Record.DateInspection__c</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Task_Instalation</name>
        <label>Update Task Instalation</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Update_Project_Case_Install_Date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Instalação - Montagem</stringValue>
            </value>
        </filters>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Project_Case.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>InstallDate__c</field>
            <value>
                <elementReference>$Record.InstallDate__c</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <start>
        <locationX>650</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Project_Case</targetReference>
        </connector>
        <object>Projeto__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
