force-app/main/default/flows/Projeto_After_save.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email_Notificar_Delegado_Gestor_da_Obra</name>
        <label>Email - Notificar Delegado Gestor da Obra</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <actionName>Projeto__c.NotificarDelegadoGestorDeProjetos</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Projeto__c.NotificarDelegadoGestorDeProjetos</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Email_Notificar_Delegado_Projetista</name>
        <label>Email - Notificar Delegado - Projetista</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <actionName>Projeto__c.NotificarDelegadoProjetista</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Projeto__c.NotificarDelegadoProjetista</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Recurso_Delegado</name>
        <label>Recurso Delegado</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Gestor_da_Obra</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.GestorObra__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.GestorObra__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Notificar_Delegado_Gestor_da_Obra</targetReference>
            </connector>
            <label>Gestor da Obra</label>
        </rules>
        <rules>
            <name>Projetista</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Projetista__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Projetista__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Notificar_Delegado_Projetista</targetReference>
            </connector>
            <label>Projetista</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Projeto - After save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Projeto - After save</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Recurso_Delegado</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>GestorObra__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Projetista__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Projeto__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
