force-app/main/default/flows/Send_Message_Notification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Conversation_Messages_Action_1</name>
        <label>Send Conversation Messages Action 1</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <actionName>sendConversationMessages</actionName>
        <actionType>sendConversationMessages</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>messageDefinitionName</name>
            <value>
                <elementReference>messageDefinitionName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>messagingDefinitionInputParameters</name>
        </inputParameters>
        <inputParameters>
            <name>requestType</name>
            <value>
                <elementReference>requestType</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isEnforceMessagingChannelConsent</name>
            <value>
                <elementReference>isEnforceMessagingChannelConsent</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>channelConsentType</name>
            <value>
                <elementReference>channelConsentType</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>allowedSessionStatus</name>
            <value>
                <elementReference>allowedSessionStatus</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>messagingEndUserIds</name>
            <value>
                <elementReference>messagingUserIds</elementReference>
            </value>
        </inputParameters>
        <nameSegment>sendConversationMessages</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <interviewLabel>Send Message Notification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send Message Notification</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Messaging_User</name>
        <label>Get Messaging User</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_MessagingUserId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MessagingEndUser</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <assignments>
        <name>Add_MessagingUserId</name>
        <label>Add MessagingUserId</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>messagingUserIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Messaging_User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Conversation_Messages_Action_1</targetReference>
        </connector>
    </assignments>
    <status>Active</status>
    <assignments>
        <name>Assign_MessageDefinition</name>
        <label>Assign MessageDefinition</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>messageDefinitionName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Notifica_o_inicial</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Messaging_User</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_MessageDefinition_ProjetoAprovado</name>
        <label>Assign MessageDefinition Projeto Aprovado</label>
        <locationX>352</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>messageDefinitionName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Jornada_do_Cliente_Projeto_Aprovado</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Messaging_User</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Select_Message</name>
        <label>Select Message</label>
        <locationX>176</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_MessageDefinition</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>ProjetoAprovado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>messageKey</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ProjetoAprovado</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_MessageDefinition_ProjetoAprovado</targetReference>
            </connector>
            <label>Projeto Aprovado</label>
        </rules>
    </decisions>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Select_Message</targetReference>
        </connector>
    </start>
    <variables>
        <name>messagingUserIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>messageKey</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>messageDefinitionName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>requestType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>isEnforceMessagingChannelConsent</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>channelConsentType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>allowedSessionStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
