force-app/main/default/flows/Send_Feedback_Email.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email</name>
        <label>Send Email</label>
        <locationX>308</locationX>
        <locationY>1079</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>update_url_closer</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>recipentsList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>subjectText</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>bodyHTML</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>addThreadingTokenToSubject</name>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>assign_User</name>
        <label>assign User</label>
        <locationX>308</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>recipentsList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.ConsultorOportunidade__r.Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>closerName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_tasks.LastModifiedBy.FirstName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_email_template</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>feedback_already_created</name>
        <label>feedback already created OR No Events/task closer</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>create_Feedback</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>no</defaultConnectorLabel>
        <rules>
            <name>yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>get_Feedback.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_tasks</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>feedbackUrl</name>
        <dataType>String</dataType>
        <expression>&quot;https://enrz.my.site.com/consultantportal/s/feedback/&quot; + {!create_Feedback}</expression>
    </formulas>
    <interviewLabel>Send Feedback Email {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send Feedback Email</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>create_Feedback</name>
        <label>create Feedback</label>
        <locationX>308</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>assign_User</targetReference>
        </connector>
        <inputAssignments>
            <field>Opportunity_Name__c</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerOpportunity__c</field>
            <value>
                <elementReference>$Record.ConsultorOportunidade__r.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProposalNumber__c</field>
            <value>
                <elementReference>$Record.Numeroproposta__c</elementReference>
            </value>
        </inputAssignments>
        <object>Feedback__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>get_email_template</name>
        <label>get email template</label>
        <locationX>308</locationX>
        <locationY>863</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Solicitação de Feedback sobre a Atuação do Closer</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Feedback</name>
        <label>get Feedback</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_tasks</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Feedback__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_tasks</name>
        <label>get tasks</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>feedback_already_created</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Subject</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Ligação de follow-up</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Task</name>
        <label>Update Task</label>
        <locationX>308</locationX>
        <locationY>971</locationY>
        <connector>
            <targetReference>Send_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Subject</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Ligação de follow-up</stringValue>
            </value>
        </filters>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Feedback__c</field>
            <value>
                <elementReference>create_Feedback</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_url_closer</name>
        <label>update url closer</label>
        <locationX>308</locationX>
        <locationY>1187</locationY>
        <inputAssignments>
            <field>urlFeedback__c</field>
            <value>
                <elementReference>feedbackUrl</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_Feedback</targetReference>
        </connector>
        <filterFormula>AND(
         ISCHANGED({!$Record.StageName}),
         OR(     
                          AND({!$Record.RecordType.DeveloperName} == &apos;EzeeLivre&apos;, TEXT({!$Record.StageName}) == &apos;Ganho Fechado&apos;),
                          TEXT({!$Record.StageName}) == &apos;Contrato&apos;,
                          TEXT({!$Record.StageName}) == &apos;Contrato firmado / Assinado&apos;
           )
)</filterFormula>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <textTemplates>
        <name>bodyHTML</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;table class=&quot;ql-table-blob&quot; align=&quot;center&quot; border=&quot;0&quot; style=&quot;font-family: Times; background-color: rgb(243, 244, 248);&quot; width=&quot;100%&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;table style=&quot;background-color: rgb(255, 255, 255); margin-left: 170px; margin-top: 35px; border-radius: 8px 8px 0px 0px; color: rgb(0, 0, 0); width: 600px; margin: 0px auto;&quot; width=&quot;600&quot; class=&quot;row-content stack&quot; cellspacing=&quot;0&quot; cellpadding=&quot;0&quot; border=&quot;0&quot; align=&quot;center&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td style=&quot;padding-top: 40px; vertical-align: top; border-width: 0px; border-style: initial; border-color: initial;&quot; width=&quot;33.333333333333336%&quot; class=&quot;column column-2&quot;&gt;&lt;table width=&quot;100%&quot; class=&quot;image_block block-1&quot; cellspacing=&quot;0&quot; cellpadding=&quot;0&quot; border=&quot;0&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td style=&quot;width: 200px; padding-right: 0px; padding-left: 0px;&quot; class=&quot;pad&quot;&gt;&lt;div style=&quot;line-height: 10px; text-align: center;&quot; class=&quot;alignment&quot;&gt;&lt;div style=&quot;max-width: 140px;&quot;&gt;&lt;img style=&quot;display: block; width: 140px;&quot; width=&quot;140&quot; src=&quot;https://enerzee.com.br/uploads/config_cliente/Enerzee_logo%20%281%29.png&quot; height=&quot;auto&quot;&gt;&lt;/div&gt;&lt;/div&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;/td&gt;&lt;td style=&quot;vertical-align: top; border-width: 0px; border-style: initial; border-color: initial;&quot; width=&quot;33.333333333333336%&quot; class=&quot;column column-3&quot;&gt;&lt;table width=&quot;100%&quot; class=&quot;empty_block block-1&quot; cellspacing=&quot;0&quot; cellpadding=&quot;0&quot; border=&quot;0&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td class=&quot;pad&quot;&gt;&amp;nbsp;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;table class=&quot;ql-table-blob&quot; align=&quot;center&quot; border=&quot;0&quot; style=&quot;font-family: Times; background-color: rgb(243, 244, 248);&quot; width=&quot;100%&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;table style=&quot;background-color: rgb(255, 255, 255); border-radius: 0px; color: rgb(0, 0, 0); width: 600px; margin: 0px auto;&quot; width=&quot;600&quot; class=&quot;row-content stack&quot; cellspacing=&quot;0&quot; cellpadding=&quot;0&quot; border=&quot;0&quot; align=&quot;center&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td style=&quot;padding: 48px 32px 40px; vertical-align: top; border-width: 0px; border-style: initial; border-color: initial;&quot; width=&quot;100%&quot; class=&quot;column column-1&quot;&gt;&lt;table width=&quot;100%&quot; class=&quot;heading_block block-1&quot; cellspacing=&quot;0&quot; cellpadding=&quot;0&quot; border=&quot;0&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td style=&quot;text-align: center; width: 536px;&quot; class=&quot;pad&quot;&gt;&lt;h1 style=&quot;margin-bottom: 0px; direction: ltr; font-family: Montserrat, &amp;quot;Trebuchet MS&amp;quot;, &amp;quot;Lucida Grande&amp;quot;, &amp;quot;Lucida Sans Unicode&amp;quot;, &amp;quot;Lucida Sans&amp;quot;, Tahoma, sans-serif; font-size: 23px; font-weight: 700; line-height: {!$Record.Name}27.6px;&quot;&gt;Solicitação de Feedback sobre a Atuação do {!closerName} - Proposta: {!$Record.Name} &lt;/h1&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;table class=&quot;ql-table-blob&quot; align=&quot;center&quot; border=&quot;0&quot; style=&quot;font-family: Times; background-color: rgb(243, 244, 248);&quot; width=&quot;100%&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;table style=&quot;background-color: rgb(255, 255, 255); border-radius: 0px; color: rgb(0, 0, 0); width: 600px; margin: 0px auto;&quot; width=&quot;600&quot; class=&quot;row-content stack&quot; cellspacing=&quot;0&quot; cellpadding=&quot;0&quot; border=&quot;0&quot; align=&quot;center&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td style=&quot;padding: 40px 32px; vertical-align: top; border-width: 0px; border-style: initial; border-color: initial;&quot; width=&quot;100%&quot; class=&quot;column column-1&quot;&gt;&lt;table width=&quot;100%&quot; class=&quot;heading_block block-7&quot; cellspacing=&quot;0&quot; cellpadding=&quot;0&quot; border=&quot;0&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td style=&quot;text-align: center; width: 536px;&quot; class=&quot;pad&quot;&gt;&lt;h2 style=&quot;margin-bottom: 0px; direction: ltr; font-family: Montserrat, &amp;quot;Trebuchet MS&amp;quot;, &amp;quot;Lucida Grande&amp;quot;, &amp;quot;Lucida Sans Unicode&amp;quot;, &amp;quot;Lucida Sans&amp;quot;, Tahoma, sans-serif; font-size: 18px; font-weight: 700; line-height: 32.4px; text-align: left;&quot;&gt;&lt;span style=&quot;word-break: break-word;&quot; class=&quot;tinyMce-placeholder&quot;&gt;Olá&amp;nbsp;&lt;/span&gt; {!$Record.ConsultorOportunidade__r.Name} &lt;span style=&quot;word-break: break-word;&quot; class=&quot;tinyMce-placeholder&quot;&gt;,&lt;/span&gt;&lt;/h2&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;div style=&quot;height: 24p{!$Record.ConsultorOportunidade__r.Name}x; line-height: 24px; font-size: 1px;&quot; class=&quot;spacer_block block-2&quot;&gt; &lt;/div&gt;&lt;div style=&quot;height: 24px; line-height: 24px; font-size: 1px;&quot; class=&quot;spacer_block block-4&quot;&gt; &lt;/div&gt;&lt;table style=&quot;word-break: break-word;&quot; width=&quot;100%&quot; class=&quot;paragraph_block block-5&quot; cellspacing=&quot;0&quot; cellpadding=&quot;0&quot; border=&quot;0&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td class=&quot;pad&quot;&gt;&lt;div style=&quot;direction: ltr; font-family: Montserrat, &amp;quot;Trebuchet MS&amp;quot;, &amp;quot;Lucida Grande&amp;quot;, &amp;quot;Lucida Sans Unicode&amp;quot;, &amp;quot;Lucida Sans&amp;quot;, Tahoma, sans-serif; font-size: 14px; letter-spacing: 0px; line-height: 25.2px;&quot;&gt;&lt;p style=&quot;line-height: inherit;&quot;&gt;Gostaríamos de solicitar seu feedback sobre a atuação do closer durante a proposta  {!$Record.Numeroproposta__c} em que você é proprietário. Sua opinião é fundamental para aprimorarmos nosso processo e garantirmos um atendimento cada vez melhor.&lt;/p&gt;&lt;p style=&quot;line-height: inherit;&quot;&gt;Por favor, clique no botão abaixo para compartilhar seu feedback de forma rápida e fácil:&lt;/p&gt;&lt;p style=&quot;line-height: inherit;&quot;&gt;&lt;a style=&quot;background-color: rgb(0, 0, 0); color: rgb(255, 255, 255); display: inline-block; padding: 10px 20px; border-radius: 5px; font-weight: bold;&quot; href=&quot;{!feedbackUrl}&quot;&gt;Compartilhar Feedback&lt;/a&gt;&lt;/p&gt;&lt;/div&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;br&gt;&lt;br&gt;Agradecemos antecipadamente por sua colaboração e pelo tempo dedicado a esta importante avaliação.&lt;div style=&quot;height: 24px; line-height: 24px; font-size: 1px;&quot; class=&quot;spacer_block block-6&quot;&gt; &lt;/div&gt;&lt;table style=&quot;word-break: break-word;&quot; width=&quot;100%&quot; class=&quot;paragraph_block block-9&quot; cellspacing=&quot;0&quot; cellpadding=&quot;0&quot; border=&quot;0&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td class=&quot;pad&quot;&gt;&lt;div style=&quot;direction: ltr; font-family: Montserrat, &amp;quot;Trebuchet MS&amp;quot;, &amp;quot;Lucida Grande&amp;quot;, &amp;quot;Lucida Sans Unicode&amp;quot;, &amp;quot;Lucida Sans&amp;quot;, Tahoma, sans-serif; font-size: 14px; letter-spacing: 0px; line-height: 25.2px;&quot;&gt;&lt;p style=&quot;line-height: inherit;&quot;&gt;&amp;nbsp;&lt;/p&gt;&lt;/div&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;table class=&quot;ql-table-blob&quot; align=&quot;center&quot; border=&quot;0&quot; style=&quot;font-family: Times; background-color: rgb(243, 244, 248);&quot; width=&quot;100%&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;table style=&quot;background-color: rgb(0, 0, 0); border-radius: 0px; color: rgb(0, 0, 0); width: 600px; margin: 0px auto;&quot; width=&quot;600&quot; class=&quot;row-content stack&quot; cellspacing=&quot;0&quot; cellpadding=&quot;0&quot; border=&quot;0&quot; align=&quot;center&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td style=&quot;padding-left: 32px; padding-right: 32px; padding-top: 24px; vertical-align: top; border-width: 0px; border-style: initial; border-color: initial;&quot; width=&quot;100%&quot; class=&quot;column column-1&quot;&gt;&lt;table width=&quot;100%&quot; class=&quot;social_block block-1&quot; cellspacing=&quot;0&quot; cellpadding=&quot;0&quot; border=&quot;0&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td style=&quot;text-align: center; padding-right: 0px; padding-left: 0px;&quot; class=&quot;pad&quot;&gt;&lt;div style=&quot;text-align: center;&quot; class=&quot;alignment&quot;&gt;&lt;table style=&quot;display: inline-block;&quot; width=&quot;260px&quot; class=&quot;social-table&quot; cellspacing=&quot;0&quot; cellpadding=&quot;0&quot; border=&quot;0&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td style=&quot;padding: 0px 10px;&quot;&gt;&lt;a href=&quot;https://www.facebook.com/enerzeeoficial/&quot;&gt;&lt;img style=&quot;display: block;&quot; width=&quot;32&quot; title=&quot;Facebook&quot; src=&quot;https://app-rsrc.getbee.io/public/resources/social-networks-icon-sets/t-only-logo-white/facebook@2x.png&quot; height=&quot;auto&quot; alt=&quot;Facebook&quot;&gt;&lt;/a&gt;&lt;/td&gt;&lt;td style=&quot;padding: 0px 10px;&quot;&gt;&lt;a href=&quot;https://www.instagram.com/enerzeeoficial/&quot;&gt;&lt;img style=&quot;display: block;&quot; width=&quot;32&quot; title=&quot;Instagram&quot; src=&quot;https://app-rsrc.getbee.io/public/resources/social-networks-icon-sets/t-only-logo-white/instagram@2x.png&quot; height=&quot;auto&quot; alt=&quot;Instagram&quot;&gt;&lt;/a&gt;&lt;/td&gt;&lt;td style=&quot;padding: 0px 10px;&quot;&gt;&lt;a href=&quot;{!feedbackUrl}&quot;&gt;&lt;img style=&quot;display: block;&quot; width=&quot;32&quot; title=&quot;Web Site&quot; src=&quot;https://app-rsrc.getbee.io/public/resources/social-networks-icon-sets/t-only-logo-white/website@2x.png&quot; height=&quot;auto&quot; alt=&quot;Web Site&quot;&gt;&lt;/a&gt;&lt;/td&gt;&lt;td style=&quot;padding: 0px 10px;&quot;&gt;&lt;a href=&quot;https://www.linkedin.com/company/enerzee/&quot;&gt;&lt;img style=&quot;display: block;&quot; width=&quot;32&quot; title=&quot;Linkedin&quot; src=&quot;https://app-rsrc.getbee.io/public/resources/social-networks-icon-sets/t-only-logo-white/linkedin@2x.png&quot; height=&quot;auto&quot; alt=&quot;Linkedin&quot;&gt;&lt;/a&gt;&lt;/td&gt;&lt;td style=&quot;padding: 0px 10px;&quot;&gt;&lt;a href=&quot;https://youtube.com/channel/UCRTb02ife2dYT6W5EkqAtCg/&quot;&gt;&lt;img style=&quot;display: block;&quot; width=&quot;32&quot; title=&quot;Youtube&quot; src=&quot;https://app-rsrc.getbee.io/public/resources/social-networks-icon-sets/t-only-logo-white/youtube@2x.png&quot; height=&quot;auto&quot; alt=&quot;Youtube&quot;&gt;&lt;/a&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;/div&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;table width=&quot;100%&quot; class=&quot;divider_block block-2&quot; cellspacing=&quot;0&quot; cellpadding=&quot;0&quot; border=&quot;0&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td style=&quot;padding-bottom: 16px; padding-top: 16px;&quot; class=&quot;pad&quot;&gt;&lt;div style=&quot;text-align: center;&quot; class=&quot;alignment&quot;&gt;&lt;table width=&quot;100%&quot; cellspacing=&quot;0&quot; cellpadding=&quot;0&quot; border=&quot;0&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td style=&quot;font-size: 1px; line-height: 1px; border-top: 1px solid rgb(187, 187, 187);&quot; class=&quot;divider_inner&quot;&gt;&lt;span style=&quot;word-break: break-word;&quot;&gt; &lt;/span&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;/div&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;table class=&quot;ql-table-blob&quot; align=&quot;center&quot; border=&quot;0&quot; style=&quot;font-family: Times; background-color: rgb(243, 244, 248);&quot; width=&quot;100%&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;table style=&quot;background-color: rgb(0, 0, 0); border-radius: 0px 0px 8px 8px; color: rgb(0, 0, 0); width: 600px; margin: 0px auto;&quot; width=&quot;600&quot; class=&quot;row-content stack&quot; cellspacing=&quot;0&quot; cellpadding=&quot;0&quot; border=&quot;0&quot; align=&quot;center&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td style=&quot;vertical-align: top; border-width: 0px; border-style: initial; border-color: initial;&quot; width=&quot;33.333333333333336%&quot; class=&quot;column column-1&quot;&gt;&lt;table width=&quot;100%&quot; class=&quot;empty_block block-1&quot; cellspacing=&quot;0&quot; cellpadding=&quot;0&quot; border=&quot;0&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td class=&quot;pad&quot;&gt;&amp;nbsp;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;/td&gt;&lt;td style=&quot;padding-bottom: 24px; vertical-align: top; border-width: 0px; border-style: initial; border-color: initial;&quot; width=&quot;33.333333333333336%&quot; class=&quot;column column-2&quot;&gt;&lt;table width=&quot;100%&quot; class=&quot;image_block block-1&quot; cellspacing=&quot;0&quot; cellpadding=&quot;0&quot; border=&quot;0&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td style=&quot;width: 200px; padding-right: 0px; padding-left: 0px;&quot; class=&quot;pad&quot;&gt;&lt;div style=&quot;line-height: 10px; text-align: center;&quot; class=&quot;alignment&quot;&gt;&lt;div style=&quot;max-width: 120px;&quot;&gt;&lt;img style=&quot;display: block; width: 120px;&quot; width=&quot;80&quot; src=&quot;https://enerzee.com.br/uploads/config_cliente/46915-85b8d-59f67-asset-1.png&quot; height=&quot;auto&quot;&gt;&lt;/div&gt;&lt;/div&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;/td&gt;&lt;td style=&quot;vertical-align: top; border-width: 0px; border-style: initial; border-color: initial;&quot; width=&quot;33.333333333333336%&quot; class=&quot;column column-3&quot;&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>subjectText</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Solicitação de Feedback sobre a Atuação do Closer - Proposta: {!$Record.Name}</text>
    </textTemplates>
    <variables>
        <name>closerName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recipentsList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
