force-app/main/default/flows/Start_Conversation_Opportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Message_Contrato_enviado_para_assinatura</name>
        <label>Send Message - Contrato enviado para assinatura</label>
        <locationX>50</locationX>
        <locationY>1190</locationY>
        <actionName>sendConversationMessages</actionName>
        <actionType>sendConversationMessages</actionType>
        <connector>
            <targetReference>Get_Last_Messaging_Session</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>messageDefinitionName</name>
            <value>
                <stringValue>Notificacao_contrato_enviado_para_assinatura_Consultor</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>messagingDefinitionInputParameters</name>
            <value>
                <apexValue>[
  {
    &quot;name&quot;: &quot;proposalNumber&quot;,
    &quot;textValue&quot;: &quot;{!proposalAndName}&quot;
  },
  {
    &quot;name&quot;: &quot;name&quot;,
    &quot;textValue&quot;: &quot;{!consultantName}&quot;
  }
]</apexValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>requestType</name>
            <value>
                <stringValue>SendNotificationMessages</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isEnforceMessagingChannelConsent</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>channelConsentType</name>
            <value>
                <stringValue>MessagingEndUser</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>allowedSessionStatus</name>
            <value>
                <stringValue>Any</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>messagingEndUserIds</name>
            <value>
                <elementReference>messagingUserIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sessionLongevityPreference</name>
            <value>
                <stringValue>KeepSessionOpen</stringValue>
            </value>
        </inputParameters>
        <nameSegment>sendConversationMessages</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Send_Message_Contrato_enviado_REVO</name>
        <label>Send Message - Contrato enviado REVO</label>
        <locationX>578</locationX>
        <locationY>1190</locationY>
        <actionName>sendConversationMessages</actionName>
        <actionType>sendConversationMessages</actionType>
        <connector>
            <targetReference>Get_Last_Messaging_Session</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>messageDefinitionName</name>
            <value>
                <stringValue>Contrato_enviado_REVO</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>messagingDefinitionInputParameters</name>
            <value>
                <apexValue>[
  {
    &quot;name&quot;: &quot;oppName&quot;,
    &quot;textValue&quot;: &quot;{!proposalNumber}&quot;
  },
  {
    &quot;name&quot;: &quot;customerName&quot;,
    &quot;textValue&quot;: &quot;{!consultantName}&quot;
  }
]</apexValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>requestType</name>
            <value>
                <stringValue>SendNotificationMessages</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isEnforceMessagingChannelConsent</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>channelConsentType</name>
            <value>
                <stringValue>MessagingEndUser</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>allowedSessionStatus</name>
            <value>
                <stringValue>Any</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>messagingEndUserIds</name>
            <value>
                <elementReference>messagingUserIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sessionLongevityPreference</name>
            <value>
                <stringValue>KeepSessionOpen</stringValue>
            </value>
        </inputParameters>
        <nameSegment>sendConversationMessages</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Send_Message_Iniciar_conversa_sobre_proposta</name>
        <label>Send Message - Iniciar conversa sobre proposta</label>
        <locationX>314</locationX>
        <locationY>1190</locationY>
        <actionName>sendConversationMessages</actionName>
        <actionType>sendConversationMessages</actionType>
        <connector>
            <targetReference>Get_Last_Messaging_Session</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>messageDefinitionName</name>
            <value>
                <stringValue>Notifica_o_Closer</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>messagingDefinitionInputParameters</name>
            <value>
                <apexValue>[
  {
    &quot;name&quot;: &quot;proposal&quot;,
    &quot;textValue&quot;: &quot;{!proposalNumber}&quot;
  },
  {
    &quot;name&quot;: &quot;name&quot;,
    &quot;textValue&quot;: &quot;{!consultantName}&quot;
  }
]</apexValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>requestType</name>
            <value>
                <stringValue>SendNotificationMessages</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isEnforceMessagingChannelConsent</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>channelConsentType</name>
            <value>
                <stringValue>MessagingEndUser</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>allowedSessionStatus</name>
            <value>
                <stringValue>Any</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>messagingEndUserIds</name>
            <value>
                <elementReference>messagingUserIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sessionLongevityPreference</name>
            <value>
                <stringValue>KeepSessionOpen</stringValue>
            </value>
        </inputParameters>
        <nameSegment>sendConversationMessages</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Send_Message_Resultado_P_s_Viabilidade_REVO</name>
        <label>Send Message - Resultado Pós Viabilidade REVO</label>
        <locationX>842</locationX>
        <locationY>1190</locationY>
        <actionName>sendConversationMessages</actionName>
        <actionType>sendConversationMessages</actionType>
        <connector>
            <targetReference>Get_Last_Messaging_Session</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>messageDefinitionName</name>
            <value>
                <stringValue>Resultado_pos_viabilidade_REVO</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>messagingDefinitionInputParameters</name>
            <value>
                <apexValue>[
  {
    &quot;name&quot;: &quot;oppName&quot;,
    &quot;textValue&quot;: &quot;{!proposalNumber}&quot;
  },
  {
    &quot;name&quot;: &quot;customerName&quot;,
    &quot;textValue&quot;: &quot;{!consultantName}&quot;
  }
]</apexValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>requestType</name>
            <value>
                <stringValue>SendNotificationMessages</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isEnforceMessagingChannelConsent</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>channelConsentType</name>
            <value>
                <stringValue>MessagingEndUser</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>allowedSessionStatus</name>
            <value>
                <stringValue>Any</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>messagingEndUserIds</name>
            <value>
                <elementReference>messagingUserIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sessionLongevityPreference</name>
            <value>
                <stringValue>KeepSessionOpen</stringValue>
            </value>
        </inputParameters>
        <nameSegment>sendConversationMessages</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_MessagingUserId</name>
        <label>Assign MessagingUserId</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>messagingUserIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Messaging_User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>messagingUserId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Messaging_User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Selecao_de_mensagem</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_MessagingUserId_by_phone</name>
        <label>Assign MessagingUserId by phone</label>
        <locationX>578</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>messagingUserIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_MessagingUser_By_Phone.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>messagingUserId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_MessagingUser_By_Phone.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Selecao_de_mensagem</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignProposalNumber</name>
        <label>Assign Proposal Number</label>
        <locationX>578</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>proposalNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>proposalAndName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>consultantName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity.ConsultorOportunidade__r.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Obter_Messaging_Channel</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Contrato_enviado_REVO</name>
        <choiceText>Contrato enviado - REVO</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Contrato enviado - REVO</stringValue>
        </value>
    </choices>
    <choices>
        <name>Contratoenviadoparaassinatura</name>
        <choiceText>&lt;span style=&quot;font-size: 14px;&quot;&gt;Contrato enviado para assinatura&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>contrato_enviado_para_assinatura</stringValue>
        </value>
    </choices>
    <choices>
        <name>IniciarConversaSobreProposta</name>
        <choiceText>Iniciar conversa sobre a proposta</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>iniciar_conversa_sobre_proposta</stringValue>
        </value>
    </choices>
    <choices>
        <name>Resultado_p_s_viabilidadeREVO</name>
        <choiceText>Resultado pós viabilidade - REVO</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Resultado pós viabilidadeREVO</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Envio_de_acordo_com_a_mensagem_selecionada</name>
        <label>Envio de acordo com a mensagem selecionada</label>
        <locationX>578</locationX>
        <locationY>1082</locationY>
        <defaultConnector>
            <targetReference>Get_Last_Messaging_Session</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Contrato_enviado_para_assinatura</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Selecione_a_mensagem_que_deseja_enviar_ao_consultor</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Contratoenviadoparaassinatura</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Message_Contrato_enviado_para_assinatura</targetReference>
            </connector>
            <label>Contrato enviado para assinatura</label>
        </rules>
        <rules>
            <name>Iniciar_conversa_sobre_a_proposta</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Selecione_a_mensagem_que_deseja_enviar_ao_consultor</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>IniciarConversaSobreProposta</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Message_Iniciar_conversa_sobre_proposta</targetReference>
            </connector>
            <label>Iniciar conversa sobre a proposta</label>
        </rules>
        <rules>
            <name>Contrato_Enviado_REVO_Whatsapp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Selecione_a_mensagem_que_deseja_enviar_ao_consultor</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Contrato_enviado_REVO</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Message_Contrato_enviado_REVO</targetReference>
            </connector>
            <label>Contrato Enviado - REVO</label>
        </rules>
        <rules>
            <name>Resultado_p_s_viabilidade_REVOWhatsapp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Selecione_a_mensagem_que_deseja_enviar_ao_consultor</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Resultado_p_s_viabilidadeREVO</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Message_Resultado_P_s_Viabilidade_REVO</targetReference>
            </connector>
            <label>Resultado pós viabilidade - REVO</label>
        </rules>
    </decisions>
    <decisions>
        <name>Messaging_User_Encontrado</name>
        <label>Messaging User Encontrado?</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Sim</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Messaging_User.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_MessagingUserId</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
        <rules>
            <name>Nao</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Messaging_User.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_MessagingUser_By_Phone</targetReference>
            </connector>
            <label>Não</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>proposalAndName</name>
        <dataType>String</dataType>
        <expression>{!Get_Opportunity.Numeroproposta__c} + &quot; - &quot; + {!Get_Opportunity.Name}</expression>
    </formulas>
    <interviewLabel>Start Conversation - Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Start Conversation - Opportunity</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Last_Messaging_Session</name>
        <label>Get Last Messaging Session</label>
        <locationX>578</locationX>
        <locationY>1382</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Atualizar_vinculo_da_sessao_com_oportunidade</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MessagingEndUserId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>messagingUserId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MessagingSession</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Messaging_User</name>
        <label>Get Messaging User</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Messaging_User_Encontrado</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Consultor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity.ConsultorOportunidade__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>MessagingChannelId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Obter_Messaging_Channel.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MessagingEndUser</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_MessagingUser_By_Phone</name>
        <label>Get MessagingUser By Phone</label>
        <locationX>578</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_MessagingUserId_by_phone</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Telefone_Formatado__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity.ConsultorOportunidade__r.Telefone_Formatado__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>MessagingChannelId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Obter_Messaging_Channel.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MessagingEndUser</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>578</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignProposalNumber</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obter_Messaging_Channel</name>
        <label>Obter Messaging Channel</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Messaging_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MessagingPlatformKey</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>417529274787733</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MessagingChannel</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Atualizar_vinculo_da_sessao_com_oportunidade</name>
        <label>Atualizar vinculo da sessão com oportunidade</label>
        <locationX>578</locationX>
        <locationY>1490</locationY>
        <connector>
            <targetReference>Navigate_to_opp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Last_Messaging_Session.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>MessagingSession</object>
    </recordUpdates>
    <screens>
        <name>Navigate_to_opp</name>
        <label>Navigate to opp</label>
        <locationX>578</locationX>
        <locationY>1598</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>navigate</name>
            <extensionName>c:navigateToRecord</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Selecao_de_mensagem</name>
        <label>Seleção de mensagem</label>
        <locationX>578</locationX>
        <locationY>974</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Envio_de_acordo_com_a_mensagem_selecionada</targetReference>
        </connector>
        <fields>
            <name>Selecione_a_mensagem_que_deseja_enviar_ao_consultor</name>
            <choiceReferences>Contratoenviadoparaassinatura</choiceReferences>
            <choiceReferences>IniciarConversaSobreProposta</choiceReferences>
            <choiceReferences>Contrato_enviado_REVO</choiceReferences>
            <choiceReferences>Resultado_p_s_viabilidadeREVO</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Selecione a mensagem que deseja enviar ao consultor</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>previewIniciarConversa</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Olá, {!Get_Opportunity.ConsultorOportunidade__r.Name}! Aqui é {!$User.FirstName}   {!$User.LastName} da Enerzee. Tudo bem? 😊&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Vamos falar sobre a proposta {!proposalAndName}.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Selecione_a_mensagem_que_deseja_enviar_ao_consultor</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>IniciarConversaSobreProposta</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>previewContratoEnviado</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Olá, {!Get_Opportunity.ConsultorOportunidade__r.Name}! Aqui é {!$User.FirstName}   {!$User.LastName} da Enerzee. Tudo bem? 😊&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Os documentos da proposta {!proposalAndName} foram enviados para assinatura.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 16px;&quot;&gt;O Cliente receberá dois link&apos;s de assinatura no e-mail, contrato/proposta em um link e procuração em outro link,&amp;nbsp;que deverão ser assinados separadamente.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 16px;&quot;&gt;Auxilie seu Cliente quanto a assinatura de todos os documentos.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 16px; background-color: rgb(243, 243, 243);&quot;&gt; &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Selecione_a_mensagem_que_deseja_enviar_ao_consultor</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Contratoenviadoparaassinatura</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ContratoEnviadoREVOMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px; background-color: transparent;&quot;&gt;Olá, &lt;/span&gt;&lt;span style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!Get_Opportunity.ConsultorOportunidade__r.Name}&lt;/span&gt;&lt;span style=&quot;font-size: 16px; background-color: transparent;&quot;&gt;! Aqui é &lt;/span&gt;&lt;span style=&quot;font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;{!$User.FirstName} {!$User.LastName}&lt;/span&gt;&lt;span style=&quot;font-size: 16px; background-color: transparent;&quot;&gt; da Enerzee. Tudo bem? 😊&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; background-color: transparent;&quot;&gt;Informamos que o contrato REVO referente a oportunidade {!proposalAndName} foi enviado para assinatura no e-mail do cliente.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; background-color: transparent;&quot;&gt;Fico à disposição para qualquer esclarecimento ou assistência adicional.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Selecione_a_mensagem_que_deseja_enviar_ao_consultor</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Contrato_enviado_REVO</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ResultadoPosviabilidadeREVOMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(0, 0, 0);&quot;&gt; &lt;/span&gt;&lt;span style=&quot;font-size: 16px; color: rgb(0, 0, 0);&quot;&gt;Olá, &lt;/span&gt;&lt;span style=&quot;font-size: 16px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!Get_Opportunity.ConsultorOportunidade__r.Name}&lt;/span&gt;&lt;span style=&quot;font-size: 16px; color: rgb(0, 0, 0);&quot;&gt;! Aqui é&lt;/span&gt;&lt;span style=&quot;font-size: 16px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!$User.FirstName}   {!$User.LastName}&lt;/span&gt;&lt;span style=&quot;font-size: 16px; color: rgb(0, 0, 0);&quot;&gt; da Enerzee. Tudo bem? 😊&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; color: rgb(0, 0, 0);&quot;&gt;Informamos que a análise pós viabilidade técnica referente a oportunidade {!proposalAndName}, foi enviado para seu e-mail.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; color: rgb(0, 0, 0);&quot;&gt;Destacamos que foram constados alguns fatores que afetam a geração de energia do sistema simulado anteriormente. (Área com sombreamento, orientação em que as placas serão instaladas, distância das placas até o inversor, etc). Desta forma, aguardamos o seu contato com o cliente para que seja escolhido o plano desejado.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; color: rgb(0, 0, 0);&quot;&gt;Fico à disposição para qualquer esclarecimento ou assistência adicional.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Selecione_a_mensagem_que_deseja_enviar_ao_consultor</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Resultado_p_s_viabilidadeREVO</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Enviar</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>consultantName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>messagingUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>messagingUserIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>proposalNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
