force-app/main/default/flows/Task_Before_Insert.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Verificar_campo_preenchido_para_consulta_do_owner</name>
        <label>Verificar campo preenchido para consulta do owner</label>
        <locationX>578</locationX>
        <locationY>503</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Who</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WhoId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>WhatId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Consultar_Lead</targetReference>
            </connector>
            <label>Who</label>
        </rules>
        <rules>
            <name>WhatId</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WhatId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Consultar_Oportunidade</targetReference>
            </connector>
            <label>WhatId</label>
        </rules>
    </decisions>
    <decisions>
        <name>Verificar_se_owner_da_task</name>
        <label>Verificar se owner da task</label>
        <locationX>974</locationX>
        <locationY>395</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Usu_rio_de_integracao</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Consultar_usuario_de_integracao.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Verificar_campo_preenchido_para_consulta_do_owner</targetReference>
            </connector>
            <label>Usuário de integração</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Task - Before Insert {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Task - Before Insert</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Consultar_Lead</name>
        <label>Consultar Lead</label>
        <locationX>50</locationX>
        <locationY>611</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Atualizar_task_com_Owner_do_lead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Consultar_Oportunidade</name>
        <label>Consultar Oportunidade</label>
        <locationX>578</locationX>
        <locationY>611</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Atualizar_task_com_Owner_da_Oportunidade</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Consultar_usuario_de_integracao</name>
        <label>Consultar usuário de integração</label>
        <locationX>974</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Verificar_se_owner_da_task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Username</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>integracao@lab065.com</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Atualizar_task_com_Owner_da_Oportunidade</name>
        <label>Atualizar task com Owner da Oportunidade</label>
        <locationX>578</locationX>
        <locationY>719</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Consultar_Oportunidade.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Atualizar_task_com_Owner_do_lead</name>
        <label>Atualizar task com Owner do lead</label>
        <locationX>50</locationX>
        <locationY>719</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Consultar_Lead.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>848</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Consultar_usuario_de_integracao</targetReference>
        </connector>
        <object>Task</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
