force-app/main/default/flows/UpdateStatusServiceAppointment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Atribuir_Inicio_real</name>
        <label>Atribuir Inicio real</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>Compromisso_relacionado.ActualStartTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DataeHoradaAcao</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Atualizar_compromisso_relacionado</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Atribuir_status_equivalente_ao_compromisso1</name>
        <label>Atribuir status equivalente ao compromisso</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>Compromisso_relacionado.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Atribuir_Inicio_real</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Atribuir_status_equivalente_ao_compromisso2</name>
        <label>Atribuir status equivalente ao compromisso</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>Compromisso_relacionado.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Atribuir_Termino_real1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Atribuir_status_equivalente_ao_compromisso3</name>
        <label>Atribuir status equivalente ao compromisso</label>
        <locationX>578</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>Compromisso_relacionado.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Cannot Complete</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Atribuir_Termino_real2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Atribuir_status_equivalente_ao_compromisso4</name>
        <label>Atribuir status equivalente ao compromisso</label>
        <locationX>842</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>Compromisso_relacionado.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Atribuir_Termino_real3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Atribuir_Termino_real1</name>
        <label>Atribuir Termino real</label>
        <locationX>314</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>Compromisso_relacionado.ActualEndTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DataeHoradaAcao</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Atualizar_compromisso_relacionado</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Atribuir_Termino_real2</name>
        <label>Atribuir Termino real</label>
        <locationX>578</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>Compromisso_relacionado.ActualEndTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DataeHoradaAcao</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Atualizar_compromisso_relacionado</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Atribuir_Termino_real3</name>
        <label>Atribuir Termino real</label>
        <locationX>842</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>Compromisso_relacionado.ActualEndTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DataeHoradaAcao</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Atualizar_compromisso_relacionado</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Se_existir_um_compromisso</name>
        <label>Se existir um compromisso</label>
        <locationX>974</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>sim</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Compromisso_relacionado.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Status_da_ordem_de_trabalho</targetReference>
            </connector>
            <label>sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status_da_ordem_de_trabalho</name>
        <label>Status da ordem de trabalho</label>
        <locationX>578</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Em_andamento</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Em andamento</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Atribuir_status_equivalente_ao_compromisso1</targetReference>
            </connector>
            <label>Em andamento</label>
        </rules>
        <rules>
            <name>Comcluido</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Concluído</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Atribuir_status_equivalente_ao_compromisso2</targetReference>
            </connector>
            <label>Comcluido</label>
        </rules>
        <rules>
            <name>Nao_possivel_concluir</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Não é possível concluir</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Atribuir_status_equivalente_ao_compromisso3</targetReference>
            </connector>
            <label>Não é possível concluir</label>
        </rules>
        <rules>
            <name>Cancelado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelado</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Atribuir_status_equivalente_ao_compromisso4</targetReference>
            </connector>
            <label>Cancelado</label>
        </rules>
    </decisions>
    <description>Atualização do status do compromisso relacionado com relação a ordem de trabalho,</description>
    <environments>Default</environments>
    <formulas>
        <name>DataeHoradaAcao</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <interviewLabel>Update status servic {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Status ServiceAppointment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Compromisso_relacionado</name>
        <label>Compromisso relacionado</label>
        <locationX>974</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Se_existir_um_compromisso</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Atualizar_compromisso_relacionado</name>
        <label>Atualizar compromisso relacionado</label>
        <locationX>578</locationX>
        <locationY>1031</locationY>
        <inputReference>Compromisso_relacionado</inputReference>
    </recordUpdates>
    <start>
        <locationX>848</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Compromisso_relacionado</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>WorkOrder</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
