force-app/main/default/flows/Viability_Solicitacao_de_Viabilidade_Local.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email_Enviar_solicitacao_de_viabilidade</name>
        <label>Email - Enviar solicitação de viabilidade</label>
        <locationX>50</locationX>
        <locationY>971</locationY>
        <actionName>EmailWithAttachmentById</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Registrar_Chatter_Email</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ccEmail</name>
            <value>
                <elementReference>EmailViabilidade</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contentDocumentId</name>
            <value>
                <elementReference>ObtemPDF.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientEmail</name>
            <value>
                <elementReference>EmailConsultor</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subject</name>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputParameters>
        <nameSegment>EmailWithAttachmentById</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>AtribuiEmailConsultor</name>
        <label>Atribui e-mail consultor</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>EmailConsultor</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Oportunidade.ConsultorOportunidade__r.Email__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>EmailValido</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>EmailValido</name>
        <label>Email valido?</label>
        <locationX>182</locationX>
        <locationY>755</locationY>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>EmailValidoSim</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EmailConsultor</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ObtemPDF</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>Potencia_Nominal_do_Sistema_kWp_Menor_que_10</name>
        <label>Potência nominal do Sistema (kW) Menor que 10 ?</label>
        <locationX>380</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>Sim</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Oportunidade.PotenciaNominalSistema__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>10.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Oportunidade.PotenciaNominalSistema__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Viabilidade_Local</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Viability - Solicitação de Viabilidade Local {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Viability - Solicitação de Viabilidade Local</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Registrar_Chatter_Email</name>
        <label>Registrar evento no Chatter</label>
        <locationX>50</locationX>
        <locationY>1085</locationY>
        <inputAssignments>
            <field>Body</field>
            <value>
                <elementReference>ChatterMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>TextPost</stringValue>
            </value>
        </inputAssignments>
        <object>FeedItem</object>
    </recordCreates>
    <recordLookups>
        <name>ObtemPDF</name>
        <label>Obtém PDF</label>
        <locationX>50</locationX>
        <locationY>863</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Email_Enviar_solicitacao_de_viabilidade</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContentDocumentId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>069U500000D0BvFIAV</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentVersion</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Oportunidade</name>
        <label>Oportunidade</label>
        <locationX>380</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Potencia_Nominal_do_Sistema_kWp_Menor_que_10</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Viabilidade_Local</name>
        <label>Disponibilizar Viabilidade Local</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>AtribuiEmailConsultor</targetReference>
        </connector>
        <inputAssignments>
            <field>EstudoViabilidadeLocal__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Oportunidade</targetReference>
        </connector>
        <filterFormula>{!$User.Username} != &apos;integracao@lab065.com&apos;</filterFormula>
        <object>ViabilityStudy__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <textTemplates>
        <name>Body</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Prezado(a) {!Oportunidade.ConsultorOportunidade__r.Name},&lt;/p&gt;&lt;p&gt;Gostaríamos de informar que a proposta &lt;strong&gt;{!Oportunidade.Numeroproposta__c} - {!Oportunidade.Name}&lt;/strong&gt; encontra-se atualmente na etapa &lt;strong&gt;{!Oportunidade.StageName}&lt;/strong&gt;.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Para darmos continuidade ao processo, solicitamos que nos envie os dados do local no formulário abaixo:&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://enrz.my.site.com/viabilidade/s/proposta/view?id={!$Record.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Clique aqui para acessar o formulário&lt;/a&gt;.&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>ChatterMessage</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Fluxo &quot;Viability - Solicitação de Viabilidade Local&quot;: e-mail enviado para {!EmailConsultor} (cópia: {!EmailViabilidade}) em {!$Flow.CurrentDateTime}.</text>
    </textTemplates>
    <textTemplates>
        <name>Subject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Análise de Viabilidade Local - {!Oportunidade.Name}</text>
    </textTemplates>
    <variables>
        <name>EmailConsultor</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmailViabilidade</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>viabilidade@enerzee.com.br</stringValue>
        </value>
    </variables>
</Flow>
